#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Faerie Forest Nymph
    name= _ "Forest Nymph"
    race=faerie
    gender=female
    image="units/faeries-sylvan/forest-nymph.png"

    halo="halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150"
    profile="portraits/elves/druid.webp"
    hitpoints=36
    movement_type=woodlandfloat
    {FAERIE_MOVETYPE}
    movement=6
    level=2
    alignment=neutral
    experience=84
    advances_to=Faerie Bloomheart
    cost=33
    usage=healer
    undead_variation=null
    description= _ ""

    [abilities]
        {ABILITY_HEALS_6HP}
        {ABILITY_UNPOISON}
    [/abilities]

    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM_RANGE "units/faeries-sylvan/forest-nymph.png" "units/faeries-sylvan/forest-nymph.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/faeries-sylvan/forest-nymph.png" "units/faeries-sylvan/forest-nymph.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }

    [attack]
        name=faerie touch
        description= _ "faerie touch"
        icon=attacks/touch-faerie.png
        type=impact
        range=melee
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=ensnare
        description= _ "ensnare"
        icon=attacks/entangle.png
        type=impact
        range=ranged
        damage=2
        number=5
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-240

        [frame]
            image="units/faeries-sylvan/forest-nymph.png:520"
        [/frame]

        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-450
        [frame]
            image="units/faeries-sylvan/forest-nymph.png:350"
            halo=halo/elven/nature-halo[1~6].png:75,halo/elven/nature-halo[7~8].png:50
            halo_x,halo_y=0,-12
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
        [frame]
            image="units/faeries-sylvan/forest-nymph.png:350"
        [/frame]
    [/attack_anim]

[/unit_type]
