#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Centaur Sentinel
    name= _ "female^Sentinel"
    race=centaur
    gender=female
    image="units/centaurs/sentinel.png"
    hitpoints=46
    movement_type=centaurfoot
    movement=7
    experience=70
    level=2
    alignment=neutral
    advances_to=Centaur Spearmaiden
    cost=27
    usage=fighter

    description= _ "Centaur Sentinels are centaurs who..."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    {DEFENSE_ANIM "units/centaurs/sentinel.png" "units/centaurs/sentinel.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]

    [attack]
        name=javelin
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=8
        number=1
    [/attack]

    {GENERIC_MOUNTED_SPEAR_ANIM spear "units/centaurs/sentinel.png"}
    {GENERIC_JAVELIN_ANIM javelin "units/centaurs/sentinel.png"}
[/unit_type]
