#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Centaur Spearmaiden
    name= _ "female^Spearmaiden"
    race=centaur
    gender=female
    image="units/centaurs/spearmaiden.png"
    hitpoints=48
    movement_type=centaurfoot
    movement=7
    experience=70
    level=3
    alignment=neutral
    advances_to=Centaur Spearmaiden
    cost=45
    usage=fighter
    description= _ "..."

    {NOTE_PROTECTION}

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [abilities]
        {ABILITY_PROTECTION}
    [/abilities]

    {DEFENSE_ANIM "units/centaurs/spearmaiden.png" "units/centaurs/spearmaiden.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=14
        number=3
    [/attack]

    [attack]
        name=javelin
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=12
        number=1
    [/attack]

    {GENERIC_MOUNTED_SPEAR_ANIM spear "units/centaurs/spearmaiden.png"}
    {GENERIC_JAVELIN_ANIM javelin "units/centaurs/spearmaiden.png"}
[/unit_type]
