#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Centaur Warden
    name= _ "female^Warden"
    race=centaur
    gender=female
    image="units/centaurs/warden.png"
    hitpoints=38
    movement_type=centaurfoot
    movement=7
    experience=37
    level=1
    alignment=neutral
    advances_to=Centaur Sentinel
    cost=15
    usage=fighter
    description= _ "..."
    die_sound=human-female-die-1.wav

    {DEFENSE_ANIM "units/centaurs/warden.png" "units/centaurs/warden.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]

    [attack]
        name=javelin
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=1
    [/attack]

    {GENERIC_MOUNTED_SPEAR_ANIM spear "units/centaurs/warden.png"}
    {GENERIC_JAVELIN_ANIM javelin "units/centaurs/warden.png"}
[/unit_type]