#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Bone Guardian
    name= _ "Bone Guardian"
    race=undead
    image="units/undead-skeletal/bone-guard.png"
    hitpoints=49
    movement_type=undeadfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    usage=fighter
    description= _ "Stripped of all flesh by age or deliberate design, the Bone Guardian is the hardened remnant of a once-dutiful custodian. Its bones, bleached and seasoned by centuries beneath scorching sands, resist both fire and the crushing weight of battle. Where others might falter or flee, a Bone Guardian stands resolute — an unyielding wall of rattling death that no master need ever fear will abandon its post."
    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/bone-guard-defend1.png" "units/undead-skeletal/bone-guard-defend2.png" {SOUND_LIST:SKELETON_HIT} }

    [resistance]
        fire=100
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_SUBMERGE}
		{ABILITY_PROTECTION}
    [/abilities]

    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=10
        number=3
    [/attack]
    [attack]
        name=javelin
        description= _ "javelin"
        icon=attacks/javelin-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=2
    [/attack]

    {GENERIC_SPEAR_ANIM spear "units/undead-skeletal/bone-guard.png"}
    {GENERIC_JAVELIN_ANIM javelin "units/undead-skeletal/bone-guard.png"}
[/unit_type]