#textdomain wesnoth-War_of_Legends
[unit_type]
	id=Reptilian Terror
	name= _ "Reptilian Terror"
	race=undead
	{TRAIT_FEARLESS_MUSTHAVE}
	image="units/undead/reptilian-terror.png"
	hitpoints=60
	movement_type=lizard
	movement=5
	[resistance]
		arcane=90
		blade=90
		cold=80
		fire=90
		impact=100
		pierce=80	
	[/resistance]
	[defense]
		forest=50
		hills=50
		sand=50
		mountains=50
		cave=50
	[/defense]	
	experience=150
	level=3
	alignment=chaotic
	advances_to=null
    {AMLA_DEFAULT}
	cost=48
	usage=fighter
	description= _ "The practice of necromancy is unknown among the reptilians, but their augurs practice other arts, older and equally vile. The most terrible of these uses an elixir of rare herbs and dark rituals to induce a deathlike trance in their still-living brethren; in this state the lifeless terrors act as barely-sentient slaves, commanded by their creators' dark magics. It is speculated by some loremasters that these creatures are a precursor to the vile ghoul, and that human necromancers learned such craft from the reptilians. Few have a chance to study these unliving abominations in detail, however; while alone these shambling forms may seem slow and clumsy, they retain a deadly pack instinct and once they have their prey surrounded they rip into it with astonishing speed and viciousness."
	die_sound=hiss-die.wav
	{DEFENSE_ANIM "units/undead/saurian-terror.png" "units/undead/saurian-terror.png" hiss-hit.wav }
    [abilities]
		{ABILITY_SELF_HEAL}
    [/abilities]
	[attack]
		name=claws
		description=_"claws"
		icon=attacks/claws-undead.png
		type=blade
		range=melee
		damage=10
		number=4
	[/attack]
	[attack_anim]
		[filter_attack]
			name=claws
		[/filter_attack]
		[frame]
			begin=-250
			end=-125
			image="units/undead/reptilian-terror.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-125
				end=-50
				image="units/undead/reptilian-terror.png"
				sound=claws.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-125
				end=-50
				image="units/undead/reptilian-terror.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			begin=-50
			end=200
			image="units/undead/reptilian-terror.png"
		[/frame]
	[/attack_anim]
[/unit_type]
