#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Risen Hulk
    name= _ "Risen Hulk"
    race=undead
    image="units/undead/risen_hulk.png"
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=62
    movement_type=thrallfoot
    movement=4
    experience=82
    level=2
    alignment=chaotic
    advances_to=Risen Colossus
    cost=31
    usage=fighter
    description= _ "Although their ever increasing size and suffocating stench of decay hinders their ability to pass as a human in any kind of situation, the iron thrall exibhits enough strengh to be armed with a strong weapon capable of crushing even the most valiant of knights."
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    {DEFENSE_ANIM "units/undead/risen_hulk.png" "units/undead/risen_hulk.png" {SOUND_LIST:ZOMBIE_WEAK_HIT} }
	
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/undead/risen_hulk.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
