#textdomain wesnoth-Whispers_from_the_Sands
[unit_type]
    id=Risen Colossus
    name= _ "Risen Colossus"
    race=undead
    image="units/undead/risen_colossus.png"
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=82
    movement_type=gruefoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
	[resistance]
		fire=30
		impact=130
		arcane=30
	[/resistance]

    description= _ "An abomination only conceivably worked on by experienced necromancers, the black thrall towers over its master's enemies with a combination of hunger and rage atypical of their creations. Its unusual behaviour and ghoul-like attitude makes even most of their masters fearful of even calling upon their help."
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    {DEFENSE_ANIM "units/undead/risen_colossus.png" "units/undead/risen_colossus.png" {SOUND_LIST:ZOMBIE_WEAK_HIT} }
	
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/undead/risen_colossus.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
