#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Risen Serf
    name= _ "Risen Serf"
    race=undead
    image="units/undead/risen_serf.png"
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=42
    movement_type=thrallfoot
    movement=4
    experience=45
    level=1
    alignment=chaotic
    advances_to=Risen Hulk
    cost=17
    usage=fighter
    description= _ "The life-like appearance of the thrall can confuse people when seen from afar or in the darkness. Nerverthless, the sighting of its swollen and blackened body reveals his true nature as a creation of an evil mind."
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    {DEFENSE_ANIM "units/undead/risen_serf.png" "units/undead/risen_serf.png" {SOUND_LIST:ZOMBIE_WEAK_HIT} }
	
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/undead/risen_serf.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
