#textdomain wesnoth-Whispers_from_the_Sands

[unit_type]
    id=Skeleton Custodian
    name= _ "Skeleton Custodian"
    race=undead
    image="units/undead-skeletal/custodian.png"
    hitpoints=36
    movement_type=undeadfoot
    movement=5
    experience=38
    advances_to=Bone Guardian
    level=1
    alignment=chaotic
    cost=15
    usage=fighter
	{AMLA_DEFAULT}
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    
    description= _ "From a distance, a custodian might be mistaken for a living soldier — until the stench of decay and its bloated, blackened flesh betray what it truly is. Bound to guard the sacred places of the dead, these ancient sentinels patrol their posts with a relentless, unthinking devotion that no living soldier could sustain."
    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/custodian-defend.png" "units/undead-skeletal/custodian-defend.png" {SOUND_LIST:SKELETON_HIT} }
	
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        alpha=0.8~0.5:126,0.5~0.8:126
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-250
        [frame]
            image="units/undead-skeletal/custodian.png:[150,100*2,90,80]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead-skeletal/custodian.png:50"
        [/frame]
    [/attack_anim]

    {GENERIC_JAVELIN_ANIM javelin "units/undead-skeletal/custodian.png"}
[/unit_type]
