#textdomain wesnoth-War_of_Legends

[unit_type]
    id="Grim Knight"
    name= _ "Grim Knight"
    race=undead
    image="units/undead-skeletal/grim-knight.png"
    hitpoints=64
    movement_type=undeadfoot
    [defense]
        hills=60
        mountains=50
        fungus=60
        forest=-70
        village=60
    [/defense]
    [resistance]
        blade=80
    [/resistance]
    movement=9
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    cost=37
    usage=scout
    description= _ "When a Chocobone has served long enough in the undead legions, the dark magic that animates it begins to seep into the very bones of both rider and mount, forging them into a single, terrible entity known as the Grim Knight. The skeletal warrior and its bird-like steed become one in purpose and form, their movements synchronized to a degree that defies the limitations of undeath, and they wield their spears with the grim determination of those who have forgotten everything except the art of war. They are the elite cavalry of the lost civilization's undead armies, striking with the precision of death itself as they charge into battle with a dread that chills the hearts of the living."
    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/grim-knight.png" "units/undead-skeletal/grim-knight-defend-1.png" {SOUND_LIST:SKELETON_HIT} }
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_DREAD}
        [/specials]
        damage=13
        number=2
        icon="attacks/spear-orcish.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/undead-skeletal/grim-knight-attack-[1~2].png:100"
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/undead-skeletal/grim-knight-attack-3.png:100"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/undead-skeletal/grim-knight-attack-3.png:50"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            image="units/undead-skeletal/grim-knight-attack-[4,2,1].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
