#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dark Rider
    name= _ "Dark Rider"
    race=undead
    image="units/undead-skeletal/dark-rider.png"
    hitpoints=34
    movement_type=undeadmountedfoot
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=Dark Invader
    cost=22
    usage=fighter
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]

    description= _ "The life-like appearance of the Dark Rider can confuse people when seen from afar or in the darkness. Nevertheless, the sighting of its swollen and blackened body reveals his true nature as a creation of an evil mind."

    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/dark-rider-defend1.png" "units/undead-skeletal/dark-rider-defend2.png" {SOUND_LIST:SKELETON_HIT} }

    [attack]
        name=baneblade
        description=_"baneblade"
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_ARCANE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/undead-skeletal/dark-rider-attack[1~4].png:125"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead-skeletal/dark-rider.png:200"
        [/frame]
    [/attack_anim]

    [animation]
        apply_to=recruited
        start_time=-800
        blend_color=0,0,0
        [frame]
            alpha=0~1:1200
            directional_x=-64~0
            blend_ratio=1~0:1200
            image="units/undead-skeletal/dark-rider.png:1200"
        [/frame]
        [sound_frame]
            sound=horse-die.ogg
        [/sound_frame]
    [/animation]
[/unit_type]
