#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dark Invader
    name= _ "Dark Invader"
    race=undead
    image="units/undead-skeletal/dark-invader.png"
    hitpoints=45
    movement_type=undeadmountedfoot
    movement=8
    experience=120
    level=2
    alignment=chaotic
    cost=42
    usage=fighter

    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    {AMLA_DEFAULT}

    description= _ "The life-like appearance of the Dark Invader can confuse people when seen from afar or in the darkness. Nevertheless, the sighting of its swollen and blackened body reveals his true nature as a creation of an evil mind."
    
    
    

    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/dark-invader.png" "units/undead-skeletal/dark-invader.png" {SOUND_LIST:SKELETON_HIT} }

    [attack]
        name=baneblade
        description=_"baneblade"
        type=arcane
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        alpha=0.8~0.5:126,0.5~0.8:126
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-250
        [frame]
            image="units/undead-skeletal/dark-invader.png:[150,100*2,90,80]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead-skeletal/dark-invader.png:50"
        [/frame]
    [/attack_anim]

    [animation]
        apply_to=recruited
        start_time=-800
        blend_color=0,0,0
        [frame]
            alpha=0~1:1200
            directional_x=-64~0
            blend_ratio=1~0:1200
            image="units/non-heroic/barrow_wight.png:1200"
        [/frame]
        [sound_frame]
            sound=horse-die.ogg
        [/sound_frame]
    [/animation]
[/unit_type]
