#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Umbral Sovereign
    name= _ "Umbral Sovereign"
    race=undead
    halo="halo/obscures-aura.png"
    image="units/undead/umbral-sovereign.png"
    profile="portraits/undead/wraith.webp"
    hitpoints=44
    movement_type=undeadspirit
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=81
    usage=mixed fighter
    description= _ "The Umbral Sovereign is not merely a powerful undead entity but a force of nature unto itself—the inevitable conclusion of a lich's journey through immortality. Having ruled over the undead for so long that they have forgotten the taste of mortal food, the warmth of sunlight, and even the weight of bones, they exist now as sovereign darkness given purpose and memory. Where they drift, shadows deepen and hope dies. They are proof that some questions—like whether undeath can be prolonged indefinitely—are better left unanswered, for the answer is far more terrible than ignorance could ever be."
    die_sound=lich-die.ogg

    [abilities]
        {ABILITY_OBSCURE}
        {ABILITY_SHADOWDASH}
    [/abilities]

    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_REAP}
        [/specials]
    [/attack]

    [attack]
        name="dark tempest"
        type="arcane"
        description=_"dark tempest"
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_PLAGUE_TYPE (Ghost)}
        [/specials]
        range="ranged"
        damage=10
        number=6
        icon="attacks/missile-chaos.png"
    [/attack]

    [standing_anim]
        start_time=0
        alpha=0.6~1.0:1500,1.0~0.8:900,0.8~1.0:900,1.0~0.6:1500
        [frame]
            image="units/undead/umbral-sovereign[1~4,1~4,1~4,1~4].png:300"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        alpha=0.6~1.0:1500,1.0~0.75:900,0.75~1.0:900,1.0~0.6:1500
        [frame]
            image="units/undead/umbral-sovereign[1~4,1~4,1~4,1~4].png:300"
        [/frame]
    [/standing_anim]
[/unit_type]