#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Rime Wraith
    name= _ "Rime Wraith"
    race=elemental
    image="units/meloen/rime_wraith.png"
    {TRAIT_ELEMENTAL}

    hitpoints=28
    movement_type=rime_wisp
    movement=8
    experience=42
    level=1
    alignment=neutral
    advances_to=Rime Reaver
    cost=24
    usage=scout
    description= _ "Ice ghosts are manifestations of magical energies that appear in cold and icy regions of Wesnoth."
    [abilities]
        {ABILITY_SELF_HEAL}
    [/abilities]

    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/meloen/rime_wraith.png" "units/meloen/rime_wraith.png" wail-sml.wav }
    [attack]
        name="frost claws"
        description=_"frost claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_CHILL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name="frost claws"
        [/filter_attack]
        start_time=-150

        [frame]
            image=units/meloen/rime_wraith.png:150
        [/frame]
        {SOUND:HIT_AND_MISS wail-sml.wav miss-1.ogg -100}
        [frame]
            image=units/meloen/rime_wraith.png:150
        [/frame]
    [/attack_anim]
[/unit_type]
