#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Rime Reaver
    name= _ "Rime Reaver"
    race=elemental
    image="units/meloen/rime_reaver.png"
    {TRAIT_ELEMENTAL}

    hitpoints=40
    movement_type=rime_wisp
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=scout
    description= _ "The Reaver has drifted so long it no longer resembles the aimless thing it once was, its passage through countless skirmishes hardening it into something that mends itself as readily as it wounds others. It stands as much a monument to Panarbori's spent rage as the wildfires and storms that share its origin — not through fury, but through a cold that simply refuses to end."
    [abilities]
        {ABILITY_SELF_HEAL}
    [/abilities]

    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/meloen/rime_reaver.png" "units/meloen/rime_reaver.png" wail-sml.wav }
    [attack]
        name="frost claws"
        description=_"frost claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_CHILL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name="frost claws"
        [/filter_attack]
        start_time=-150

        [frame]
            image=units/meloen/rime_reaver.png:150
        [/frame]
        {SOUND:HIT_AND_MISS wail-sml.wav miss-1.ogg -100}
        [frame]
            image=units/meloen/rime_reaver.png:150
        [/frame]
    [/attack_anim]
[/unit_type]
