#textdomain wesnoth-War_of_Legends

# Variant HP, MP, and MP types for the UE
#define UNIT_BODY_WOL_UE_STATS HP_AMOUNT MOVETYPE_ID MOVES_NUMBER
    hitpoints={HP_AMOUNT}
    movement_type={MOVETYPE_ID}
    movement={MOVES_NUMBER}
#enddef

#define UNIT_BODY_WOL_UE_ATTACK ATTACK_ID_NAME ATTACK_NAME ATTACK_ICON ATTACK_RANGE ATTACK_TYPE ATTACK_DAMAGE ATTACK_NUMBER EXTRA
    [attack]
        name={ATTACK_ID_NAME}
        description={ATTACK_NAME}
        icon={ATTACK_ICON}
        range={ATTACK_RANGE}
        type={ATTACK_TYPE}
        damage={ATTACK_DAMAGE}
        number={ATTACK_NUMBER}
        {EXTRA}
    [/attack]
#enddef

# available variants:
# bramble/frost/quake
# sandstorm/swamp/tornado/
# whirlpool

#define UNIT_BODY_WOL_UE_GRAPHIC VARIANT_NAME
    units/meloen/unstable_{VARIANT_NAME}_form.png
#enddef

#define WOL_UE_ANIM_BRAMBLE
    image="units/meloen/unstable_bramble_form.png"
    {DEFENSE_ANIM "units/meloen/unstable_bramble_form.png" "units/meloen/unstable_bramble_form.png" wose-hit.ogg}
    die_sound=wose-die.ogg
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-500

        {SOUND:HIT_AND_MISS wose-attack.ogg wose-miss.ogg -500}

        [frame]
            image="units/meloen/unstable_bramble_form.png:[400,225]"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=entangle
        [/filter_attack]

        missile_start_time=-250
        [missile_frame]
            offset=1.0
            duration=250
            image=projectiles/entangle.png
            image_diagonal=projectiles/entangle.png
        [/missile_frame]

        start_time=-300
        attack_sound_start_time=-100

        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]

        [frame]
            image="units/meloen/unstable_bramble_form.png"
            halo="halo/elven/nature-halo[1~8].png:75"
        [/frame]
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_FROST
    image="units/meloen/unstable_frost_form.png"
    {DEFENSE_ANIM "units/meloen/unstable_frost_form.png" "units/meloen/unstable_frost_form.png" staff.wav }
    {GENERIC_SPEAR_ANIM icicle "units/meloen/unstable_frost_form.png"}
    [attack_anim]
        [filter_attack]
            name=gelid aura
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        [frame]
            duration=50
            image="units/meloen/unstable_frost_form.png"
        [/frame]
        [frame]
            duration=60
            image="units/meloen/unstable_frost_form.png"
            sound=magicmissile.wav
        [/frame]
        [frame]
            duration=70
            image="units/meloen/unstable_frost_form.png"
        [/frame]
        [frame]
            duration=80
            image="units/meloen/unstable_frost_form.png"
        [/frame]
        [frame]
            duration=90
            image="units/meloen/unstable_frost_form.png"
        [/frame]
        [frame]
            duration=100
            image="units/meloen/unstable_frost_form.png"
        [/frame]
        [frame]
            duration=100
            image="units/meloen/unstable_frost_form.png"
        [/frame]
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_QUAKE
    image="units/meloen/unstable_quake_form.png"
    {DEFENSE_ANIM "units/meloen/unstable_quake_form.png" "units/meloen/unstable_quake_form.png" {SOUND_LIST:DRAKE_HIT}}
    die_sound=drake-die.ogg
    {GENERIC_FIST_ANIM fist "units/meloen/unstable_quake_form.png"}
    [attack_anim]
        [filter_attack]
            name=boulder
        [/filter_attack]
        start_time=-800
        [missile_frame]
            begin=-800
            end=0
            halo="projectiles/stone-large.png"
            halo_x=24~0
            halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
            offset=0.0~1.0
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-800
                end=-50
                image="units/meloen/unstable_quake_form.png"
            [/frame]
            [frame]
                duration=100
                image="units/meloen/unstable_quake_form.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-800
                end=-50
                image="units/meloen/unstable_quake_form.png"
            [/frame]
            [frame]
                duration=100
                image="units/meloen/unstable_quake_form.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_SANDSTORM
    image="units/meloen/unstable_sandstorm_form.png"
    die_sound=groan.wav
    {DEFENSE_ANIM "units/meloen/unstable_sandstorm_form.png" "units/meloen/unstable_sandstorm_form.png" groan.wav}
    [attack_anim]
        [filter_attack]
            name=sand storm
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=320
            offset=1.0
            halo="projectiles/sand-storm-[1~8].png:40"
            auto_vflip=no
        [/missile_frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=twister
        [/filter_attack]
        [frame]
            image="units/meloen/unstable_sandstorm_form.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_TORNADO
    image="units/meloen/unstable_tornado_form.png"
    die_sound=groan.wav
    {DEFENSE_ANIM "units/meloen/unstable_tornado_form.png" "units/meloen/unstable_tornado_form.png" groan.wav}
    [attack_anim]
        [filter_attack]
            name=wind storm
        [/filter_attack]
        missile_start_time=-200
        {MISSILE_FRAME_RAVAGE}
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=twister
        [/filter_attack]
        [frame]
            image="units/meloen/unstable_tornado_form.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_SWAMP
    image="units/meloen/unstable_swamp_form.png"
    die_sound="mermen-die.ogg"
    {DEFENSE_ANIM "units/meloen/unstable_swamp_form.png" "units/meloen/unstable_swamp_form.png" mermen-hit.wav }
    [attack_anim]
        [filter_attack]
            name=toxic spray
        [/filter_attack]
        start_time=-420

        missile_start_time=-165
        [missile_frame]
            duration=165
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}

        [frame]
            image="units/meloen/unstable_swamp_form.png:200"
        [/frame]
        [frame]
            image="units/meloen/unstable_swamp_form.png:200"
            sound=water-blast.wav
        [/frame]
        [frame]
            image="units/meloen/unstable_swamp_form.png:120"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=toxic splash
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/meloen/unstable_swamp_form.png:50"
        [/frame]
        [frame]
            image="units/meloen/unstable_swamp_form.png:[100,200]" ### attack-1,2
        [/frame]
        {SOUND:HIT_AND_MISS elemental-attack.ogg elemental-attack-miss.ogg -125}
        [frame]
            image="units/meloen/unstable_swamp_form.png:50" ### magic-1
        [/frame]
        [frame]
            image="units/meloen/unstable_swamp_form.png:50"
        [/frame]
    [/attack_anim]
#enddef

#define WOL_UE_ANIM_WHIRLPOOL
    image="units/meloen/unstable_whirlpool_form.png"
    die_sound="mermen-die.ogg"
    {DEFENSE_ANIM "units/meloen/unstable_whirlpool_form.png" "units/meloen/unstable_whirlpool_form.png" mermen-hit.wav }
    [attack_anim]
        [filter_attack]
            name=water spray
        [/filter_attack]
        start_time=-420

        missile_start_time=-165
        [missile_frame]
            duration=165
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}

        [frame]
            image="units/meloen/unstable_whirlpool_form.png:200"
        [/frame]
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:200"
            sound=water-blast.wav
        [/frame]
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:120"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=water blast
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:50"
        [/frame]
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:[100,200]" ### attack-1,2
        [/frame]
        {SOUND:HIT_AND_MISS elemental-attack.ogg elemental-attack-miss.ogg -125}
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:50" ### magic-1
        [/frame]
        [frame]
            image="units/meloen/unstable_whirlpool_form.png:50"
        [/frame]
    [/attack_anim]
#enddef

[unit_type]
    id="Unstable Elemental"
    name= _ "Unstable Elemental"
    race=elemental

    alignment="neutral"
    undead_variation=null
    cost="18"
    experience="42"
    level="1"
    advances_to="Nature Wrath"
    description={UNSTABLE_ELEMENTAL_COMMON_DESCRIPTION}

    {NOTE_TERRAIN_LINK}

    [abilities]
        {ABILITY_TERRAIN_LINK}
        {ABILITY_REGENERATES}
    [/abilities]

    usage=scout

    {UNIT_BODY_WOL_UE_STATS 35 elemental_tornado 8}

    {UNIT_BODY_WOL_UE_ATTACK twister ( _ "twister") (attacks/northern-wind.png) melee arcane 7 3 (
        [specials]
            __remove=yes
        [/specials]
    )}
    {UNIT_BODY_WOL_UE_ATTACK (wind storm) ( _ "wind storm") (attacks/northern-wind.png) ranged impact 3 10 (
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    )}

    {WOL_UE_ANIM_TORNADO}

    [variation]
        variation_id=tornado
        variation_name= _ "Tornado"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 35 elemental_tornado 8}

        {UNIT_BODY_WOL_UE_ATTACK twister ( _ "twister") (attacks/northern-wind.png) melee arcane 7 3 (
            [specials]
                __remove=yes
            [/specials]
        )}
        {UNIT_BODY_WOL_UE_ATTACK (wind storm) ( _ "wind storm") (attacks/northern-wind.png) ranged impact 3 10 (
            [specials]
                {WEAPON_SPECIAL_SWARM}
            [/specials]
        )}

        {WOL_UE_ANIM_TORNADO}
    [/variation]

    [variation]
        variation_id=sandstorm
        variation_name=_"Sandstorm"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 34 elemental_sandstorm 7}

        {WOL_UE_ANIM_SANDSTORM}

        {UNIT_BODY_WOL_UE_ATTACK twister ( _ "twister") (attacks/sand-storm.png) melee fire 10 2 (
            [specials]
                __remove=yes
            [/specials]
        )}

        {UNIT_BODY_WOL_UE_ATTACK (sand storm) ( _ "sand storm") (attacks/sand-storm.png) ranged impact 3 10 (
            [specials]
                __remove=yes
            [/specials]
            [specials]
                {WEAPON_SPECIAL_SWARM}
            [/specials]
        )}
    [/variation]

    [variation]
        variation_id=bramble
        variation_name=_"Bramble"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 42 elemental_bramble 4}

        {WOL_UE_ANIM_BRAMBLE}

        {UNIT_BODY_WOL_UE_ATTACK crush ( _ "crush") (attacks/crush-wose.png) melee impact 13 2 (
            [specials]
                __remove=yes
            [/specials]
        )}
        {UNIT_BODY_WOL_UE_ATTACK entangle ( _ "entangle") (attacks/entangle.png) ranged impact 6 2 (
            [specials]
                __remove=yes
            [/specials]
            [specials]
                {WEAPON_SPECIAL_SLOW}
            [/specials]
        )}
    [/variation]

    [variation]
        variation_id=frost
        variation_name=_"Frost"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 32 elemental_frost 5}

        {WOL_UE_ANIM_FROST}

        {UNIT_BODY_WOL_UE_ATTACK crush ( _ "icicle") (attacks/icicle.png) melee pierce 7 3 (
            [specials]
                __remove=yes
            [/specials]
        )}
        {UNIT_BODY_WOL_UE_ATTACK (gelid aura) ( _ "gelid aura") (attacks/gelid-aura.png) ranged cold 5 3 (
            [specials]
                __remove=yes
            [/specials]
            [specials]
                {WEAPON_SPECIAL_SLOW}
            [/specials]
        )}
    [/variation]

    [variation]
        variation_id=quake
        variation_name=_"Quake"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 46 elemental_quake 4}

        {WOL_UE_ANIM_QUAKE}

        {UNIT_BODY_WOL_UE_ATTACK fist ( _ "fist") (attacks/fist-troll.png) melee impact 12 2 (
            [specials]
                __remove=yes
            [/specials]
        )}
        {UNIT_BODY_WOL_UE_ATTACK boulder ( _ "boulder") (attacks/rock_thrown.png) ranged impact 12 1 (
            [specials]
                __remove=yes
            [/specials]
        )}
    [/variation]

    [variation]
        variation_id=whirlpool
        variation_name=_"Whirlpool"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 33 elemental_whirlpool 6}

        {WOL_UE_ANIM_WHIRLPOOL}

        {UNIT_BODY_WOL_UE_ATTACK (water blast) ( _ "water blast") (attacks/waterspray.png) melee cold 7 3 (
            [specials]
                __remove=yes
            [/specials]
        )}

        {UNIT_BODY_WOL_UE_ATTACK (water spray) ( _ "water spray") (attacks/waterspray.png) ranged impact 7 3 (
            [specials]
                __remove=yes
            [/specials]
        )}
    [/variation]

    [variation]
        variation_id=swamp
        variation_name=_"Swamp"
        inherit=yes

        {UNIT_BODY_WOL_UE_STATS 33 elemental_whirlpool 6}

        {WOL_UE_ANIM_SWAMP}

        {UNIT_BODY_WOL_UE_ATTACK (toxic splash) ( _ "toxic splash") "attacks/waterspray.png~GS()~CS(-190,0,-220)" melee impact 7 3 (
            [specials]
                __remove=yes
            [/specials]
            [specials]
                {WEAPON_SPECIAL_POISON}
            [/specials]
        )}

        {UNIT_BODY_WOL_UE_ATTACK (toxic spray) ( _ "toxic spray") "attacks/waterspray.png~GS()~CS(-190,0,-220)" ranged impact 7 3 (
            [specials]
                __remove=yes
            [/specials]
            [specials]
                {WEAPON_SPECIAL_POISON}
            [/specials]
        )}
    [/variation]
[/unit_type]

#undef WOL_UE_ANIM_WHIRLPOOL
#undef WOL_UE_ANIM_SWAMP
#undef WOL_UE_ANIM_TORNADO
#undef WOL_UE_ANIM_SANDSTORM
#undef WOL_UE_ANIM_QUAKE
#undef WOL_UE_ANIM_FROST
#undef WOL_UE_ANIM_BRAMBLE
#undef UNIT_BODY_WOL_UE_GRAPHIC
#undef UNIT_BODY_WOL_UE_ATTACK
#undef UNIT_BODY_WOL_UE_STATS
