#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Mounted Warden
    name= _ "Mounted Warden"
    race=human
    image="units/human-loyalists/mounted-warden.png"

    {DEFENSE_ANIM "units/human-loyalists/mounted-warden.png" "units/human-loyalists/mounted-warden.png" {SOUND_LIST:HORSE_HIT} }
    hitpoints=50
    movement_type=mounted
    movement=8
    experience=100

    profile="portraits/human-cavalry.webp"
    small_profile="portraits/human-cavalry.webp~SCALE(275,275)"

    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=32
    usage=fighter

    description= _ "Without infantry to back up border patrols, cavalrymen often have trouble holding off organised attacks. Some veterans therefore choose to protect themselves with heavy armour covering themselves and their horses. Their armour even serves as some protection against arrows and spears that horses and normally so vulnerable to, and their weapons deal the most fearsome damage. However, the armour weighs them down, and on hillsides they become easy targets."

    die_sound=horse-die.ogg

    [resistance]
        blade=50
        impact=60
        cold=80
        pierce=90
    [/resistance]
    [movement_costs]
        hills=3
    [/movement_costs]
    [defense]
        hills=70
    [/defense]

    [attack]
        name=morning star
        description= _"morning star"
        type=impact
        range=melee
        damage=17
        number=2
        icon=attacks/morning-star.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=morning star
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/human-loyalists/mounted-warden.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-250
                end=225
                image="units/human-loyalists/mounted-warden.png"
                sound=flail-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=225
                image="units/human-loyalists/mounted-warden.png"
                sound=flail.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]