#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Supreme Warlord
    name= _ "Supreme Warlord"
    race=human
    image="units/human-loyalists/war-grandmaster.png"
    profile="portraits/human-warmaster.png"
    small_profile="portraits/human-warmaster.png~SCALE(275,275)"

    hitpoints=72
    movement_type=smallfoot
    movement=5

    experience=250
    {TRAITS_SET_NO_QUICK}
    level=5
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    [+advancement]
        image="icons/amla-default.png"
    [/advancement]

    cost=68
    usage=fighter
    description= _ "Fearless warriors with great strength, intelligence and the ability to command armies to victory are entitled Warmasters. These warriors are masters of the weapon they use and their stainless-steel armor can withstand any attack."

    {NOTE_PROTECTION}

    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/war-grandmaster.png" "units/human-loyalists/war-grandmaster.png" {SOUND_LIST:HUMAN_HIT} }

    [resistance]
        blade=80
        pierce=80
        impact=80
        energy=90
        fire=80
        cold=80
    [/resistance]
    [abilities]
        {ABILITY_PROTECTION}
        {ABILITY_STEADFAST}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=14
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_CRITICAL_HIT 40}
        [/specials]
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        icon=icons/shield_steel.png
        type=impact
        range=melee
        damage=20
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/human-loyalists/war-grandmaster.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]

        start_time=-300
        [frame]
            image="units/human-loyalists/war-grandmaster.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -300}
    [/attack_anim]
[/unit_type]
