#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Warmaster
    name= _ "Warmaster"
    race=human
    image="units/human-loyalists/warmaster.png"
    profile="portraits/human-warmaster.png"
    small_profile="portraits/human-warmaster.png~SCALE(275,275)"
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/human-loyalists/warmaster.png"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=smallfoot
    movement=6
    experience=150
    {TRAITS_SET_NO_QUICK}
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
    description= _ "Fearless warriors with great strength, intelligence and the ability to command armies to victory are entitled Warmasters. These warriors are masters of the weapon they use and their stainless-steel armor can withstand any attack."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/warmaster.png" "units/human-loyalists/warmaster.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/lieutenant.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/lieutenant.png"
    [/portrait]
    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=90
        cold=90
    [/resistance]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=10
        [specials]
           {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/human-loyalists/warmaster.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/human-loyalists/warmaster.png"
            offset=0.1~0.15
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-loyalists/warmaster.png"
            offset=0.15~0.35
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/warmaster.png"
                sound={SOUND_LIST:SWORD_SWISH}
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/warmaster.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=75
            image="units/human-loyalists/warmaster.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=75
            end=95
            image="units/human-loyalists/warmaster.png"
            offset=0.5
        [/frame]
        [frame]
            begin=95
            end=125
            image="units/human-loyalists/warmaster.png"
            offset=0.5~0.4
        [/frame]
        [frame]
            begin=125
            end=200
            image="units/human-loyalists/warmaster.png"
            offset=0.4~0.2
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-loyalists/warmaster.png"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
