#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Warrior
    name= _ "Warrior"
    race=human
    image="units/human-loyalists/warrior.png"
    profile="portraits/humans/transparent/lieutenant.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=smallfoot
    movement=6
    experience=38
    {TRAITS_SET_NO_QUICK}
    level=1
    alignment=lawful
    advances_to=Captain
    cost=17
    usage=fighter
    description= _ "Armed with a sword and shield, the warriors are strong but vulnerable to seasoned enemies. Their skill with the sword is unmatched by many and they are lightly resistant to most physical weapons.

Warriors take part in many battles, hoping to rise to the ranks of a Captain."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/warrior.png" "units/human-loyalists/warrior.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/lieutenant.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/lieutenant.png"
    [/portrait]

    [resistance]
        blade=90
        impact=90
        pierce=100
        fire=100
        cold=100
    [/resistance]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/human-loyalists/warrior.png"
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/human-loyalists/warrior.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-loyalists/warrior.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-loyalists/warrior.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-loyalists/warrior.png"
        [/frame]
        [frame]
            begin=150
            end=175
            image="units/human-loyalists/warrior.png"
        [/frame]
    [/attack_anim]
[/unit_type]
