#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Warmaster
    name= _ "Warmaster"
    race=human
    image="units/human-loyalists/warmaster.png"
    profile="portraits/human-warmaster.png"
    small_profile="portraits/human-warmaster.png~SCALE(275,275)"
    # [leading_anim]
    #    [frame]
    #        begin=-150
    #        end=150
    #        image="units/human-loyalists/warmaster.png"
    #    [/frame]
    # [/leading_anim]

    hitpoints=52
    movement_type=smallfoot
    movement=5
    # since he has custom AMLA
    # the max XP requirement
    # has been reduced
    # experience=150
    experience = 50
    {TRAITS_SET_NO_QUICK}
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    [+advancement]
        image="icons/amla-default.png"
    [/advancement]

    # #ifdef ENABLE_CUSTOM_AMLAS
    {AMLA_STRENGTH_I}
    {AMLA_STRENGTH_II}
    {AMLA_ENDURANCE_I}
    {AMLA_ENDURANCE_II}
    {AMLA_ENDURANCE_III}
    # #endif

    cost=48
    usage=fighter
    description= _ "Fearless warriors with great strength, intelligence and the ability to command armies to victory are entitled Warmasters. These warriors are masters of the weapon they use and their stainless-steel armor can withstand any attack."
    [special_note]
        note= _ "This unit has specialised AMLA upgrades."
    [/special_note]
    {NOTE_STEADFAST}
    {NOTE_MARKSMAN}
    {NOTE_SLOW}

    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/warmaster.png" "units/human-loyalists/warmaster.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/lieutenant.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/lieutenant.png"
    [/portrait]
    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=90
        cold=90
    [/resistance]
    [abilities]
        # I am very sketical whether
        # I want Jahin to have this second
        # ability
        # {ABILITY_PROTECTION}
        {ABILITY_STEADFAST}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=10
        [specials]
           {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        number=4
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        icon=icons/shield_steel.png
        type=impact
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/human-loyalists/warmaster.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]

        start_time=-300
        [frame]
            image="units/human-loyalists/warmaster.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -300}
    [/attack_anim]

[/unit_type]
