#textdomain wesnoth-War_of_Legends

[textdomain]
    name="wesnoth-War_of_Legends"
    path="data/add-ons/War_of_Legends/translations"
[/textdomain]

[language]
    # type_any= _ "type^any"
    type_arcane_focus= _ "type^arcane focus"
    type_electric= _ "type^electric"
    type_energy= _ "type^energy"
    # special_note_type_any=_"This unit has an attack that always deals whichever damage type its opponent is most vulnerable to."
    special_note_type_electric="This unit has an electric attack which behaves differently from the <i>fire</i> damage type."
    special_note_type_energy="This unit has an energy attack which behaves differently from the <i>arcane</i> damage type."
[/language]

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/War_of_Legends
[/binary_path]

#define WOL_SIDE ERA FACTION
    {~add-ons/War_of_Legends/factions/{ERA}/{FACTION}-{ERA}.cfg}
#enddef

{~add-ons/War_of_Legends/macros}
{~add-ons/War_of_Legends/eras}

{~add-ons/War_of_Legends/mods/multiplayer}

#undef WOL_SIDE

[units]
    #this is working as intended
    [resistance_defaults]
        id="electric"
        default="100"
        undeadfly=130
        undeadfoot=130
        undeadspirit=110
        gruefoot=110
    [/resistance_defaults]

    [resistance_defaults]
        id="energy"
        default="120"
    [/resistance_defaults]

    [resistance_defaults]
        id="arcane_focus"
        default="((200 - arcane)+10)"
    [/resistance_defaults]

    {~add-ons/War_of_Legends/units}
[/units]
#endif

#ifdef EDITOR
[binary_path]
    path=data/add-ons/War_of_Legends
[/binary_path]

{~add-ons/War_of_Legends/macros}
[+units]
    {~add-ons/War_of_Legends/units}
[/units]
#endif

# In order for your campaign to easily use the WOL, just add the two (commented) lines after the colin,
# to your campaign's _main.cfg, between the #ifdef and #endif... without the pounds of course:
# {~add-ons/War_of_Legends/_main.cfg}
# {LEGEND_CAMPAIGN}
# OR, use this:
# {~add-ons/War_of_Legends/campaign.cfg}

# additional note: if you take unit inputs directly,
# I warn you, your campaign will be getting errors
# due to not properly adding global events
# and language/resistance_defaults things

#define LEGEND_CAMPAIGN

    [binary_path]
        path="data/add-ons/War_of_Legends"
    [/binary_path]

    {~add-ons/War_of_Legends/macros}

    [+units]
        {~add-ons/War_of_Legends/units}
    [/units]
#enddef

# Note: this add-on has forums.
# If you have problems, just email me
# and I will fix it.
# email: tahsinjahinkhalid@gmail.com

# wmllint: general spellings Windsong farseers Reavers unwarlike epitomise
# wmllint: general spellings chronostasis defence fluidic Windsong's polearm
# wmllint: general spellings Skyrunners
# wmllint: general spellings vampiress dementing vampiresses Methusalem
# wmllint: general spellings Aragwaith Aragwaithi Swordsmasters
# wmllint: general spellings knockback unpoison mudcrawlers

# wmllint: general spellings Quenoth Eloh Uria Tanuil Wesnoth
# wmllint: general spellings Sela Naia Wyrm Wyrms
# wmllint: general spellings Wose Woses wose woses
# wmllint: general spellings realise single-handedly baneblade liches
# wmllint: general spellings Boulderlobber Boulderlobbers saurians armoured Rumours
# wmllint: general spellings Dowrein Meloen Ordwin Spectres spectre Norsesh

# wmllint: general spellings Minotaur minotaurs kusarigama kusarigamas Minotaurs minotaur rousers
# wmllint: general spellings undeath amongst naga orc Orc orcish Orcish Naga dwarvish dwarven
# wmllint: general spellings orbis longsword realised glaives glaive Cataphracts centre
# wmllint: general spellings chakrams chakram Longbowmen orbis Deathmaster longsword
# wmllint: general spellings defences Warmasters lightbeam swordsmaster executionership
# wmllint: general spellings Lich thunderstick thundersticks mithril-reinforced Strongbow
# wmllint: general spellings Gnoll Gnolls Tauroch Taurochs longswordsman Greatbow
# wmllint: general spellings Wesnothian Wesnothians Elensefar Irdya Lintanir
# wmllint: general spellings Gryphon's Steelhive Retinari Hedron Choron Seliss
# wmllint: general spellings Alzebisk Kalkunids Wert-Thak Metallizing Sciruss Borassol Meni Kalkunid
