#textdomain wesnoth-War_of_Legends

# makes it easier to add WoL to the campaign

[binary_path]
    path="data/add-ons/War_of_Legends"
[/binary_path]

{~add-ons/War_of_Legends/macros}

[units]
    # load units
    {~add-ons/War_of_Legends/units/human-loyalists}
    {~add-ons/War_of_Legends/units/human-mages}
    {~add-ons/War_of_Legends/units/human-outlaws}
    {~add-ons/War_of_Legends/units/undead}
    {~add-ons/War_of_Legends/units/orcs}
    {~add-ons/War_of_Legends/units/goblins}
    {~add-ons/War_of_Legends/units/trolls}
[/units]

[lua]
    code = <<
        for i, file in ipairs {
            "gui_tags.lua",
            "wml_tags.lua",
            "mechanics/recall_cost.lua",
            "mechanics/give_xp.lua",
        }
        do
            wesnoth.dofile("~add-ons/War_of_Legends/lua/" .. file)
        end
    >>
[/lua]