#textdomain wesnoth-War_of_Legends

# makes it easier to add WoL to the campaign

[binary_path]
    path="data/add-ons/War_of_Legends"
[/binary_path]

[language]
    type_arcane_focus= _ "type^arcane focus"
    type_electric= _ "type^electric"
    type_energy= _ "type^energy"
    special_note_type_electric= "This unit has an electric attack which behaves differently from the <i>fire</i> damage type."
    special_note_type_energy= "This unit has an energy attack which behaves differently from the <i>arcane</i> damage type."
[/language]

{~add-ons/War_of_Legends/macros}

[units]
    # load custom resistances
    [resistance_defaults]
        id="electric"
        default="100"
        undeadfly=130
        undeadfoot=130
        undeadspirit=110
        gruefoot=110
    [/resistance_defaults]

    [resistance_defaults]
        id="energy"
        default="120"
    [/resistance_defaults]

    [resistance_defaults]
        id="arcane_focus"
        default="((200 - arcane)+10)"
    [/resistance_defaults]
    # load units
    {~add-ons/War_of_Legends/units}
[/units]

[lua]
    code = <<
        for i, file in ipairs {
            "gui_tags.lua",
            "wml_tags.lua",
            "mechanics/recall_cost.lua",
            "mechanics/level_increment.lua",
            "mechanics/give_xp.lua",
            "character_action_dialog.lua",
            "item_choice_dialog.lua",
            "show_image.lua",
            "elemental_reactions/cold_infliction.lua",
            "elemental_reactions/fire_infliction.lua",
            "elemental_reactions/electric_infliction.lua",
        }
        do
            wesnoth.dofile("~add-ons/War_of_Legends/lua/" .. file)
        end
    >>
[/lua]
