#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Lesser Air Daemon
    name= _ "Lesser Air Daemon"
    race=elemental
    {AIR_ELEMENTAL_TRAITS}
    image="units/elemental-daemons/elemental-air1.png"

    hitpoints=22
    movement_type=windfly
    movement=8
    experience=32
    level=1
    alignment=neutral
    advances_to=Air Daemon
    cost=24
    usage=scout

    die_sound=wail-long.wav
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_REGENERATES}
    [/abilities]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/elemental-daemons/elemental-air1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/elemental-daemons/elemental-air2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/elemental-daemons/elemental-air3.png"
        [/frame]
    [/standing_anim]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/elemental-daemons/elemental-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/elemental-daemons/elemental-air-attack-staff-2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/elemental-daemons/elemental-air-attack-staff-3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/elemental-daemons/elemental-air2.png"
        [/frame]
    [/defend]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/elemental-daemons/elemental-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/elemental-daemons/elemental-air-attack-staff-2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/elemental-daemons/elemental-air-attack-staff-3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/elemental-daemons/elemental-air3.png"
        [/frame]
    [/defend]
    [attack]
        name=windblade
        description=_"wind razor"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=discharge
        description=_"electric discharge"
        icon=attacks/magic-missile.png
        type=electric
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_ELECTRIC_INFLICTION}
        [/specials]
        damage=6
        number=3
    [/attack]
    [attack]
        name=windblade
        description=_"small cyclone"
        icon=attacks/tornado.png
        type=impact
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=windblade
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/elemental-daemons/elemental-air2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elemental-daemons/elemental-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/elemental-daemons/elemental-air1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=windblade
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/elemental-daemons/elemental-air3.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elemental-daemons/elemental-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/elemental-daemons/elemental-air2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=discharge
        [/filter_attack]
        {MISSILE_FRAME_LIGHTNING}
        [frame]
            begin=-400
            end=-350
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/elemental-daemons/elemental-air-attack-staff-2.png"
            #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            #halo_x,halo_y=6,-19
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/elemental-daemons/elemental-air-attack-staff-1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/elemental-daemons/elemental-air-attack-staff-3.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/elemental-daemons/elemental-air-attack-staff-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
