#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Kobold
    name= _ "Kobold"
    race=elemental
    {EARTH_ELEMENTAL_TRAITS}
    image="units/elementals/kobold.png"
    # {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=largefoot
    movement=4
    experience=37
    level=1
    alignment=neutral
    advances_to=Stone Golem
    cost=17
    usage=fighter
    description=_ "Animated Rocks are creatures made out of solid, living rock. They have a weak attack, but are incredibly hard to destroy."
    {DEFENSE_ANIM "units/elementals/kobold-defend.png" "units/elementals/kobold.png" {SOUND_LIST:DRAKE_HIT}}
    [abilities]
        {ABILITY_EARTH_RECUPERATION}
    [/abilities]

    [resistance]
        blade=50
        fire=80
        impact=70
        pierce=40
        cold=80
        arcane=100
    [/resistance]
    [movement_costs]
        cave=1
    [/movement_costs]
    [attack]
        name=fist
        description="fist"
        type=impact
        range=melee
        damage=6
        number=3
        icon=attacks/fist-troll.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            duration=50
            image="units/elementals/kobold.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/elementals/kobold-attack.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/elementals/kobold-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/elementals/kobold.png"
        [/frame]
    [/attack_anim]

    [death]
        [frame]
            begin=0
            end=50
            image="units/elementals/kobold.png"
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/elementals/kobold-die1.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/elementals/kobold-die2.png"
            sound=drake-die.ogg
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/elementals/kobold-die3.png"
        [/frame]
    [/death]
[/unit_type]
