#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Druid
    name= _ "female^Dwarvish Druid"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/druid.png"
    hitpoints=39
    movement_type=dwarvishfoot
    movement=4
    level=2
    alignment=neutral
    cost=35
    usage=healer
    experience=78
    advances_to=Dwarvish Sage
    description= _ "Dwarf Druids are skilled practitioners who inscribe complex healing sigils and prepare potent elixirs from rare crystalline minerals. They serve as valued advisors to clan elders and bear responsibility for preserving ancient formulae. Their presence outside the stronghold indicates a crisis requiring their expertise or a mission to recover lost lore from forgotten halls."

    [abilities]
        {ABILITY_HEALS_6HP}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/druid.png" "units/dwarves/shaman/druid.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]

[/unit_type]