#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Dwarvish Marksman
    name= _ "Dwarvish Marksman"
    race=dwarf
    image="units/dwarves/marksman.png"

    hitpoints=46
    movement_type=dwarvishfoot
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    movement=4
    experience=75
    level=2
    alignment=neutral
    advances_to=Dwarvish Arbalestier
    undead_variation=dwarf
    cost=30
    usage=archer
    description=_ "Dwarvish Marksmen are... (TODO)"

    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM_RANGE "units/dwarves/marksman.png" units/dwarves/marksman.png {SOUND_LIST:DWARF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/dwarves/marksman.png" units/dwarves/marksman.png {SOUND_LIST:DWARF_HIT} ranged}
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    {GENERIC_DAGGER_ANIM dagger "units/dwarves/marksman.png"}
    {GENERIC_CROSSBOW_ANIM (name=crossbow) "units/dwarves/marksman.png"}
[/unit_type]
