#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Caster
    name= _ "female^Dwarvish Rune Caster"
    gender=female
    race=dwarfess
    image="units/dwarves/shaman/rune-caster.png"
    hitpoints=37
    movement_type=dwarvishfoot
    movement=4
    level=2
    alignment=neutral
    cost=37
    usage=archer
    experience=84
    advances_to=Dwarvish Rune Enchantress
    description= _ "Dwarf Rune Enchantresses specialize in offensive applications of runecraft, channeling the fury of the elements through battle-runes that unleash stone shards, tremors of earth or even volcanic heat. Traditional dwarves detest this as mimicry of ‘soft magic’, yet none can deny their disciplined mastery over volatile power and the devastating effectiveness at the times of need."

    #  [abilities]
    #      {ABILITY_HEALS}
    #  [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/rune-caster.png" "units/dwarves/shaman/rune-caster.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]

    [attack]
        name=runes
        description= _ "runic blast"
        type=electric
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=7
        number=4
        icon="attacks/lightning.png"
    [/attack]

    {GENERIC_MACE_ANIM mace "units/dwarves/shaman/rune-caster.png"}

[/unit_type]