#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Warden
    name= _ "female^Dwarvish Rune Warden"
    gender=female
    race=dwarfess
    image="units/dwarves/rune-novice/rune-warden.png"
    hitpoints=49
    movement_type=dwarvishfoot
    movement=4
    level=3
    alignment=neutral
    cost=50
    usage=healer
    experience=150
    advances_to=null
    {AMLA_DEFAULT}
    description= _ "Dwarven Rune Wardens are masters of runic healing whose knowledge serves as living archives of clan history and lore. A single touch of their potent runes can even close lethal wounds and cure deadly ailments. When one emerges from the depths of mountains, it signals reasons of utmost gravity or matters that threaten dwarvenkind itself, and a loss of their kind, if it ever happens, is considered as an irreparable blow to their core."

    [abilities]
        {ABILITY_EXTRA_HEAL}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/rune-novice/rune-warden.png" "units/dwarves/rune-novice/rune-warden.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=runes
        description= _ "runic blast"
        type=impact
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=8
        number=2
        icon="attacks/rune.png"
    [/attack]

    {GENERIC_FLAIL_ANIM flail "units/dwarves/rune-novice/rune-warden.png"}
[/unit_type]