#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Novice
    name= _ "female^Dwarvish Rune Novice"
    gender=female
    race=dwarfess
    image="units/dwarves/shaman/shaman.png"
    hitpoints=29
    movement_type=dwarvishfoot
    movement=4
    level=1
    alignment=neutral
    cost=20
    usage=healer
    experience=38
    advances_to=Dwarvish Rune Healer,Dwarvish Rune Caster
    description= _ "Young apprentices in the ancient art of runecraft, Dwarf Rune Novices have just begun learning to inscribe basic healing runes and brew simple restorative draughts. Though their skills are modest, each rune they trace connects them to centuries of accumulated wisdom. Dwarven society guards these rare novices jealously, and their presence beyond the stronghold walls signals matters of importance."

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/shaman.png" "units/dwarves/shaman/shaman.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=runes
        description= _ "runic blast"
        type=impact
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=3
        number=2
        icon="attacks/rune.png"
    [/attack]

    {GENERIC_FLAIL_ANIM flail "units/dwarves/shaman/shaman.png"}
[/unit_type]
