#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Caster
    name= _ "female^Dwarvish Rune Caster"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/rune-caster.png"
    hitpoints=37
    movement_type=dwarvishfoot
    movement=4
    level=2
    alignment=neutral
    cost=37
    usage=archer
    experience=84
    advances_to=Dwarvish Rune Enchantress
    description= _ "Dwarf Rune Casters pursue aggressive applications of runecraft, channeling the mountain's fury through battle-runes that unleash elemental forces—earth tremors, stone shards, or forge-heat. Though controversial among traditional dwarves who view destructive runes as dangerously close to "soft magic," even skeptics cannot deny their devastating effectiveness or the discipline required to master such volatile power."

    #  [abilities]
    #      {ABILITY_HEALS}
    #  [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/rune-caster.png" "units/dwarves/shaman/rune-caster.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]

    [attack]
        name=runes
        description= _ "runic blast"
        type=fire
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=8
        number=3
        icon="attacks/rune.png"
    [/attack]

    {GENERIC_MACE_ANIM mace "units/dwarves/shaman/rune-caster.png"}
[/unit_type]