#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Caster
    name= _ "female^Dwarvish Rune Caster"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/rune-caster.png"
    hitpoints=37
    movement_type=dwarvishfoot
    movement=4
    level=2
    alignment=neutral
    cost=37
    usage=archer
    experience=84
    advances_to=Dwarvish Rune Enchantress
    description= _ ""

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/rune-caster.png" "units/dwarves/shaman/rune-caster.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]

[/unit_type]