#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Enchantress
    name= _ "female^Dwarvish Rune Enchantress"
    gender=female
    race=dwarfess
    image="units/dwarves/shaman/rune-enchantress.png"
    hitpoints=47
    movement_type=dwarvishfoot
    movement=4
    level=3
    alignment=neutral
    cost=57
    usage=archer
    experience=144
    advances_to=Dwarvish Rune Sorceress
    description= _ "Dwarf Rune Enchantresses wield symbols of power that shatter stone and reshape battlefields, inscribing glowing runes directly upon the air itself. They command respect even from magic-skeptical warriors, for their art remains grounded in dwarven principles—painstaking precision rather than mercurial spellweaving. Some serve as war-counselors while others recover ancient weapons etched with runes whose meanings have been lost to time."

    #  [abilities]
    #      {ABILITY_HEALS}
    #  [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/rune-enchantress.png" "units/dwarves/shaman/rune-enchantress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]

    [attack]
        name=runes
        description= _ "runic blast"
        type=electric
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=10
        number=4
        icon="attacks/lightning.png"
    [/attack]

    {GENERIC_MACE_ANIM mace "units/dwarves/shaman/rune-enchantress.png"}
[/unit_type]