#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Rune Sorceress
    name= _ "female^Dwarvish Rune Sorceress"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/rune-sorceress.png"
    hitpoints=56
    movement_type=dwarvishfoot
    movement=4
    level=4
    alignment=neutral
    cost=70
    usage=archer
    experience=200
    advances_to=null
    {AMLA_DEFAULT}
    description= _ "The rarest of the rare, Dwarf Rune Sorceresses stand at the apex of destructive runecraft, chaining multiple battle-runes in devastating sequences or summoning earthquakes and mountain-fire. Both honored and feared, they walk the knife's edge between traditional craftsmanship and true sorcery. Such power isolates them, their minds filled with dangerous knowledge few others can comprehend, but when they take the field, enemy commanders know the battle has entered a new phase entirely."

    #  [abilities]
    #      {ABILITY_HEALS}
    #  [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/rune-sorceress.png" "units/dwarves/shaman/rune-sorceress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]

    [attack]
        name=runes
        description= _ "runic blast"
        type=electric
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        range=ranged
        damage=14
        number=3
        icon="attacks/lightning.png"
    [/attack]

    {GENERIC_MACE_ANIM mace "units/dwarves/shaman/rune-sorceress.png"}
[/unit_type]