#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Sage
    name= _ "female^Dwarvish Sage"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/sage.png"
    hitpoints=49
    movement_type=dwarvishfoot
    movement=4
    level=3
    alignment=neutral
    cost=50
    usage=healer
    experience=150
    advances_to=Dwarvish Sage
    {AMLA_DEFAULT}
    description= _ ""

    [abilities]
        {ABILITY_HEALS_6HP}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/sage.png" "units/dwarves/shaman/sage.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]

[/unit_type]