#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Shaman
    name= _ "female^Dwarvish Shaman"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/shaman.png"
    hitpoints=29
    movement_type=dwarvishfoot
    movement=4
    level=1
    alignment=neutral
    cost=20
    usage=healer
    experience=38
    advances_to=Dwarvish Druid,Dwarvish Rune Caster
    description= _ ""

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/shaman.png" "units/dwarves/shaman/shaman.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]

[/unit_type]
