#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Shaman
    name= _ "female^Dwarvish Shaman"
    gender=female
    race=she_dwarf
    image="units/dwarves/shaman/shaman.png"
    hitpoints=29
    movement_type=dwarvishfoot
    movement=4
    level=1
    alignment=neutral
    cost=20
    usage=healer
    experience=32
    advances_to=Dwarvish Druid,Dwarvish Rune Caster
    description= _ ""

    [abilities]
        # {ABILITY_INSPIRE}
    [/abilities]
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/shaman/shaman.png" "units/dwarves/shaman/shaman.png" {SOUND_LIST:DWARF_HIT} }
    # {LEADING_ANIM units/dwarves/witness-lead.png units/dwarves/witness.png 25,8}

    [attack]
        name=mace
        #textdomain wesnoth-units
        description= _"mace"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]

[/unit_type]