#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Dwarvish Shaman
    name= _ "female^Dwarvish Shaman"
    gender=female
    race=she_dwarf
    image=units/dwarves/shaman/shaman.png
    hitpoints=29
    movement_type=dwarvishfoot
    movement=4
    level=1
    alignment=neutral
    cost=20
    usage=mixed fighter
    experience=32
    advances_to=Dwarvish Annalist
    description= _ "A Witness functions as the eyes of the dwarves’ history, a deep lore that they never share with outsiders. The presence of a Witness inspires dwarvish warriors with the knowledge that their deeds (and their deaths) will not go unrecorded. They learn a fighting style deliberately unlike that of their fellows, one designed to turn the vaunted strength of the dwarves against itself. The person of a Witness is considered sacred, and Witnesses are often used as envoys between dwarvish clans."

    [abilities]
        # {ABILITY_INSPIRE}
    [/abilities]
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/witness-defend2.png" "units/dwarves/witness-defend1.png" {SOUND_LIST:DWARF_HIT} }
    # {LEADING_ANIM units/dwarves/witness-lead.png units/dwarves/witness.png 25,8}

    [attack]
        name=flail
        #textdomain wesnoth-units
        description= _"flail"
        #textdomain wesnoth-War_of_Legends
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=10
        number=1
    [/attack]

[/unit_type]