#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Drake Caster
    name= _ "Drake Caster"
    race=drake
    gender=female
    image="units/drakes/caster.png"
    profile="portraits/drakes/caster.webp"
    hitpoints=49
    movement_type=drakefly
    movement=5
    experience=88
    level=2
    alignment=neutral
    advances_to=Drake Sorceress
    cost=32
    usage=archer

    description= _ "It is commonly believed that drakes cannot channel magic in a controlled way. Their innate magic is the source of their fire-breathing ability and sustains their life force. However, through the use of specially crafted staves enchanted with sylph tears, certain drakes have learned to harness their inner magic. These staves enable them to cast frost bolts and project a magical aura that grants resistance to most forms of magic. This development has led to the creation of a fifth caste within drake society: the Caster Caste. An unusual characteristic of this caste is that all its members are female drakes."

    {DEFENSE_ANIM "units/drakes/caster-defend.png" "units/drakes/caster.png" {SOUND_LIST:DRAKE_HIT} }

    die_sound=drake-die.ogg
    [abilities]
        {ABILITY_SPELLGUARD}
    [/abilities]

    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]

    [attack]
        name=ice shot
        description=_"ice shot"
        icon=attacks/frost-blast.png
        type=cold
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=6
        number=4
    [/attack]

    {DRAKE_MOVEMENT_ANIM caster}
    {DRAKE_STANDING_ANIM caster}

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/drakes/caster-attack-staff-[1~3].png:[50,100,150]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
        start_time=-400
        [frame]
            image="units/drakes/caster-attack-[staff,fire,staff]-[3,1,3].png:[50,150,100]"
        [/frame]
        [frame]
            image="units/drakes/caster.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ice shot
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-300
        [frame]
            image="units/drakes/caster-attack-[staff,cold,staff]-1.png:[100,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -200}
    [/attack_anim]
[/unit_type]
