#textdomain wesnoth-The_Legend_Begins
[unit_type]
    id=Naga Sentinel
    name= _ "Naga Sentinel"
    race=naga
    image="units/nagas/sentinel.png"
    hitpoints=55
    movement_type=naga
    movement=6
    experience=150
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    level=3
    alignment=neutral
    {MAGENTA_IS_THE_TEAM_COLOR}
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description= _ "The heavy fighters are the elite guards of the naga. They are slower and more heavily armored than most naga and wield huge maces which they use to crush their enemies. They mostly guard naga outposts, but occasionally participate in offensive raids."
    {DEFENSE_ANIM "units/nagas/sentinel-defend-2.png" "units/nagas/sentinel-defend-1.png" {SOUND_LIST:NAGA_HIT} }
    die_sound=naga-die.ogg
    [attack]
        name=mace
        description= _"mace"
        type=impact
        range=melee
        damage=10
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-250
        [frame]
            duration=70
            image="units/nagas/sentinel-attack-1.png"
        [/frame]
        [frame]
            duration=70
            image="units/nagas/sentinel-attack-2.png"
        [/frame]
        [frame]
            duration=70
            image="units/nagas/sentinel-attack-3.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/nagas/sentinel-attack-4.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/nagas/sentinel-attack-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/nagas/sentinel.png"
        [/frame]
    [/attack_anim]
[/unit_type]
