#textdomain wesnoth-War_of_Legends

# Aberrations. Unhatched tree, lvl 2.
[unit_type]
    id="Angry One"
    name= _ "Angry One"
    race="aberration"

    hitpoints="50"
    movement="6"
    experience="62"
    level="2"
    cost="28"

    alignment="chaotic"
    advances_to="Raging One"
    usage="fighter"
    movement_type="eggfoot"

    description= _ "King Dowrein I, Memoirs of a mercenary:
'They were bad enough still in the shell. Once hatched, the especially aggressive ones attacked without pause, hurling themselves at us again and again, battling unto death.'"

    die_sound="hiss-die.wav"
    image="units/aberrations/angry-one.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/aberrations/angry-one.png" "units/aberrations/angry-one.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION ram "units/aberrations/angry-one.png" fist.ogg miss-2.ogg }

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="11"
        number="3"
    [/attack]

[/unit_type]
