#textdomain wesnoth-War_of_Legends

# Abberations. Black cat tree, lvl 1.
[unit_type]
    id="Black Cat"
    name=_ "Black Cat"
    race="aberration"

    hitpoints="28"
    cost="17"
    movement="6"
    experience="28"
    level="1"

    movement_type="catfoot"
    alignment="chaotic"
    advances_to="Jinx Beast"
    usage="mixed fighter"

    description=_ "Fate can be treacherous at times, as quick to offer you a present as to turn it into a burden. When Meloen succeeded in brushing the knowledge of magic's origin with the tip of her mind during a short burst of supreme lucidity, she fused with her environment, against all odds. But her innate insecurity led to ever greater self-doubt and she speculated that luck only was responsible for these events, and not her determination and work. Indeed, she came to believe that misfortune toyed with her life, amusing itself by putting her in a nightmare.
Black cats are simple forest creatures that have turned into hideous chimeras through Meloen's dark thoughts. Although no one knows what kind of magic is behind their power, it seems that any creature that crosses their evil eyes is struck by misfortune."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}

    die_sound="cat-die.ogg"
    image="units/aberrations/black-cat.png"
    profile="portraits/aberration-black-cat.png"
    small_profile="portraits/aberration-black-cat.png~SCALE(275,275)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}

    {DEFENSE_ANIM "units/aberrations/black-cat-defend.png" "units/aberrations/black-cat.png" cat-hit.ogg }
    {ATTACK_MELEE_ANIMATION claws "units/aberrations/black-cat.png" bite-small.ogg miss-2.ogg }

    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=ill omen
        description=_"ill omen"
        icon=attacks/curse.png
        type=arcane
        range=ranged
        damage=2
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_JINX}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ill omen
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/aberrations/black-cat.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/aberrations/black-cat.png"
            sound=magic-dark.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/aberrations/black-cat.png"
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/aberrations/black-cat.png"
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/aberrations/black-cat.png"
        [/frame]
    [/attack_anim]
[/unit_type]
