#textdomain wesnoth-War_of_Legends

# Aberrations. Black Cat tree, lvl 3.
[unit_type]
    id="Calamity"
    name= _ "Calamity"
    race="aberration"

    hitpoints="51"
    cost="59"
    movement="6"
    experience="150"
    level="3"

    alignment="chaotic"
    advances_to="null"
    movement_type="catfoot"
    usage="mixed fighter"

    description= _ "Noble Ordwin, Nemesis:
'Nothing but a cruel wound, a blow dealt to our mind
That turns hope into despair and makes us resign.
I know my life's a gamble, but in that forest
Misfortune made my path cross with my nemesis.'"+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}

    die_sound="beast-die.ogg"
    image="units/aberrations/calamity.png"
    profile="portraits/aberration-jinx-beast.png"
    small_profile="portraits/aberration-jinx-beast.png~SCALE(275,275)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/aberrations/calamity.png" "units/aberrations/calamity.png" beast-hit.ogg }
    {ATTACK_MELEE_ANIMATION claws "units/aberrations/calamity.png" claws.ogg miss-2.ogg }

    {AMLA_DEFAULT}

    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=ill omen
        description=_ "ill omen"
        icon=attacks/curse.png
        type=arcane
        range=ranged
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_JINX}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ill omen
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/aberrations/calamity.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/aberrations/calamity.png"
            sound=magic-dark.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/aberrations/calamity.png"
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/aberrations/calamity.png"
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/aberrations/calamity.png"
        [/frame]
    [/attack_anim]
[/unit_type]
