#textdomain wesnoth-War_of_Legends

# Aberrations. Scornful Watcher tree, lvl 3.
[unit_type]
    id="Inquisitor"
    name=_ "Inquisitor"
    race="aberration"

    hitpoints="65"
    cost="40"
    movement="5"
    experience="150"
    level="3"

    alignment="chaotic"
    advances_to="null"
    movement_type="aberration"
    usage="archer"

    description= _ "King Dowrein I, Memoirs of a mercenary:
'I could feel the heat of the creature's gaze, even through my shield. It's disdain for me was like a crushing physical presence. Poor Thornton on my left took the full force of the attack, and though I risked my own life dragging him back to the village, the healers could do nothing to save the wretch.'"+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE_FOCUS}

    die_sound="ghoul-hit.wav"
    image="units/aberrations/inquisitor.png"
    profile="portraits/aberration-disdain.png"
    small_profile="portraits/aberration-disdain.png~SCALE(275,275)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    
    {DEFENSE_ANIM "units/aberrations/inquisitor.png" "units/aberrations/inquisitor.png" ghoul-hit.wav }
    {ATTACK_MELEE_ANIMATION kick "units/aberrations/inquisitor.png" club.ogg miss-3.ogg }

    {AMLA_DEFAULT}

    [attack]
        name="kick"
        description= _ "kick"
        icon="attacks/kick-aberration.png"
        type="impact"
        range="melee"
        damage="13"
        number="1"
    [/attack]
    [attack]
        name="stare"
        description= _ "stare"
        icon="attacks/gaze.png"
        type=arcane_focus
        range="ranged"
        damage="14"
        number="3"
        [specials]
            {WEAPON_SPECIAL_ARCANE_FOCUS}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        [frame]
            begin=-250
            end=-150
            image="units/aberrations/inquisitor.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/aberrations/inquisitor.png"
            sound=wail-sml.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/aberrations/inquisitor.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/aberrations/inquisitor.png"
                sound=miss-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/aberrations/inquisitor.png"
        [/frame]
    [/attack_anim]
[/unit_type]
