#textdomain wesnoth-War_of_Legends

# Aberrations. Black cat tree, lvl 2
[unit_type]
    id="Jinx Beast"
    name=_ "Jinx Beast"
    race="aberration"

    hitpoints="39"
    cost="33"
    movement="6"
    experience="55"
    level="2"

    alignment="chaotic"
    advances_to="Calamity"
    movement_type="catfoot"
    usage="mixed fighter"

    description= _ "Sage Hogene, excerpt from a conversation with Lieutenant Artingale:
'- My Lord, I have divined the nature of those beasts' capacity. There is no curse, it is only a mind trick.
- What do you mean, Hogene? Facts prove you wrong, the men are clearly struck by misfortune. Look at them struggle to fight: they seem unable to parry the simplest blow as soon as they meet the damned creatures.
- They are under the effects of some sort of hypnosis, Lieutenant. They are self-deluded into their own misfortune. The men themselves are responsible of their own clumsiness! Fortunately, I have found a way to dispel the clouds in their minds, and restore their ability to fight.'"+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}

    die_sound="beast-die.ogg"
    image="units/aberrations/jinx-beast.png"
    profile="portraits/aberration-jinx-beast.png"
    small_profile="portraits/aberration-jinx-beast.png~SCALE(275,275)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    
    {DEFENSE_ANIM "units/aberrations/jinx-beast.png" "units/aberrations/jinx-beast.png" beast-hit.ogg }
    {ATTACK_MELEE_ANIMATION claws "units/aberrations/jinx-beast.png" claws.ogg miss-2.ogg }

    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=ill omen
        description=_"ill omen"
        icon=attacks/curse.png
        type=arcane
        range=ranged
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_JINX}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ill omen
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/aberrations/jinx-beast.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/aberrations/jinx-beast.png"
            sound=magic-dark.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/aberrations/jinx-beast.png"
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/aberrations/jinx-beast.png"
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/aberrations/jinx-beast.png"
        [/frame]
    [/attack_anim]
[/unit_type]
