#textdomain wesnoth-War_of_Legends

# Aberrations. Shredder tree, lvl 3.
[unit_type]
    id="Ripper Beast"
    name= _ "Ripper Beast"
    race="aberration"

    hitpoints="62"
    movement="6"
    experience="150"
    level="3"
    advances_to=null
    {AMLA_DEFAULT}
    cost="49"

    alignment="chaotic"
    usage="fighter"
    movement_type="eggfoot"

    description= _ "Excerpt from a conversation between Lieutenant Artingale and Sage Hogene:
'- Hogene, I often thank the Gods that the biggest Ragers are so very rare.
- Are they so much more dangerous than the other unnatural denizens of the forest, my Lord?
- Well, they kill you honestly, which is more than you can say for most. But the bloody smears they leave in their wake haunt my dreams.'"

    
    {NOTE_DRAIN}

    die_sound="hiss-die.wav"
    image="units/aberrations/ripper-beast.png"

    {DEFENSE_ANIM "units/aberrations/ripper-beast.png" "units/aberrations/ripper-beast.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION fangs "units/aberrations/ripper-beast.png" bite.ogg miss-2.ogg }

    [attack]
        name=fangs
        description= _"fangs"
        icon=attacks/fangs-animal.png
        type="blade"
        range="melee"
        damage="9"
        number="4"
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
