#textdomain wesnoth-War_of_Legends

# Aberrations. Scornful Watcher tree, lvl 1.
[unit_type]
    id="Scornful Watcher"
    name= _ "Scornful Watcher"
    race="aberration"

    hitpoints="34"
    movement="5"
    experience="38"
    level="1"
    cost="15"

    alignment="chaotic"
    advances_to="Spiteful Watcher"
    movement_type="aberration"
    usage="archer"

    description= _ "Bad dream after bad dream, growing into nightmares, Meloen fell into a paranoid dementia, thinking to be judged for her misdeeds. She recalled her childhood, when she was afraid of how people looked at her. The Scornful Watchers were born from this fear and now mentally attack their victims, turning their complexes into physical sufferings."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE_FOCUS}

    die_sound="ghoul-hit.wav"
    image="units/aberrations/scornful-watcher.png"
    profile="portraits/aberrations-scornful-watcher.png"
    small_profile="portraits/aberrations-scornful-watcher.png~SCALE(275,275)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}

    {DEFENSE_ANIM "units/aberrations/scornful-watcher.png" "units/aberrations/scornful-watcher.png" ghoul-hit.wav }
    {ATTACK_MELEE_ANIMATION kick "units/aberrations/scornful-watcher.png" club.ogg miss-3.ogg }

    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/aberrations/scornful-watcher-move.png"
        [/frame]
    [/movement_anim]

    [attack]
        name="kick"
        description=_ "kick"
        icon="attacks/kick-aberration.png"
        type="impact"
        range="melee"
        damage="7"
        number="1"
    [/attack]
    [attack]
        name="stare"
        description=_ "stare"
        icon="attacks/gaze.png"
        type=arcane_focus
        range="ranged"
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_ARCANE_FOCUS}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        [frame]
            begin=-250
            end=-200
            image="units/aberrations/scornful-watcher.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/aberrations/scornful-watcher-move.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/aberrations/scornful-watcher-attack.png"
            sound=wail-sml.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/aberrations/scornful-watcher-move.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/aberrations/scornful-watcher-move.png"
                sound=miss-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/aberrations/scornful-watcher.png"
        [/frame]
    [/attack_anim]
[/unit_type]
