#textdomain wesnoth-War_of_Legends

# Aberrations. Shredder tree, lvl 2.
[unit_type]
    id="Shredder Spawn"
    name= _ "Shredder Spawn"
    race="aberration"

    hitpoints="42"
    movement="6"
    experience="70"
    level="2"
    cost="31"

    alignment="chaotic"
    advances_to="Ripper Beast"
    usage="fighter"
    movement_type="eggfoot"

    description= _ "King Dowrein I, Memoirs of a mercenary:
'They were bad enough still in the shell. Once hatched, the especially aggressive ones attacked without pause, hurling themselves at us again and again, battling unto death.'"

    
    

    die_sound="hiss-die.wav"
    image="units/aberrations/shredder-spawn.png"

    {DEFENSE_ANIM "units/aberrations/shredder-spawn.png" "units/aberrations/shredder-spawn.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION fangs "units/aberrations/shredder-spawn.png" bite.ogg miss-2.ogg }

    [attack]
        name=fangs
        description= _"fangs"
        icon=attacks/fangs-animal.png
        type="blade"
        range="melee"
        damage="6"
        number="4"
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
