#textdomain wesnoth-sotbe_RW

[unit_type]
    id=Goblin Reaper
    name= _ "Goblin Reaper"
    race=wolf
    image="units/goblins/reaper.png"

    ellipse="misc/ellipse"
    hitpoints=59
    movement_type=orcishfoot
    movement=10
    experience=150
    advances_to=null
    {AMLA_DEFAULT}
    level=3
    alignment=chaotic
    undead_variation=mounted
    cost=37
    usage=scout
    description= _ "The rare Goblin Reaper represents the pinnacle of what a goblin can achieve despite their humble origins. Through years of survival and cunning, they have honed their skills to lethal perfection, becoming masters of both blade and bow. These elite warriors command genuine respect from their orcish kin, proving that even the weakest of a litter can rise to greatness through determination and skill."

    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/goblins/reaper.png" "units/goblins/reaper.png" {SOUND_LIST:WOLF_HIT} }
    [defense]
        village=50
    [/defense]

    [attack]
        name=sickle
        description= _ "sickle"
        icon=attacks/sickle.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=3
        accuracy=10
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sickle
        [/filter_attack]

        start_time=-175

        [frame]
            image="units/goblins/reaper.png:350"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {GENERIC_BOW_PUNY_ANIM bow ("units/goblins/reaper.png")}
[/unit_type]
