#textdomain wesnoth-sotbe_RW

[unit_type]
    id=Goblin Scout
    name= _ "Goblin Scout"
    race=wolf
    image="units/goblins/scout.png"

    ellipse="misc/ellipse"
    hitpoints=31
    movement_type=orcishfoot
    movement=8
    experience=45
    level=1
    alignment=chaotic
    advances_to=Goblin Archer
    undead_variation=mounted
    cost=16
    usage=scout
    description= _ "Born as the weakest of their orcish litter, Goblin Scouts learned early that survival meant avoiding direct confrontation. Their small size and natural agility make them excellent scouts, able to slip through enemy lines unnoticed while their stronger siblings draw attention. Though they lack the raw power of true orcs, their cunning and speed have earned them a grudging respect among their tribe."

    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/goblins/scout.png" "units/goblins/scout.png" {SOUND_LIST:WOLF_HIT} }
    [defense]
        village=50
    [/defense]

    [attack]
        name=fangs
        description= _ "fangs"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]

    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=5
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]

        start_time=-100

        [frame]
            image="units/goblins/scout.png:250"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {GENERIC_BOW_PUNY_ANIM bow ("units/goblins/scout.png")}
[/unit_type]
