#textdomain wesnoth-sotbe_RW

[unit_type]
    id=Goblin Archer
    name= _ "Goblin Archer"
    race=wolf
    image="units/goblins/archer.png"

    ellipse="misc/ellipse"
    hitpoints=45
    movement_type=orcishfoot
    movement=9
    experience=72
    level=2
    alignment=chaotic
    advances_to=Goblin Reaper
    undead_variation=mounted
    cost=24
    usage=scout
    description= _ "Having survived the harsh competition of their litter, Goblin Archers have proven themselves more capable than their weaker siblings. They compensate for their lack of brute strength with precision and patience, mastering the bow to strike from a distance where their size becomes an advantage. These goblins have earned their place in the tribe through skill rather than raw power, becoming valued hunters and skirmishers."

    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/goblins/archer.png" "units/goblins/archer.png" {SOUND_LIST:WOLF_HIT} }
    [defense]
        village=50
    [/defense]

    [attack]
        name=sickle
        description= _ "sickle"
        icon=attacks/sickle.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]

    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        accuracy=10
        damage=6
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sickle
        [/filter_attack]

        start_time=-175

        [frame]
            image="units/goblins/archer.png:350"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {GENERIC_BOW_PUNY_ANIM bow ("units/goblins/archer.png")}
[/unit_type]
