#textdomain wesnoth-sotbe_RW
[unit_type]
    id=Goblin Healer
    name= _ "Goblin Healer"
    race=goblin
    image="units/goblins/healer.png"
    hitpoints=23
    ellipse="misc/ellipse"
    movement_type=orcishfoot
    movement=5
    experience=50
    level=1
    alignment=chaotic
    advanceto=null
    {AMLA_DEFAULT}
    cost=12
    usage=healer
    unit_description= _ "While not fully fledged shamans, Goblin Healers possess a rudimentary understanding of healing herbs and chants, enough to patch up minor wounds within their tribe. Their methods are often crude and involve more chanting and strange poultices than actual medicine, but they're better than nothing in the heat of battle. Orcs tolerate them, seeing their abilities as a quirky benefit rather than true skill"
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/goblins/healer-defend.png" "units/goblins/healer.png" {SOUND_LIST:ORC_HIT} }
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=staff
        description= _"staff"
        type=impact
        range=melee
        damage=4
        number=1
        icon=attacks/druidstaff.png
    [/attack]

    [healing_anim]
        start_time=-200
        [frame]
            image="units/goblins/healer.png:55"
        [/frame]
        [frame]
            image="units/goblins/healer-curse-1.png:55"
            halo=halo/elven/shaman-heal-halo-[1~7].png
        [/frame]
        [frame]
            image="units/goblins/healer.png:30"
        [/frame]
    [/healing_anim]

    [attack_anim]
        [attack_filter]
            name=staff
        [/attack_filter]
        [frame]
            begin=-200
            end=-100
            image="units/goblins/healer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/goblins/healer-staff-1.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/goblins/healer-staff-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/goblins/healer.png"
        [/frame]
    [/attack_anim]
[/unit_type]
