#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Goblin Trumpeter
    name= _ "Goblin Trumpeter"
    race=goblin
    image="units/goblins/trumpeter.png"
    profile="portraits/goblins/rouser.png"

    {LEADING_ANIM "units/goblins/trumpeter-lead-2.png" "units/goblins/trumpeter-lead-1.png" 14,-25}

    hitpoints=41
    movement_type=orcishfoot
    movement=6
    experience=65

    #[advancefrom]
    #    unit="Goblin Rouser"
    #    experience=30
    #[/advancefrom]
    level=2
    alignment=chaotic
    advances_to=Goblin Chieftain
    undead_variation=goblin
    cost=22
    usage=fighter
    description= _ "Only the best of rousers can hope to become a trumpeter. Trumpeters spend many hours studying the subtleties of the complex orc war signals. For the orcs, such signals are much more than a simple message of advance or retreat, they inspire their entire army and reinforce their bloodthirsty nature. Many orc warlords consider their trumpeter a trusted confidante and sometimes a trumpeter may be allowed to consult with the warlord on his battle plan."

    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/goblins/trumpeter-defend-2.png" "units/goblins/trumpeter-defend-1.png" {SOUND_LIST:GOBLIN_HIT} }

    {STANDING_ANIM_DIRECTIONAL "units/goblins/trumpeter.png" "units/goblins/trumpeter-ne.png"}

    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            duration=25
            offset=0.0
            image=units/goblins/trumpeter-attack-1.png
        [/frame]
        [frame]
            duration=50
            offset=0.0
            image=units/goblins/trumpeter-attack-2.png
        [/frame]
        [frame]
            duration=50
            offset=0.0~0.1
            image=units/goblins/trumpeter-attack-3.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                offset=0.1~0.2
                image=units/goblins/trumpeter-attack-4.png
                sound=spear.ogg
            [/frame]
            [frame]
                duration=150
                offset=0.2~0.4
                image=units/goblins/trumpeter-attack-5.png
            [/frame]
            [frame]
                duration=50
                offset=0.4~0.2
                image=units/goblins/trumpeter-attack-6.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image=units/goblins/trumpeter-defend-1.png
                offset=0.1~0.2
                sound=spear-miss.ogg
            [/frame]
            [frame]
                duration=100
                offset=0.2~0.4
                image=units/goblins/trumpeter-defend-2.png
            [/frame]
            [frame]
                duration=75
                offset=0.4~0.2
                image=units/goblins/trumpeter-defend-1.png
            [/frame]
        [/else]
        [frame]
            duration=50
            offset=0.2~0.1
            image=units/goblins/trumpeter-attack-7.png
        [/frame]
        [frame]
            duration=25
            offset=0.1~0.0
            image=units/goblins/trumpeter.png
        [/frame]
    [/attack_anim]
[/unit_type]
