#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Troll Mystic
    name= _ "Troll Mystic"
    race=troll
    image=units/trolls/mystic.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    hitpoints=38
    movement_type=largefoot
    [resistance]
        pierce=90
    [/resistance]
    movement=4
    experience=40 #should balance it.
    level=1
    undead_variation=troll
    alignment=chaotic
    advances_to=Troll Shaman
# Increased cost due to considerably high HP and good magic attack 
    cost=16
    usage=mixed fighter
    description= _ "Troll Mystics are trolls, who are gifted with the ability to use magic. Though weak than other trolls, their considerable skill with their fire magic is not to be underestimated."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/trolls/mystic.png" "units/trolls/mystic.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    #melee attack should be worse than troll shaman,
    #since a considerable ranged attack
    [attack]
        name=fist
        description= _"fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    #with underground bonus, troll actually gets 6-3 attack. Lord-Knightmare: this attacks sucks!
    [attack]
        name=flame blast
        description= _"flame blast"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=5
        number=3
        icon=attacks/fireball.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flame blast
        [/filter_attack]

        start_time=-400
        offset=0.0

        flame_burst_1_start_time=-400
        flame_burst_2_start_time=-350
        flame_burst_3_start_time=-300
        flame_burst_4_start_time=-250
        flame_burst_5_start_time=-200

        [if]
            direction=se,s,sw

            [flame_burst_1_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png~FL(vert):50,halo/flame-burst-2.png~FL(vert):50,halo/flame-burst-3.png~FL(vert):50,halo/flame-burst-4.png~FL(vert):50,halo/flame-burst-5.png~FL(vert):50,halo/flame-burst-6.png~FL(vert):50,halo/flame-burst-7.png~FL(vert):50,halo/flame-burst-8.png~FL(vert):48,misc/blank-hex.png:1
                halo_x,halo_y=-22,0
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png~FL(vert):50,halo/flame-burst-2.png~FL(vert):50,halo/flame-burst-3.png~FL(vert):50,halo/flame-burst-4.png~FL(vert):50,halo/flame-burst-5.png~FL(vert):50,halo/flame-burst-6.png~FL(vert):50,halo/flame-burst-7.png~FL(vert):50,halo/flame-burst-8.png~FL(vert):48,misc/blank-hex.png:1
                halo_x,halo_y=-14,9
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png~FL(vert):50,halo/flame-burst-2.png~FL(vert):50,halo/flame-burst-3.png~FL(vert):50,halo/flame-burst-4.png~FL(vert):50,halo/flame-burst-5.png~FL(vert):50,halo/flame-burst-6.png~FL(vert):50,halo/flame-burst-7.png~FL(vert):50,halo/flame-burst-8.png~FL(vert):48,misc/blank-hex.png:1
                halo_x,halo_y=0,12
                offset=1.0
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png~FL(vert):50,halo/flame-burst-2.png~FL(vert):50,halo/flame-burst-3.png~FL(vert):50,halo/flame-burst-4.png~FL(vert):50,halo/flame-burst-5.png~FL(vert):50,halo/flame-burst-6.png~FL(vert):50,halo/flame-burst-7.png~FL(vert):50,halo/flame-burst-8.png~FL(vert):48,misc/blank-hex.png:1
                halo_x,halo_y=14,9
                offset=1.0
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png~FL(vert):50,halo/flame-burst-2.png~FL(vert):50,halo/flame-burst-3.png~FL(vert):50,halo/flame-burst-4.png~FL(vert):50,halo/flame-burst-5.png~FL(vert):50,halo/flame-burst-6.png~FL(vert):50,halo/flame-burst-7.png~FL(vert):50,halo/flame-burst-8.png~FL(vert):48,misc/blank-hex.png:1
                halo_x,halo_y=22,0
                offset=1.0
            [/flame_burst_5_frame]
        [/if]
        [else]
            direction=ne,n,nw

            [flame_burst_1_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1
                halo_x,halo_y=-22,0
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1
                halo_x,halo_y=-14,9
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1
                halo_x,halo_y=0,12
                offset=1.0
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1
                halo_x,halo_y=14,9
                offset=1.0
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                duration=400
                halo=misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1
                halo_x,halo_y=22,0
                offset=1.0
            [/flame_burst_5_frame]
        [/else]

        [frame]
            sound=fire.wav
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=200
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-300
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=100
            image=units/trolls/mystic.png
        [/frame]
        [frame]
            duration=50
            image=units/trolls/mystic.png
        [/frame]
    [/attack_anim]
[/unit_type]
