#textdomain wesnoth-The_Sojournings_of_Grog

#unit originally taken from Era of Magic
# WML modifications by Elvish_Hunter.

[unit_type]
    id=Troll Warbanner
    name= _ "Troll Warbanner"
    race=troll
    image="units/trolls/warbanner.png"
    profile="portraits/trolls/troll-shaman.png"
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_PROTECTION}
    [/abilities]
    hitpoints=64
    movement_type=largefoot
    [resistance]
        pierce=90
        fire=70
        cold=80
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=mixed fighter

    description= _ "Wizards have gleaned much experience from the world around them. More devoted to their tribe and arts, they are able to conjure a myriad of artifacts into their bare palms, using their memories and imagination solely. People say that their curse will always find its mark. Rumours even tell of them protecting their allies in a mystical aura, weakening the foe's attacks."

    {NOTE_PROTECTION}

    {DEFENSE_ANIM "units/trolls/warbanner-melee-1.png" "units/trolls/warbanner-melee-1.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    [attack]
        name=fist
        description= _ "banner"
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=flame blast
        description= _ "flame blast"
        icon=attacks/fireball.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=11
        number=3
    [/attack]

    # [attack]
    #    name=chill sphere
    #    description=_"chill sphere"
    #    type=cold
    #    [specials]
    #        {WEAPON_SPECIAL_MAGICAL}
    #    [/specials]
    #    range=ranged
    #    #a bit weaker as will be 150 against drakes ie 20-3 at night
    #    damage=9
    #    number=3
    #    icon=attacks/iceball.png
    # [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-150
        [frame]
            image="units/trolls/warbanner-melee-1.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=flame blast
        [/filter_attack]

        start_time=-400
        offset=0.0

        flame_burst_1_start_time=-400
        flame_burst_2_start_time=-350
        flame_burst_3_start_time=-300
        flame_burst_4_start_time=-250
        flame_burst_5_start_time=-200

        [if]
            direction=se,s,sw

            [flame_burst_1_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png~FL(vert):[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=-22,0
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png~FL(vert):[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=-14,9
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png~FL(vert):[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=0,12
                offset=1.0
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png~FL(vert):[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=14,9
                offset=1.0
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png~FL(vert):[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=22,0
                offset=1.0
            [/flame_burst_5_frame]
        [/if]
        [else]
            direction=ne,n,nw

            [flame_burst_1_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png:[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=-22,0
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png:[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=-14,9
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png:[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=0,12
                offset=1.0
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png:[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=14,9
                offset=1.0
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                duration=400
                halo="misc/blank-hex.png:1,halo/flame-burst-[1~8].png:[50*7,48],misc/blank-hex.png:1"
                halo_x,halo_y=22,0
                offset=1.0
            [/flame_burst_5_frame]
        [/else]

        [frame]
            sound=fire.wav
            image="units/trolls/warbanner-magic-1.png:200"
            halo="halo/fire-aura-small-light.png"
        [/frame]
        [frame]
            image="units/trolls/warbanner-magic-2.png:200"
            halo="halo/fire-aura-small-medium.png"
        [/frame]
        [frame]
            image="units/trolls/warbanner-magic-3.png:200"
            halo="halo/fire-aura-small-light.png"
        [/frame]
        attack_sound_start_time=-400
        [attack_sound_frame]
            sound=fire.wav
        [/attack_sound_frame]
    [/attack_anim]

    #[attack_anim]
    #    #this is a bit slower than the soothsayer attack
    #    [filter_attack]
    #        name=chill sphere
    #    [/filter_attack]
    #    {MISSILE_FRAME_ICE}
    #    start_time=-400
    #    [frame]
    #        image="units/trolls/warbanner-cold-magic-[1*2,2*2,3*2].png:[60,70,80,90,100,90]"
    #        halo="halo/saurian-magic-halo-[1~6].png"
    #    [/frame]
    #[/attack_anim]
[/unit_type]
