#textdomain wesnoth-War_of_Legends
[unit_type]
	id=Aqua Mage
	
	# wmllint: general spelling mage mages magery magecraft
	race=human
	gender=female
	hitpoints=42
	movement_type=smallfoot
	movement=6
	experience=145
	level=2
	alignment=neutral
	advances_to=Frost Mage
	cost=40
	usage=mixed fighter
	description= _ "Some people show an unusual affinity to water and ice, and the corresponding magic, a trait hitherto thought to be found only in merfolk. After some serious training, their skill in manipulating water is much higher. Their affinity to water magic also grants them higher mobility in water."
	
	name= _ "female^Aqua Mage"
	image="units/human-magi/aqua-mage+female.png~RC(magenta>blue)"
	profile="portraits/human-mage-aqua+female.webp"
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "units/human-magi/aqua-mage+female-defend.png~RC(magenta>blue)" "units/human-magi/aqua-mage+female.png~RC(magenta>blue)" {SOUND_LIST:HUMAN_FEMALE_HIT} }

	[movement_costs]
		deep_water=1
		shallow_water=1
		swamp_water=1
		reef=1
		frozen=1
		forest=2
		sand=3
	[/movement_costs]
	[defense]
		deep_water=50
		shallow_water=40
		reef=40
		swamp_water=50
		hills=60
		mountains=60
		frozen=50
	[/defense]
	[resistance]
		cold=10
		arcane=30
		fire=80
		electric=120
		water=0
	[/resistance]
	[attack]
		name=staff
		description=_"staff"
		icon=attacks/staff-magic.png
		type=impact
		range=melee
		damage=6
		number=2
	[/attack]
	[attack]
		name=aquablast
		description=_"aqua blast"
		icon=attacks/waterspray.png
		type=water
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		damage=6
		number=5
	[/attack]
	[attack]
		name=wave
		description=_"wave attack"
		icon=attacks/fog-blue-3.png
		type=impact
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		damage=13
		number=2
	[/attack]
	[attack_anim]
		[filter_attack]
			name=aquablast,wave
		[/filter_attack]
		
		start_time=-420

		{MERMAID_WATER_BLAST_HALO}
		{MAGIC_MISSILE 11 -20}
		{MERMAID_STAFF_FLARE 16 -12}
		
		[frame]
			image="units/human-magi/aqua-mage+female-attack-magic[1,2,1].png:[100,700,200]"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=staff
		[/filter_attack]
		[frame]
			image="units/human-magi/aqua-mage+female.png:50"
		[/frame]
		[frame]
			image="units/human-magi/aqua-mage+female-attack-staff-[1~2].png:[100,200]"
		[/frame]
		[frame]
			image="units/human-magi/aqua-mage+female-attack-magic1.png:50"
		[/frame]
		[frame]
			image="units/human-magi/aqua-mage+female.png:50"
		[/frame]
	[/attack_anim]

	# TODO
	#  [male]
	#	  name= _ "Aqua Mage"
	#	  image="units/human-magi/red-mage.png~RC(magenta>blue)"
	#	  profile="portraits/humans/mage-red.png~RC(magenta>blue)"
	#	  die_sound={SOUND_LIST:HUMAN_DIE}
	#	  {DEFENSE_ANIM "units/human-magi/mage-defend.png" "units/human-magi/mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }

	#	  [attack_anim]
	#		  [filter_attack]
	#			  name=aquablast
	#		  [/filter_attack]
	
	#		  start_time=-420
	
	#		  {MERMAID_WATER_BLAST_HALO}
	#		  {MERMAID_STAFF_FLARE 16 -12}
			
	#		  #  [frame]
	#		  #	  image="units/human-magi/mage-attack-magic[1,2,1].png:[100,700,200]"
	#		  #  [/frame]
	#		  # wmlscope: start ignoring
	#		  {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
	#		  # wmlscope: stop ignoring
	#	  [/attack_anim]
	#	  [attack_anim]
	#		  [filter_attack]
	#			  name=staff
	#		  [/filter_attack]
	#		  start_time=-250
	#		  #  [frame]
	#		  #	  image="units/human-magi/mage.png:50"
	#		  #  [/frame]
	#		  #  [frame]
	#		  #	  image="units/human-magi/mage-attack-staff[1~2].png:[100,200]"
	#		  #  [/frame]
	#		  {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
	#		  #  [frame]
	#		  #	  image="units/human-magi/mage-attack-magic1.png:50"
	#		  #  [/frame]
	#		  #  [frame]
	#		  #	  image="units/human-magi/mage.png:50"
	#		  #  [/frame]
	#	  [/attack_anim] 
	#  [/male]
[/unit_type]
