#textdomain wesnoth-War_of_Legends
[unit_type]
	id=Frost Mage
	# wmllint: general spelling mage mages magery magecraft
	race=human
	gender=female
	hitpoints=53
	movement_type=smallfoot
	movement=6
	experience=150
	level=3
	alignment=neutral
	advances_to=null
	{AMLA_DEFAULT}
	cost=59
	usage=mixed fighter
	description= _ "Long time spent on understanding the properties of water and the corresponding magic can eventually grant the mage valuable insights on the properties on matter itself. No longer limited to manipulation of liquids, they are now capable of modifying the intrinsic coldness of surronding matter itself. When challenged, they can easily turn their opponents into a living statue of ice or decimate them with massive water waves out of nowhere."

	name= _ "female^Frost Mage"
	image="units/human-magi/frost-mage+female.png~RC(magenta>blue)"
	profile="portraits/human-mage-frost+female.webp"
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "units/human-magi/frost-mage+female-defend.png~RC(magenta>blue)" "units/human-magi/frost-mage+female.png~RC(magenta>blue)" {SOUND_LIST:HUMAN_FEMALE_HIT} }

	[movement_costs]
		deep_water=1
		shallow_water=1
		swamp_water=1
		reef=1
		frozen=1
		forest=2
		sand=3
	[/movement_costs]
	[defense]
		deep_water=40
		shallow_water=30
		reef=20
		swamp_water=40
		hills=60
		mountains=70
		frozen=40
	[/defense]
	[resistance]
		cold=10
		arcane=30
		fire=90
		electric=130
		water=0
	[/resistance]
	[attack]
		name=staff
		description=_"frost staff"
		icon=attacks/staff-magic.png
		type=impact
		range=melee
		damage=7
		number=2
	[/attack]
	[attack]
		name=iceblast
		description=_"ice blast"
		icon=attacks/iceball.png
		type=cold
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_FREEZES}
		[/specials]
		damage=7
		number=6
	[/attack]
	[attack]
		name=wave
		description=_"crashing wave"
		icon=attacks/fog-blue-3.png
		type=impact
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_STUN}
		[/specials]
		damage=17
		number=2
	[/attack]
	[attack_anim]
		[filter_attack]
			name=iceblast,wave
		[/filter_attack]
		
		start_time=-420

		{MERMAID_WATER_BLAST_HALO}
		{AQUA_BLAST 11 -20}
		{MERMAID_STAFF_FLARE 16 -12}
		
		[frame]
			image="units/human-magi/frost-mage+female-attack-magic[1,2,1].png:[100,700,200]"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=staff
		[/filter_attack]
		[frame]
			image="units/human-magi/frost-mage+female.png:50"
		[/frame]
		[frame]
			image="units/human-magi/frost-mage+female-attack-staff-[1~2].png:[100,200]"
		[/frame]
		[frame]
			image="units/human-magi/frost-mage+female-attack-magic1.png:50"
		[/frame]
		[frame]
			image="units/human-magi/frost-mage+female.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]
