#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Forest Mage
    name= _ "Forest Mage"
    race=human
    gender=female
    image="units/human-magi/forest-mage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
#    profile="portraits/humans/mage-red.png"
    hitpoints=38
    movement_type=smallfoot
    movement=5
    experience=110
    level=2
    alignment=neutral
    advances_to=Mage of Nature
    cost=40
    [movement_costs]
        forest=1
    [/movement_costs]
    [defense]
        forest=40
    [/defense]
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_EXTRA_HEAL}
    [/abilities]
    usage=mixed fighter
    description= _"Over time a wood mage, having accumulated enough knowledge in the study of herbs and nature is known as a 'Forest' Mage.

These mages have the ability to heal themselves and nearby allies and can command the very essence of forests in the form of a devastating ball of fire."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ENCHANTED}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_EXTRA_HEAL}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/forest-mage-defend.png" "units/human-magi/forest-mage.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #[resistance]
    #    fire=90
    #[/resistance]
    #[portrait]
    #    size=400
    #    side="left"
    #    mirror="false"
    #    image="portraits/humans/transparent/mage-red.png"
    #[/portrait]
    #[portrait]
    #    size=400
    #    side="right"
    #    mirror="true"
    #    image="portraits/humans/transparent/mage-red.png"
    #[/portrait]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-green.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=nature flare
        description=_"nature flare"
        type=fire
        icon="attacks/nature-flare.png"
        range=ranged
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        damage=6
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=nature flare
        [/filter_attack]
        {MISSILE_FRAME_NATURE_FLARE}

        start_time=-575
        [frame]
            duration=50
            image="units/human-magi/forest-mage.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/forest-mage-attack-magic1.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/human-magi/forest-mage-attack-magic2.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/forest-mage-attack-magic1.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/forest-mage.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-magi/forest-mage.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/forest-mage-attack-staff1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-magi/forest-mage-attack-staff2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-magi/forest-mage-attack-staff2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-magi/forest-mage-attack-magic1.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/human-magi/forest-mage.png"
        [/frame]
    [/attack_anim]
[/unit_type]
