#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Adept of Light
    name= _ "female^Adept of Light"
    race=human
    gender=female
    image="units/human-magi/adept.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=23
    movement_type=smallfoot
    movement=5
    experience=58
    level=1
    alignment=lawful
    advances_to=White Mage,Cleric
    cost=17
    usage=mixed fighter
    description= _ "Certain female mage apprentices are chosen from admission into the academies to study the magic of light. After graduation, they become Adepts. These magi can summon the Light in the form of energy balls and are able slightly heal wounded allies."{SPECIAL_NOTES}+{SPECIAL_NOTES_ENCHANTED}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/adept.png" "units/human-magi/adept.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [resistance]
        arcane=70
    [/resistance]
    [healing_anim]
        [frame]
            begin=-525
            end=-450
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=-450
            end=-375
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/human-magi/adept.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/human-magi/adept.png"
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-magi/adept.png"
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-magi/adept.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/human-magi/adept.png"
            halo=halo/holy/halo4.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/human-magi/adept.png"
            halo=halo/holy/halo5.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-magi/adept.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/human-magi/adept.png"
        [/frame]
    [/healing_anim]
    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=3
        number=2
        icon=attacks/staff-magic.png
    [/attack]
    [attack]
        name=aura blast
        description=_"aura blast"
        icon="attacks/aura-blast-pure.png"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-325
            end=-300
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/adept.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-magi/adept.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-magi/adept.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/human-magi/adept.png"
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/human-magi/adept.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=aura blast
        [/filter_attack]
        {MISSILE_FRAME_AURA_BLAST_PURE}
        [frame]
            begin=-500
            end=50
            image="units/human-magi/adept.png"
            halo=halo/aura-pure-preparation-halo1.png,halo/aura-pure-preparation-halo2.png,halo/aura-pure-preparation-halo3.png,halo/aura-pure-preparation-halo4.png,halo/aura-pure-preparation-halo5.png,halo/aura-pure-preparation-halo6.png,halo/aura-pure-preparation-halo7.png
            halo_x,halo_y=12,-5
            sound=magicmissile.wav
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/human-magi/adept.png"
        [/frame]
    [/attack_anim]
[/unit_type]
