#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Cleric
    name= _ "female^Cleric"
    race=human
    gender=female
    image="units/human-magi/cleric.png"
   halo="halo/ice-shine1.png:150,halo/ice-shine2.png:150,halo/ice-shine3.png:150,halo/ice-shine4.png:150,halo/ice-shine5.png:150,halo/ice-shine6.png:150"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=smallfoot
    movement=5
    experience=140
    level=2
    alignment=lawful
    advances_to=Prophetess of Light
    cost=38
    usage=healer
    description= _ "Female adepts are given a choice in their study of light magic. The cleric lacks the healing capabilities of the white mage but possesses knowledge on the sacred-fire, a power that represents the pure light essence. Clerics can also use their powers to guide allies into better fighting."{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_EXTRA_HEAL}+{SPECIAL_NOTES_INSPIRE}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/cleric-defend.png" "units/human-magi/cleric.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [abilities]
        {ABILITY_EXTRA_HEAL}
        {ABILITY_INSPIRE_LEVEL_2}
    [/abilities]
    [resistance]
        arcane=40
    [/resistance]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=sacred fire
        description=_"sacred fire"
        type=arcane
        icon="attacks/sacred-fire.png"
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/human-magi/cleric-magic-3.png"
        [/frame]
    [/leading_anim]
    [healing_anim]
        [frame]
            begin=-525
            end=-450
            image="units/human-magi/cleric-magic-1.png"
        [/frame]
        [frame]
            begin=-450
            end=-375
            image="units/human-magi/cleric-magic-2.png"
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo4.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo5.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-magi/cleric-magic-2.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/human-magi/cleric-magic-1.png"
        [/frame]
    [/healing_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-325
            end=-300
            image="units/human-magi/cleric.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/human-magi/cleric-melee-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/cleric-melee-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-magi/cleric-melee-3.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-magi/cleric-melee-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-magi/cleric-melee-4.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/human-magi/cleric-melee-5.png"
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/human-magi/cleric-melee-6.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sacred fire
        [/filter_attack]
        {MISSILE_FRAME_SACRED_FIRE}

        [frame]
            begin=-300
            end=-225
            image="units/human-magi/cleric-magic-1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-magi/cleric-magic-2.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/human-magi/cleric-magic-3.png"
                sound={SOUND_LIST:HOLY}
                halo=halo/holy/halo1.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/human-magi/cleric-magic-3.png"
                sound={SOUND_LIST:HOLY_MISS}
                halo=halo/holy/halo1.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo5.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/human-magi/cleric-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-magi/cleric-magic-2.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/human-magi/cleric-magic-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]