#textdomain wesnoth-War_of_Legends

[ai]
    {core/macros/ai_candidate_actions.cfg}
    id=default_lua_ai_curse
    description= Default AI with curse lua
    version=10710
    [engine]
       name="lua"
       code= <<
ai = ...
return wesnoth.require("~add-ons/War_of_Legends/artificial-intelligence/lua/jinx.lua")
>>
    [/engine]
    [stage]
        id=main_loop
        name=testing_ai_default::candidate_action_evaluation_loop
        {AI_CA_GOTO}
        {AI_CA_RECRUITMENT}
        {AI_CA_MOVE_LEADER_TO_GOALS}
        {AI_CA_MOVE_LEADER_TO_KEEP}
        {AI_CA_COMBAT}
        {AI_CA_HEALING}
        {AI_CA_VILLAGES}
        {AI_CA_RETREAT}
        {AI_CA_MOVE_TO_TARGETS}
        [candidate_action]
            id=jinx_attack
            engine=lua
            name=jinx
            max_score=102000
            evaluation="local ai = ...;return ai:jinx_evaluation()"
            execution="local ai,cfg = ...; ai:jinx_execution(cfg)"
        [/candidate_action]
        [candidate_action]
            id=curse_heal
            engine=lua
            name=curse
            max_score=82000
            evaluation="local ai = ...;return ai:curse_evaluation()"
            execution="local ai,cfg=...;ai:curse_execution(cfg)"
        [/candidate_action]
    [/stage]
[/ai]
