#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Acolyte
    name= _ "female^Quenoth Acolyte"
    race=quenoth
    gender=female
    image=units/quenoth/mystic/mystic.png
    profile="portraits/quenoth/mystic.webp"
    hitpoints=24
    movement_type=quenoth_foot
    movement=5
    experience=38
    level=1
    alignment=neutral
    advances_to=Quenoth Sun Singer
    cost=16
    usage=archer

    description= _ "Faerie and elven magic have oft been aptly associated with life, from which they draw the majority of their power. However, with the death of much of Irdya’s flora, the Quenoth Elves were forced to seek another source for their sorcery. In time, they learned to harness the power of the suns Sela and Naia - the twin stars that had razed the forests of Irdya to ashes, yet still spring forth the energy required for sparking life. Those who master this new magic sing of the dual nature of these embodiments of fire: flames that are both life and life’s demise."

    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=staff
        #textdomain wesnoth-units
        description= _"staff"
        #textdomain wesnoth-utbs
        type=impact
        range=melee
        damage=4
        number=2
        range=melee
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=faerie fire
        #textdomain wesnoth-units
        description= _"faerie fire"
        #textdomain wesnoth-utbs
        type=arcane
        range=ranged
        damage=6
        number=3
        icon=attacks/faerie-fire-sun.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/quenoth/mystic/mystic-defend-2.png" "units/quenoth/mystic/mystic-defend-1.png" {SOUND_LIST:ELF_FEMALE_HIT} }

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/quenoth/mystic/mystic.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        start_time=-350
        {MISSILE_FRAME_FAERIE_FIRE}
        missile_blend_color=255,180,0
        missile_blend_ratio=0.5
        missile_halo_mod=~CS(255,-40,-155)
        [frame]
            image="units/quenoth/mystic/mystic.png"
            duration=500
            halo=halo/elven/faerie-fire-halo[1~7].png
            halo_x,halo_y=14,0
            halo_mod=~CS(255,-40,-155)
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -350}
    [/attack_anim]
[/unit_type]
