#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Quenoth Brave
    name=_"Quenoth Brave"
    race=quenoth
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image=units/quenoth/brave/brave.png
    profile="portraits/quenoth/flanker.webp"
    hitpoints=33
    movement_type=quenoth_foot
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=Quenoth Sword Dancer, Quenoth Flanker
    cost=14
    usage=fighter
    description= _ "Long ago, during more prosperous times, Elven warriors favored the use of swords as more elegant, versatile weapons compared to other melee armaments. However, in recent times, the dearth of supplies for smithing has reduced the availability of blade-crafting, necessitating the fashioning of cheaper, more easily repaired weaponry. Quenoth Braves equip themselves with and prefer a more stealthier approach to combat in the realms of the sand."

    die_sound={SOUND_LIST:ELF_HIT}

    # define attacks
    [attack]
        name=sword
        #textdomain wesnoth-units
        description= _"sword"
        #textdomain wesnoth-War_of_Legends
        type=blade
        range=melee
        damage=5
        number=4
        icon=attacks/sword-elven.png
    [/attack]

    # add animations
    {DEFENSE_ANIM "units/quenoth/brave/brave.png" "units/quenoth/brave/brave.png" {SOUND_LIST:ELF_HIT}}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-300
        [frame]
            duration=450
            image="units/quenoth/brave/brave.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]