#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Quenoth Night Hunter
    name=_"Quenoth Night Hunter"
    race=quenoth
    {TRAITS_SET_NO_STRONG}
    image=units/quenoth/swiftfoot/night-hunter.png
    profile="portraits/quenoth/flanker.webp"
    hitpoints=45
    movement_type=quenoth_foot
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=27
    usage=fighter
    description= _ "As the desert nights fall, the Quenoth Night Hunters take to the shadows, their skill in stealth and precision honed to perfection. These warriors have adapted their techniques to the harsh realities of the sands, mastering the use of lightweight weaponry and cunning tactics to strike unseen and disappear before retaliation is possible. Their ability to navigate the terrain under the cover of darkness makes them invaluable for ambushes and reconnaissance, embodying the resourceful spirit of the Quenoth people in these trying times."

    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]

    die_sound={SOUND_LIST:ELF_HIT}

    # define attacks
    [attack]
        name=dagger
        #textdomain wesnoth-units
        description= _"dagger"
        #textdomain wesnoth-War_of_Legends
        type=blade
        range=melee
        parry=10
        damage=7
        number=5
        icon=attacks/dagger-curved.png
    [/attack]

    [attack]
        name=dagger
        #textdomain wesnoth-units
        description= _"dagger"
        #textdomain wesnoth-War_of_Legends
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/dagger-curved.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    # add animations
    {DEFENSE_ANIM "units/quenoth/swiftfoot/night-hunter.png" "units/quenoth/swiftfoot/night-hunter.png" {SOUND_LIST:ELF_HIT}}
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-300
        [frame]
            duration=450
            image="units/quenoth/swiftfoot/night-hunter.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]