#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Quenoth Swiftfoot
    name=_"Quenoth Swiftfoot"
    race=quenoth
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image=units/quenoth/swiftfoot/swiftfoot.png
    profile="portraits/quenoth/flanker.webp"
    hitpoints=33
    movement_type=quenoth_foot
    movement=6
    experience=38
    level=1
    alignment=neutral
    advances_to=Quenoth Night Hunter
    cost=15
    usage=fighter
    description= _ "In the harsh desert, agility and resourcefulness are key to survival. The Quenoth Swiftfoot embodies these traits, moving swiftly across the sands to outmaneuver their foes. Equipped with light weapons fashioned from the limited resources of their arid homeland, they rely on speed and cunning to gain the upper hand in combat. Their footsteps leave no trace, and their strikes are as swift and precise as the desert winds."

    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]

    die_sound={SOUND_LIST:ELF_HIT}

    # define attacks
    [attack]
        name=dagger
        #textdomain wesnoth-units
        description= _"dagger"
        #textdomain wesnoth-War_of_Legends
        type=blade
        range=melee
        parry=10
        damage=6
        number=4
        icon=attacks/dagger-curved.png
    [/attack]

    # add animations
    {DEFENSE_ANIM "units/quenoth/swiftfoot/swiftfoot.png" "units/quenoth/swiftfoot/swiftfoot.png" {SOUND_LIST:ELF_HIT}}
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-300
        [frame]
            duration=450
            image="units/quenoth/swiftfoot/swiftfoot.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]