#textdomain wesnoth-War_of_Legends

[era]
    id=era_default_classic
    name= _ "Default Era (Classic)"
    require_era=yes
    description=_ "The standard era for Wesnoth multiplayer. Consists of six factions and is generally balanced."

    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]