#textdomain wesnoth-War_of_Legends

[era]
    id=era_deep_elves
    name= _ "Default + Deep Elves"
    description= _ "An era featuring the additional faction 'Deep Elves' besides the seven factions from Default Era. Deep Elves rely heavily on the management of their lawful, neutral and chaotic units and a proper utilisation of their special abilities."
    require_era=yes
    min_addon_version="1.2.7.80"

    {ERA_DEFAULT}
    {multiplayer/factions/dunefolk-default.cfg}
    {WOL_SIDE WOL Deep-Elves}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}

    [load_resource]
        id=wol_resource_abilities_events_deep_elves
    [/load_resource]
[/era]
