#textdomain wesnoth-War_of_Legends

# Empowered Legends Era

[era]
    id=empowered_legends
    name= _ "Empowered Legends Era"

    description= _ "An era with higher level units: level three leaders, with level one and two units available for recruitment. Consists of fourteen factions. Not considered balanced."

    require_era=yes

    {RANDOM_SIDE}

    {WOL_SIDE EL Aragwaithi}
    {WOL_SIDE EL Deep-Elves}
    {WOL_SIDE EL Humans}
    {WOL_SIDE EL Legion}
    {WOL_SIDE EL Minotaurs}
    {WOL_SIDE EL Orcs}
    {WOL_SIDE EL Outlaws}
    {WOL_SIDE EL Quenoth}
    {WOL_SIDE EL Sylvans}
    {WOL_SIDE EL Steelhive}
    {WOL_SIDE EL Undead}
    {WOL_SIDE EL Vampires}
    {WOL_SIDE EL Windsong}
    {WOL_SIDE EL Nightmares}
    {multiplayer/factions/drakes-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/dunefolk-aoh.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}

    [load_resource]
        id=WOL_resource_mp_era
    [/load_resource]
    [load_resource]
        id=WOL_resource_smart_AI
    [/load_resource]
    [load_resource]
        id=wol_deep_elves_minotaur_upkeep
    [/load_resource]
[/era]
