#textdomain wesnoth-War_of_Legends

# Generalised Macro for factions

#define LEGENDS_CONQUEST_MULTIPLAYER_SIDE FACTION_ID FACTION_NAME RECRUIT_LIST FACTION_IMAGE LEADER_LIST RANDOM_LEADER_LIST FACTION_INFO COMMANDERS HEROES DESERTERS DESERTERS_NAMES PAIRS
    [multiplayer_side]
        # this is a template I use for the factions...
        # since I am forgetful these days
        id={FACTION_ID}
        name={FACTION_NAME}
        # recruit=Drake Fighter,Dwarvish Fighter,Drake Burner,Dwarvish Thunderer,Saurian Augur,Dwarvish Ulfserker,Drake Clasher,Dwarvish Guardsman,Saurian Skirmisher,Poacher,Drake Glider,Footpad,Thief,Thief
        recruit={RECRUIT_LIST}
        image={FACTION_IMAGE}
        type=random
        # leader= Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Stalwart,Rogue,Trapper,Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior,Saurian Oracle,Saurian Soothsayer
        leader = {LEADER_LIST}
        random_leader= {RANDOM_LEADER_LIST}
        description= {FACTION_INFO}
        [world_conquest_data]
            # commanders=Drakes,Knalgans
            commanders={COMMANDERS}
            # heroes=Loyalists_All,Northerners_All,Young Ogre
            heroes={HEROES}
            # deserters=Rebels,Undead,Dune Burner
            deserters={DESERTERS}
            # deserters_names={WC_STR_DUNE_BURNER}+", "+{WC_STR_REBELS}+{WC_STR_AND}+{WC_STR_THE_UNDEAD}
            deserters_names={DESERTERS_NAMES}
            # {WC_II_PAIR "Drake Fighter" "Dwarvish Fighter"}
            # {WC_II_PAIR "Drake Burner" "Dwarvish Thunderer"}
            # {WC_II_PAIR "Saurian Augur" "Dwarvish Ulfserker"}
            # {WC_II_PAIR "Drake Clasher" "Dwarvish Guardsman"}
            # {WC_II_PAIR "Saurian Skirmisher" "Poacher"}
            # {WC_II_PAIR "Drake Glider" "Footpad"}
            # {WC_II_PAIR "Thief" "Thief"}
            {PAIRS}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef

#define IMG_ONE
"icons/factions/arbiters.png"#enddef

#define FACTION_INFO_ONE
_ "The Windsong have stayed within their Foundation at the Farthest North, the northernmost continent of Irdya. For centuries, they have watched and noted down the actions of the various continents of the world and only intervened when the situation was dire and immediate action was required. Having witnessed the destruction of their Foundation by the enemy forces, the remnants of the Windsong have decided to finally take up arms and intervene. Despite allegiances with the Sylvans of the Northern Arctic Forests and the Aragwaithi being available, they have chosen to ally with the Undead as the coming days will require extreme actions."
#enddef

#define LEGENDS_CONQUEST_FACTION_ONE
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_one _"Windsong | Undead" ("Gatekeeper,Ghoul,Seeker,Ghost,Skeleton Archer,Weaver,Scribe,Dark Adept,Courier,Skeleton,Sky Shard,Sky Shard,Walking Corpse,Walking Corpse") {IMG_ONE} ("Heretic,Oathkeeper,Envoy,Prophetess,Dark Sorcerer,Necrophage,Revenant,Bone Shooter") ("Revenant,Bone Shooter,Heretic,Envoy") {FACTION_INFO_ONE} (Heroes_Alliance,Heroes_Darkness) (Heroes_Alliance) (Heroes_Horde) (Heroes_Horde) (
        {WC_II_PAIR "Gatekeeper" "Ghoul"}
        {WC_II_PAIR "Seeker" "Ghost"}
        {WC_II_PAIR "Weaver" "Skeleton Archer"}
        {WC_II_PAIR "Scribe" "Dark Adept"}
        {WC_II_PAIR "Courier" "Skeleton"}
        {WC_II_PAIR "Walking Corpse" "Walking Corpse"}
        {WC_II_PAIR "Sky Shard" "Sky Shard"}
    )}
#enddef

#define IMG_TWO
"icons/factions/bloodfire.png"#enddef

#define FACTION_INFO_TWO
 _ "As dictated in the Winds of Fate, the Flight of Karron and all incoming Drake flights were driven away from the Great Continent and to fly pass beyond Morogor further westerwards. This eventually led the drakes to reach the forgotten Old Continent or as the Windsong called it, Argea. The Drakes eventually settled at a new eerie constructed inside and over the volcano at the very heart of the Continent. Eventual exploration revealed that they were in the domain of the Principality of Blood, the strongest and oldest vampire clans on Irdya. Drakes and their native saurian allies did not cower and frequent clashes would result between the two factions.
 
 These two major factions would have stayed at each other's throats if the attacks from the nightmares and abberrants had not caused them to settle on a fragile treaty and alliance."
#enddef

#define LEGENDS_CONQUEST_FACTION_TWO
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_two _"Drakes | Vampires" ("Drake Burner,Blood Apprentice,Drake Clasher,Blood Hulk,Drake Fighter,Fledgeling,Drake Glider,Gargoyle,Saurian Augur,Thin Blood,Saurian Skirmisher,Malborn,True Vampire Bat,True Vampire Bat") {IMG_TWO} ("Drake Flare,Fire Drake,Drake Warrior,Drake Arbiter,Drake Thrasher,Saurian Spearthrower,Vampire Noble,Vampire Duelist,Half Blood,Blood Manipulator") ("Drake Warrior,Drake Flare,Drake Arbiter,Vampire Duelist,Vampire Noble,Blood Manipulator") {FACTION_INFO_TWO} (Heroes_Horde,Heroes_Darkness) (Heroes_Darkness) (Heroes_Alliance) (Heroes_Alliance) (
        {WC_II_PAIR "True Vampire Bat" "True Vampire Bat"}
        {WC_II_PAIR "Saurian Skirmisher" "Malborn"}
        {WC_II_PAIR "Saurian Augur" "Thin Blood"}
        {WC_II_PAIR "Drake Glider" "Gargoyle"}
        {WC_II_PAIR "Drake Fighter" "Fledgeling"}
        {WC_II_PAIR "Drake Clasher" "Blood Hulk"}
        {WC_II_PAIR "Drake Burner" "Blood Apprentice"}
    )}
#enddef

#define IMG_THREE
"icons/book2.png"
#enddef

#define FACTION_INFO_THREE
 _ "TODO"
#enddef

#define LEGENDS_CONQUEST_FACTION_THREE
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_three _"Aragwaithi | Dark Legion" ("Aragwaith Spearman,Legion Spearman,Aragwaith Archer,Legion Archer,Aragwaith Swordsman,Legion Soldier,Aragwaith Adept,Legion Medic,Aragwaith Scout,Legion Horseman,Aragwaith Eagle Rider,Legion Trooper,Naga Guard,Naga Guard") {IMG_THREE} ("Aragwaith Longswordsman,Aragwaith Guard,Aragwaith Strongbow,Aragwaith Pikeman,Aragwaith Flagbearer,Aragwaith Enchantress,Legion Subaltern,Legion Longbowman,Legion Swordsman,Legion Halberdier,Legion Gunner,Legion Crossbowman,Legion Healer") ("Aragwaih Guard,Aragwaith Pikeman,Aragwaith Flagbearer,Aragwaith Longswordsman,Legion Subaltern,Legion Longbowman,Legion Swordsman,Legion Halberdier,Legion Gunner,Legion Crossbowman") {FACTION_INFO_THREE} (Heroes_Darkness,Heroes_Alliance) (Heroes_Alliance) (Heroes_Horde) (Heroes_Horde) (
        {WC_II_PAIR "Aragwaith Spearman" "Legion Spearman"}
        {WC_II_PAIR "Aragwaith Archer" "Legion Archer"}
        {WC_II_PAIR "Aragwaith Swordsman" "Legion Soldier"}
        {WC_II_PAIR "Aragwaith Adept" "Legion Medic"}
        {WC_II_PAIR "Aragwaith Scout" "Legion Horseman"}
        {WC_II_PAIR "Aragwaith Eagle Rider" "Legion Trooper"}
        {WC_II_PAIR "Naga Guard" "Naga Guard"}
    )}
#enddef

#define IMG_FOUR
"icons/book2.png"
#enddef

#define FACTION_INFO_FOUR
 _ "TODO"
#enddef

#define LEGENDS_CONQUEST_FACTION_FOUR
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_four _"Quenoth Elves | Dwarves" ("Quenoth Fighter,Dwarvish Fighter,Quenoth Scout,Dwarvish Thunderer,Quenoth Mystic,Dwarvish Scout,Tauroch Rider,Dwarvish Guardsman,Dwarvish Ulfserker,Dwarvish Ulfserker,Gryphon Rider,Fire Guardian") {IMG_FOUR} ("Quenoth Warrior,Quenoth Flanker,Tauroch Vanguard,Tauroch Stalwart,Quenoth Shaman,Quenoth Sun Singer,Dwarvish Steelclad,Dwarvish Stalwart,Dwarvish Thunderguard") ("Quenoth Warrior,Quenoth Flanker,Tauroch Vanguard,Tauroch Stalwart,Quenoth Shaman,Quenoth Sun Singer,Dwarvish Steelclad,Dwarvish Stalwart,Dwarvish Thunderguard") {FACTION_INFO_FOUR} (Heroes_Alliance,Heroes_Horde) (Heroes_Alliance) (Heroes_Darkness) (Heroes_Darkness) (
        {WC_II_PAIR "Quenoth Fighter" "Dwarvish Fighter"}
        {WC_II_PAIR "Tauroch Rider" "Dwarvish Guardsman"}
        {WC_II_PAIR "Quenoth Scout" "Dwarvish Thunderer"}
        {WC_II_PAIR "Quenoth Mystic" "Dwarvish Scout"}
        {WC_II_PAIR "Dwarvish Ulfserker" "Dwarvish Ulfserker"}
        {WC_II_PAIR "Fire Guardian" "Gryphon Rider"}
    )}
#enddef

#define IMG_FIVE
"attacks/entangle.png"
#enddef

#define FACTION_INFO_FIVE
_ "TODO"
#enddef

#define LEGENDS_CONQUEST_FACTION_FIVE
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_five _"Sylvans | Minotaurs" ("Elvish Fighter,Minotaur Gore,Elvish Archer,Gnoll,Elvish Shaman,Elvish Shaman,Elvish Acolyte,Minotaur Shaman,Elvish Scout,Boar Rider,Elvish Hunter,Centaur Warden,Wose,Minotaur Behemoth,Faerie Sprite,Minotaur Cuttthroat") {IMG_FIVE} ("Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Trapper,Elvish Ascetic,Elvish Sorceress,Elvish Druid,Minotaur Rouser,Minotaur Warlock,Gnoll Deadeye,Minotaur Slayer") ("Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Trapper,Elvish Ascetic,Elvish Sorceress,Minotaur Rouser,Minotaur Warlock,Minotaur Slayer") {FACTION_INFO_FIVE} (Heroes_Darkness,Heroes_Horde) (Heroes_Horde) (Heroes_Alliance) (Heroes_Alliance) (
        {WC_II_PAIR "Elvish Fighter" "Minotaur Gore"}
        {WC_II_PAIR "Elvish Archer" "Gnoll"}
        {WC_II_PAIR "Elvish Shaman" "Elvish Shaman"}
        {WC_II_PAIR "Elvish Acolyte" "Minotaur Shaman"}
        {WC_II_PAIR "Elvish Scout" "Boar Rider"}
        {WC_II_PAIR "Elvish Hunter" "Centaur Warden"}
        {WC_II_PAIR "Wose" "Minotaur Benemoth"}
        {WC_II_PAIR "Faerie Sprite" "Minotaur Cutthroat"}
    )}
#enddef

#define IMG_SIX
"attacks/sand-storm.png"
#enddef

#define FACTION_INFO_SIX
 _ ""
#enddef

#define LEGENDS_CONQUEST_FACTION_SIX
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_six _"Dunefolk | Outlaws" ("Dune Soldier,Axethrower,Dune Rover,Poacher,Dune Burner,Shadow Initiate,Dune Rider,Footpad,Dune Skirmisher,Thief,Dune Herbalist,Shaman,Naga Dirkfang,Naga Fighter,Thug,Young Ogre") {IMG_SIX} ("Dune Captain,Dune Swordsman,Dune Spearguard,Dune Explorer,Dune Falconer,Dune Apothecary,Dune Scorcher,Axeman,Trapper,Shadow Mage,Outlaw,Bandit,Rogue,Wizard") ("Dune Captain,Dune Swordsman,Dune Spearguard,Dune Explorer,Dune Falconer,Dune Apothecary,Dune Scorcher,Axeman,Trapper,Shadow Mage,Outlaw,Bandit") {FACTION_INFO_SIX} (Heroes_Alliance,Heroes_Darkness) (Heroes_Darkness) (Heroes_Horde) (Heroes_Darkness) (
        {WC_II_PAIR "Dune Soldier" "Axethrower"}
        {WC_II_PAIR "Dune Rover" "Poacher"}
        {WC_II_PAIR "Dune Burner" "Shadow Initiate"}
        {WC_II_PAIR "Dune Rider" "Footpad"}
        {WC_II_PAIR "Dune Herbalist" "Shaman"}
        {WC_II_PAIR "Dune Skirmisher" "Thief"}
        {WC_II_PAIR "Naga Dirkfang" "Naga Fighter"}
        {WC_II_PAIR "Young Ogre" "Thug"}
    )}
#enddef

#define IMG_SEVEN
"attacks/sword-human.png"
#enddef

#define FACTION_INFO_SEVEN
 _ ""
#enddef

#define LEGENDS_CONQUEST_FACTION_SEVEN
    {LEGENDS_CONQUEST_MULTIPLAYER_SIDE WOL_WC_faction_seven _"Loyalist | Horde" ("Orcish Grunt,Spearman,Orcish Archer,Bowman,Orcish Assassin,Fencer,Wolf Rider,Cavalryman,Goblin Cavalry,Horseman,Adept of Light,Orcish Shaman,Troll Whelp,Heavy Infantryman,Naga Fighter,Merman Fighter") {IMG_SEVEN} () () {FACTION_INFO_SEVEN} () () (
        {WC_II_PAIR "Orcish Grunt" "Spearman"}
        {WC_II_PAIR "Orcish Archer" "Bowman"}
        {WC_II_PAIR "Orcish Assassin" "Fencer"}
        {WC_II_PAIR "Orcish Shaman" "Adept of Light"}
        {WC_II_PAIR "Troll Whelp" "Heavy Infantryman"}
        {WC_II_PAIR "Wolf Rider" "Cavalryman"}
        {WC_II_PAIR ""}
    )}
#enddef

# era description here 

#define LEGENDS_CONQUEST_ERA_DESCRIPTION
 _ "A remixed variant of the War of Legends era tailored to be played in World Conquest (preferably with Legends Conquest modificiations enabled). There are seven factions, each conforming to the World Conquest era rule as well as the the story setting of the Dark Irdya timeline.
 
 After the first decade of ceaseless attacks by the forces of the Dark Elementalist, various factions across Irdya have been compelled to band together to form an united front against their new and persistent adversaries. Certain allegiances could only be made due to geographical possibilities and some being former enemies casting aside their differences. The goal of all factions is survival as there seems to be no end to the enemy forces."
#enddef

#ifdef LOAD_WC2
[resource]
    id = "knyghtmare_wol_wc_heroes"
    [world_conquest_data]
        [hero_types]
            # Note I have decided theme heroes to the story lore behind war of legends
            # so I am providing context in the era description

            # if you think I committed an injustious act of not included a certain unit type, feel free to petition
            # its addition with appropriate research and reasoning. 

            # dunefolk, loyalists, sylvans, knalgans, drakes, aragwaithi, windsong, quenoth
            [Heroes_Alliance]
                name= _ "Alliance"
                types="Dune Soldier,Dune Rover,Dune Burner,Dune Herbalist,Dune Rider,
                       Infantryman,Spearman,Bowman,Cavalryman,Horseman,Adept of Light,
                       Merman Fighter,Merman Hunter,Mermaid Initiate,
                       Elvish Fighter,Elvish Archer,Elvish Hunter,Elvish Shaman,Elvish Scout,Elvish Acolyte,
                       Wose,Faerie Sprite,Seeker,Scribe,Gatekeeper,Weaver,Courier,
                       Drake Burner,Drake Fighter,Drake Clasher,Drake Glider,Saurian Augur,Saurian Skirmisher,
                       Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Thunderer,Dwarvish Scout,Gryphon Rider,
                       Aragwaith Spearman,Aragwaith Swordsman,Aragwaith Adept,Aragwaith Archer,Aragwaith Eagle Rider,Aragwaith Scout,Quenoth Scout,Quenoth Fighter,Quenoth Mystic,Tauroch Rider"
            [/Heroes_Alliance]
            # orcs, trolls, minotaurs, gnolls, centaurs, ogres, outlaws, saurians, drakes, naga
            [Heroes_Horde]
                name= _ "Horde"
                types="Orcish Grunt,Orcish Archer,Orcish Assassin,Orcish Shaman,Wolf Rider,Goblin Cavalry,
                       Troll Whelp,Naga Fighter,Naga Dirkfang,Naga Guard,Young Ogre,Thug,Thief,Footpad,Poacher,
                       Shadow Initiate,Shaman,Axethrower,Saurian Augur,Saurian Skirmisher,Drake Fighter,Drake Burner,Drake Clasher,Drake Glider,Centaur Warden,Minotaur Gore,Minotaur Cutthroat,Minotaur Shaman,Gnoll,Thunder Mage,Wood Mage,Mage,Wose,Faerie Sprite,
                       Merman Fighter,Merman Hunter,Mermaid Initiate"
            [/Heroes_Horde]
            # vampires, undead, legion, orcs, saurians, trolls, minotaurs, outlaws, naga
            [Heroes_Darkness]
                name= _ "Darkness"
                types="Skeleton,Skeleton Archer,Ghoul,Necro Initiate,Ghost,Dark Adept,
                       Orcish Grunt,Orcish Archer,Orcish Assassin,Orcish Shaman,Wolf Rider,Goblin Cavalry,
                       Naga Fighter,Naga Dirkfang,Naga Guard,Young Ogre,Thug,Thief,Footpad,Poacher,
                       Shadow Initiate,Shaman,Axethrower,Saurian Augur,Saurian Skirmisher,Troll Whelp,
                       Minotaur Gore,Minotaur Cutthroat,Minotaur Shaman,Fledgeling,Blood Apprentice,Thin Blood,
                       Legion Soldier, Legion Archer, Legion Spearman, Legion Horseman, Legion Trooper, Legion Medic"
            [/Heroes_Darkness]
            # Combined
            [Bonus_All]
                types=Heroes_Alliance,Heroes_Horde,Heroes_Darkness
            [/Bonus_All]
        [/hero_types]
        ## array of [trait_extra]
        [trait_extra]
            types=Walking Corpse
            {WORLD_CONQUEST_II_TRAIT_LEGENDARY_ZOMBIE}
        [/trait_extra]
        [trait_extra]
            types=Goblin Spearman
            {WORLD_CONQUEST_II_TRAIT_LEGENDARY_GOBLIN}
        [/trait_extra]
        [trait_extra]
            types=Orcish Assassin,Young Ogre,Ruffian,Woodsman
            {WORLD_CONQUEST_II_TRAIT_EPIC}
        [/trait_extra]
        [trait_extra]
            types=Ghoul,Poacher,Thief,Footpad,Saurian Skirmisher,Vampire Bat,Peasant,Dune Herbalist
            {WORLD_CONQUEST_II_TRAIT_EXPERT}
        [/trait_extra]
        [trait_extra]
            types=Elvish Archer,Elvish Shaman,Elvish Scout,Elvish Fighter
            {TRAIT_DEXTROUS}
        [/trait_extra]
        [trait_extra]
            types=Dwarvish Guardsman,Dwarvish Ulfserker,Dwarvish Thunderer,Dwarvish Scout
            {TRAIT_HEALTHY}
        [/trait_extra]
        [trait_extra]
            types=Naga Fighter,Wolf Rider,Orcish Grunt,Drake Glider,Dune Rover,Dune Rider
            {TRAIT_STRONG}
        [/trait_extra]
        [trait_extra]
            types=Spearman,Fencer,Cavalryman,Merman Fighter,Merman Hunter,Mermaid Initiate,Dune Burner,Thug
            {TRAIT_RESILIENT}
        [/trait_extra]
        [trait_extra]
            types=Heavy Infantryman,Bowman,Skeleton,Skeleton Archer,Saurian Augur,Troll Whelp,Orcish Archer
            {TRAIT_FEARLESS}
        [/trait_extra]
        [hero_spawn_filter]
            types=Naga Fighter,Merman Fighter,Merman Hunter,Mermaid Initiate,Naga Dirkfang,Naga Guard
            [filter_location]
                [filter_radius]
                    [not]
                        terrain="M*,X*"
                    [/not]
                [/filter_radius]
                terrain="W*,S*"
                radius=2
            [/filter_location]
        [/hero_spawn_filter]
    [/world_conquest_data]
[/resource]

[era]
    id=legends_conquest_era
    name= _ "Legends Conquest Era"
    require_era=yes

    description= {LEGENDS_CONQUEST_ERA_DESCRIPTION}

    {RANDOM_SIDE}

    # faction pair choices

    # windsong | undead
    {LEGENDS_CONQUEST_FACTION_ONE}
    # drakes | vampires
    {LEGENDS_CONQUEST_FACTION_TWO}
    # Aragwaithi | darklegion
    {LEGENDS_CONQUEST_FACTION_THREE}
    # quenoth | dwarves
    {LEGENDS_CONQUEST_FACTION_FOUR}
    # sylvans | minotaurs
    {LEGENDS_CONQUEST_FACTION_FIVE}
    # dunefolk | outlaws
    {LEGENDS_CONQUEST_FACTION_SIX}
    # loyalist | horde
    {LEGENDS_CONQUEST_FACTION_SEVEN}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}

    [load_resource]
        id=WOL_resource_mp_era
    [/load_resource]
    [load_resource]
        id=WOL_resource_smart_AI
    [/load_resource]
    [load_resource]
        id = "knyghtmare_wol_wc_heroes"
    [/load_resource]
[/era]
#endif