#textdomain wesnoth-War_of_Legends

# War of Legends RPG

[era]
    id=wol_rpg
    name= _ "War of Legends RPG"

    description= _ "An era with lower level units: with level one leaders, with no units for recruitment. Consists of thirteen factions and is meant to be played in scenarios, which involve roleplaying elements (RPG)."

    require_era=yes

    {RANDOM_SIDE}

    {WOL_SIDE RPG Humans}
    {WOL_SIDE RPG Aragwaithi}
    {WOL_SIDE RPG Deep-Elves}
    {WOL_SIDE RPG Legion}
    {WOL_SIDE RPG Minotaurs}
    {WOL_SIDE RPG Orcs}
    {WOL_SIDE RPG Outlaws}
    {WOL_SIDE RPG Quenoth}
    {WOL_SIDE RPG Sylvans}
    {WOL_SIDE RPG Steelhive}
    {WOL_SIDE RPG Undead}
    {WOL_SIDE RPG Vampires}
    {WOL_SIDE RPG Windsong}
    {WOL_SIDE RPG Nightmares}

    ## | Knalgan Alliance - RPG

    [multiplayer_side]
        id = Knalgan Alliance
        name = _"Knalgan Alliance"
        image = "units/dwarves/fighter.png"

        type = random
        leader = Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Gryphon Rider,Dwarvish Scout
        random_leader = "Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Guardsman,Thug,Poacher"
        terrain_liked=Hh, Ha, Mm
    [/multiplayer_side]

    ## | Dunefolk - RPG

    [multiplayer_side]
        id = Dunefolk
        name = _"Dunefolk"
        image = "units/dunefolk/rover/rover.png"

        type = random
        leader = Dune Soldier, Dune Skirmisher, Dune Herbalist, Dune Rider, Dune Rover, Dune Burner, Naga Dirkfang
        random_leader = Dune Soldier, Dune Skirmisher, Dune Herbalist, Dune Rider, Dune Rover, Dune Burner, Naga Dirkfang
        terrain_liked = Ds, Dd
    [/multiplayer_side]

    ## | Drakes - RPG

    [multiplayer_side]
        id = Drakes
        name = _"Drakes"
        image = "units/drakes/burner.png"

        type = random
        leader = Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur
        random_leader = "Drake Burner,Drake Clasher,Drake Fighter,Saurian Augur"
        terrain_liked = Hh, Ha, Ds, Ss
    [/multiplayer_side]

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}

    [load_resource]
        id=WOL_resource_mp_era
    [/load_resource]
    [load_resource]
        id=WOL_resource_smart_AI
    [/load_resource]
    [load_resource]
        id=WOL_RPG_ability_buff
    [/load_resource]
    [load_resource]
        id=wol_deep_elves_minotaur_upkeep
    [/load_resource]
[/era]
