#textdomain wesnoth-War_of_Legends

# War of Legends RPG

[era]
   id=wol_rpg
   name= _ "War of Legends RPG"

   description= _ "An era with lower level units: with level one leaders, with no units for recruitment. Consists of thirteen factions and is meant to be played in scenarios, which involve roleplaying elements (RPG)."

   require_era=yes
   
   {RANDOM_SIDE}

   {WOL_SIDE RPG Humans}
   {WOL_SIDE RPG Aragwaithi}
   # {WOL_SIDE RPG Elementals}
   {WOL_SIDE RPG Legion}
   {WOL_SIDE RPG Minotaurs}
   {WOL_SIDE RPG Orcs}
   {WOL_SIDE RPG Outlaws}
   {WOL_SIDE RPG Southerners}
   {WOL_SIDE RPG Sylvans}
   {WOL_SIDE RPG Undead}
   {WOL_SIDE RPG Vampires}
   {WOL_SIDE RPG Windsong}

   {QUICK_4MP_LEADERS}
   {TURNS_OVER_ADVANTAGE}

   # enabled mods
   # {~add-ons/War_of_Legends/macros/unit-advancements.cfg}
   # {~add-ons/War_of_Legends/macros/abilities-new.cfg}
   # {~add-ons/War_of_Legends/macros/weapon-specials-2.cfg}
   # {~add-ons/War_of_Legends/macros/nightmare-utils.cfg}
   
   [event]
      name="preload"
      first_time_only=no
      [lua]
         code= << wesnoth.require "~add-ons/War_of_Legends/lua/theme.lua" >>
      [/lua]
   [/event]
   
   {ENABLE_TROLL_SHAMAN}
   {ENABLE_TROLL_BOULDERLOBBER}
   {ENABLE_TROLL_WARMONGER}
   {ENABLE_TROLL_WARBANNER}
   {ENABLE_ORC_RAIDER}
   {ENABLE_NIGHTBLADE}
   {ENABLE_GOBLIN_CUTTHROAT}
   {ENABLE_GOBLIN_SPEARMASTER}
   {ENABLE_GOBLIN_TRUMPETER}
   # {ENABLE_GREAT_OGRE}

   {ENABLE_DEATH_BARON}
   {ENABLE_SHADOWBACK}
   {ENABLE_ANCIENT_LICH}

   # {ENABLE_WOSE_SHAMAN}
   
   # {ENABLE_MOUNTED_BOWMAN}
   # {ENABLE_TITANIUM_DECIMATOR}
   [modify_unit_type]
      type="Spearman"
      remove_advancement="Swordsman"
   [/modify_unit_type]
   [modify_unit_type]
        type="Mage"
        remove_advancement="White Mage"
    [/modify_unit_type]
   {ENABLE_JAVELIN_MASTER}

   # {ENABLE_LAVA_BEHEMOTH}

   {ENABLE_SAURIAN_PROPHET}
   {ENABLE_ARMAGEDDON_DRAKE}

   {ENABLE_DWARVISH_RUNESMITH}
   {ENABLE_DWARVISH_ARCANISTER}
   {ENABLE_GRYPHON_THUNDERLORD}

   {WOL_RADIANCE_EVENT}
   {FROST_NOVA_EVENT}
   {WEAPON_SPECIAL_DAZE_EVENTS}
   {ABILITY_DISENGAGE_EVENTS}

[/era]
