#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Outlaws
    name={MENU_IMG_TXT "units/human-outlaws/huntress.png~TC(1,magenta)" (_"Outlaws")}
    type=random
    leader=Huntress,Bandit,Outlaw,Trapper,Wizard
    random_leader=Huntress,Bandit,Outlaw,Trapper,Wizard
    recruit=Naga Hunter,Tracker,Shaman,Thug,Poacher,Footpad,Thief
    terrain_liked=Gg
    [ai]
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
[/multiplayer_side]
