#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Undead_EL
    name= _"Undead Hordes"
    image="units/undead-necromancers/lich-lord.png"
    type=random
    leader=Lich Lord,Death Knight,Draug,Banebow,Ghast
    random_leader="Lich Lord,Draug,Death Knight"
    recruit=Necro Initiate,Deathmaster,Skeleton,Revenant,Death Baron,Deathblade,Skeleton Archer,Bone Shooter,Skeleton Rider,Chocobone,Bone Knight,Ghost,Wraith,Shadow,Vampire Bat,Blood Bat,Ghoul,Necrophage
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]
