#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Blood Hulk
    name= _ "Blood Hulk"
    race=vampire
    {TRAIT_VAMPIRE}
    image="units/vampires/blood-hulk.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    profile="portraits/vampire-blood-hulk.png"
    small_profile="portraits/vampire-blood-hulk.png~SCALE(205,205)"
    movement_type=hulkfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_MONSTER}
    cost=26
    usage=fighter
    description= _ "These monstrous vampires gorge themselves on the blood of their victims instead of turning them. Their appetite for blood is never sated, and with each victim they grow in strength and size. Only talented blood mages can create such monstrosities."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_FEEDING}
    {DEFENSE_ANIM "units/vampires/blood-hulk.png" "units/vampires/blood-hulk.png" ghoul-hit.wav }
    die_sound=ghoul-hit.wav
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_FEEDING}
    [/abilities]
    [attack]
        name=axe
        description="axe"
        type=blade
        icon="attacks/axe-crude.png"
        range=melee
        damage=14
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            duration=50
            image="units/vampires/blood-hulk.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/vampires/blood-hulk.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/vampires/blood-hulk.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vampires/blood-hulk.png"
        [/frame]
    [/attack_anim]
[/unit_type]
