#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Bloodborn
    name= _ "Bloodborn"
    race=vampire
    gender=male,female
    {TRAIT_VAMPIRE}
    ignore_global_traits=yes
    {TRAIT_RESILIENT}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    image="units/vampires/bloodborn.png"
    profile="portraits/vampire-bloodborn.png"
    small_profile="portraits/vampire-bloodborn.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=19
    movement_type=vampfoot
    movement=5
    experience=20
    level=0
    alignment=neutral
    advances_to=Malborn,Fledgeling,Thin Blood
    cost=7
    usage=fighter
    description= _ "Vampires do not bear many natural children. Most vampires are spawned by a bite from another vampire. The curses and strengths of vampires are spread as the vampire sucks the blood from his prey, and replaces it with magic. People new to the blood are made weak by it, and have not enough mastery over their mind to resist an order of the one who bit them. Eventualy, they will grow used to it, and learn how to use the strength it provides them, but until then they are much as oversized children."
    {DEFENSE_ANIM "units/vampires/bloodborn.png" "units/vampires/bloodborn.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=dagger
        description="dagger"
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/dagger-curved.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            duration=50
            image="units/vampires/bloodborn.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/vampires/bloodborn.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/vampires/bloodborn.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vampires/bloodborn.png"
        [/frame]
    [/attack_anim]

    [female]
        name= _ "female^Bloodborn"
        gender=female
        image="units/vampires/bloodborn+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        profile="portraits/blank.png"
        small_profile="portraits/blank.png~SCALE(205,205)"
        {DEFENSE_ANIM "units/vampires/bloodborn+female.png" "units/vampires/bloodborn+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=knife
            [/filter_attack]
            [frame]
                duration=50
                image="units/vampires/bloodborn+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    duration=200
                    image="units/vampires/bloodborn+female.png"
                    sound=dagger-swish.wav
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    duration=200
                    image="units/vampires/bloodborn+female.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                duration=50
                image="units/vampires/bloodborn+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
