#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Day Hunter
    name= _ "Day Hunter"
    race=vampire
    gender=male,female
    {TRAIT_VAMPIRE}
    image="units/vampires/dayhunter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=vampfoot
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        arcane=100
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=44
    usage=archer
    description= _ "After heading to the halfway point, a halfblood can choose to go back. They still have the strength given them by their vampire blood, but they have chosen light, and no longer desire blood. Many of them will still serve vampire lords, out of loyalty, and habit, and vampire lords rarely regret having them in their service."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    {DEFENSE_ANIM "units/vampires/dayhunter.png" "units/vampires/dayhunter.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=dagger
        description="dagger"
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/dagger-undead.png
    [/attack]
    [attack]
        name=bow
        description="bow"
        type=pierce
        range=ranged
        damage=10
        number=4
        icon=attacks/bow-elven-magic.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            duration=50
            image="units/vampires/dayhunter.png"
        [/frame]
        [frame]
            duration=200
            image="units/vampires/dayhunter.png"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
        [frame]
            duration=50
            image="units/vampires/dayhunter.png"
        [/frame]
    [/attack_anim]
    {HALF-ANIMATED_BOW_ANIMATION (units/vampires/dayhunter.png)}

    [female]
        name=_ "female^Day Hunter"
        gender=female
        image="units/vampires/dayhunter+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/vampires/dayhunter+female.png" "units/vampires/dayhunter+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=dagger
            [/filter_attack]
            [frame]
                duration=50
                image="units/vampires/dayhunter+female.png"
            [/frame]
            [frame]
                duration=200
                image="units/vampires/dayhunter+female.png"
            [/frame]
            {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
            [frame]
                duration=50
                image="units/vampires/dayhunter+female.png"
            [/frame]
        [/attack_anim]
        #Macro HALF-ANIMATED_BOW_ANIMATION is not used for the female Day Hunter due to the fact that the male Day Hunter sprites are used for some reason if said macro is used
        #Yes, I used (units/vampires/dayhunter+female.png) as the image argument
        [attack_anim]
            [filter_attack]
                name=bow
            [/filter_attack]
            {MISSILE_FRAME_ARROW}
            [frame]
                begin=-300
                end=20
                #image="units/vampires/dayhunter+female-attack-bow-1.png"
                image="units/vampires/dayhunter+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-375
                    end=-300
                    #image="units/vampires/dayhunter+female-attack-bow-2.png"
                    image="units/vampires/dayhunter+female.png"
                    sound=bow.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-375
                    end=-300
                    #image="units/vampires/dayhunter+female-attack-bow-2.png"
                    image="units/vampires/dayhunter+female.png"
                    sound=bow-miss.ogg
                [/frame]
            [/else]
            [frame]
                begin=-300
                end=20
                #image="units/vampires/dayhunter+female-attack-bow-3.png"
                image="units/vampires/dayhunter+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
