#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Vampire Duelist
    name= _ "Duelist"
    race=vampire
    gender=male,female
    {TRAIT_VAMPIRE}
    image="units/vampires/duelist.png"

    hitpoints=48
    movement_type=vampfoot
    profile="portraits/blank.png"
    small_profile="portraits/blank.png~SCALE(205,205)"
    movement=6
    experience=73
    level=2
    alignment=chaotic
    advances_to=Sword Dancer
    cost=28
    usage=fighter
    description= _ "Vampires have always had a somewhat upper-class manner. This transfers over to their style of fighting too. The vampires without the family or leadership to become lords make themselves useful to a lord that can ensure they always have a fresh supply of blood. Those who do this are known as duelists. Their masters use them as guards and assassins. The wear not armor, but focus on rapid pinpoint fencing which they carry out with inhuman accuracy."

    {NOTE_COUNTER}

    {DEFENSE_ANIM "units/vampires/duelist-defend-2.png" "units/vampires/duelist-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}

    [standing_anim]
        start_time=0
        [frame]
            image="units/vampires/duelist-stand-[1~3].png:260"
        [/frame]
        [frame]
            image="units/vampires/duelist-stand-[3~1].png:260"
        [/frame]
    [/standing_anim]

    [attack]
        name=sword
        description=_ "sword"
        type=blade
        range=melee
        damage=8
        number=4
        icon=attacks/sword-steel.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_ "fangs"
        type=pierce
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-525
        offset=0.0~-0.05:325,-0.05~0.6:200,0.6~0.0:250
        [if]
            value_second=1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51
        [frame]
            image="units/vampires/duelist-sword-[1,2,3a,4a,5a,6].png:[130,110,110,75,100,125]"
        [/frame]
        [/if]
        [else]
            value_second=2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50
            [frame]
                image="units/vampires/duelist-sword-[1,2,3b,4b,5b,6].png:[130,110,110,75,100,125]"
            [/frame]
        [/else]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/vampires/duelist.png:125"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.05:325,-0.05~0.6:200,0.6~0.0:250
        start_time=-525
        [frame]
            image="units/vampires/duelist-fang-[1~3].png:[130,150,180]"
        [/frame]
        {SOUND:HIT_AND_MISS bite-small.ogg {SOUND_LIST:MISS} -50}
        [frame]
            image="units/vampires/duelist-fang-3.png:190"
        [/frame]
    [/attack_anim]

    [extra_anim]
        flag=transform
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.05 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.1 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.15 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.2 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.25 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.3 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.35 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.4 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.45 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.5 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.55 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.6 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.65 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.7 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.75 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.8 ()}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.8 (alpha=1~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.5 (alpha=0.75~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.3 (alpha=0.25~0)}
    [/extra_anim]
    [extra_anim]
        flag=trans_finish
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.25 (alpha=0~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.5 (alpha=0.25~0.50)}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.75 (alpha=0.50~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "duelist" "128,0,0" 0.75 (alpha=0.75~1)}
    [/extra_anim]

    [female]
        name= _ "female^Duelist"
        gender=female
        image="units/vampires/duelist+female.png"
        profile="portraits/vampire-sword-dancer+female.png"
        small_profile="portraits/vampire-sword-dancer+female.png~SCALE(205,205)"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/vampires/duelist+female-defend-2.png" "units/vampires/duelist+female-defend-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

        [standing_anim]
            start_time=0
            [frame]
                image="units/vampires/duelist+female-stand-[1~3].png:260"
            [/frame]
            [frame]
                image="units/vampires/duelist+female-stand-[3~1].png:260"
            [/frame]
        [/standing_anim]

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-525
            offset=0.0~-0.05:325,-0.05~0.6:200,0.6~0.0:250
            [if]
                value_second=1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51
            [frame]
                image="units/vampires/duelist+female-sword-[1,2,3a,4a,5a,6].png:[130,110,110,75,100,125]"
            [/frame]
            [/if]
            [else]
                value_second=2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50
                [frame]
                    image="units/vampires/duelist+female-sword-[1,2,3b,4b,5b,6].png:[130,110,110,75,100,125]"
                [/frame]
            [/else]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
            [frame]
                image="units/vampires/duelist+female.png:125"
            [/frame]
        [/attack_anim]
    
    
        [attack_anim]
            [filter_attack]
                name=fangs
            [/filter_attack]
            offset=0.0~-0.05:325,-0.05~0.6:200,0.6~0.0:250
            start_time=-525
            [frame]
                image="units/vampires/duelist+female-fang-[1~3].png:[130,150,180]"
            [/frame]
            {SOUND:HIT_AND_MISS bite-small.ogg {SOUND_LIST:MISS} -50}
            [frame]
                image="units/vampires/duelist+female-fang-3.png:190"
            [/frame]
        [/attack_anim]

        [extra_anim]
            flag=transform
            start_time=0
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.05 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.1 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.15 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.2 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.25 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.3 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.35 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.4 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.45 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.5 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.55 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.6 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.65 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.7 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.75 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.8 ()}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.8 (alpha=1~0.75)}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.5 (alpha=0.75~0.25)}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.3 (alpha=0.25~0)}
        [/extra_anim]
        [extra_anim]
            flag=trans_finish
            start_time=0
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.25 (alpha=0~0.25)}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.5 (alpha=0.25~0.50)}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.75 (alpha=0.50~0.75)}
            {VAMPIRE_TRANSFORM_FRAME "duelist+female" "128,0,0" 0.75 (alpha=0.75~1)}
        [/extra_anim]
    [/female]
[/unit_type]
