#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Flesh Artisan
    name= _ "Flesh Artisan"
    race=vampire
    image="units/vampires/flesh-artisan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/vampire-flesh-artisan.png"
    small_profile="portraits/vampire-flesh-artisan.png~SCALE(205,205)"
    hitpoints=46
    movement_type=vampfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=33
    usage=mixed fighter
    description= _ "Some vampires who take up blood magic, decide that torture is much more satisfying than merely destroying. They neglect magic somewhat so that in addition to causing the blood to boil on the inside, they can master causing pain with claws and fangs, on the outside. In battle they can fight well with claws at close range, and magic at a distance."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_DRAIN}
    {DEFENSE_ANIM "units/vampires/flesh-artisan.png" "units/vampires/flesh-artisan.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=claws
        description="claws"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/claws-undead.png
    [/attack]
    [attack]
        name=fangs
        description="fangs"
        type=pierce
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=blood boil
        description=_"blood boil"
        type=fire
        range=ranged
        damage=8
        number=3
        icon=attacks/dark-missile.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/vampires/flesh-artisan.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/vampires/flesh-artisan.png"
                sound=bite-small.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/vampires/flesh-artisan.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vampires/flesh-artisan.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=blood boil
        [/filter_attack]
        {MISSILE_FRAME_BLOOD_BOIL}
        {AURA_HALO}
        [frame]
            begin=-400
            end=-350
            image="units/vampires/flesh-artisan.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/vampires/flesh-artisan.png"
        [/frame]
        [frame]
            begin=-200
            end=0
            image="units/vampires/flesh-artisan.png"
            sound=magicmissile.wav
        [/frame]
        [frame]
            begin=0
            end=50
            image="units/vampires/flesh-artisan.png"
        [/frame]
    [/attack_anim]
    [extra_anim]
        flag=transform
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.05 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.1 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.15 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.2 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.25 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.3 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.35 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.4 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.45 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.5 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.55 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.6 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.65 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.7 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.75 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.8 ()}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.8 (alpha=1~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.5 (alpha=0.75~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.3 (alpha=0.25~0)}
    [/extra_anim]
    [extra_anim]
        flag=trans_finish
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.25 (alpha=0~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.5 (alpha=0.25~0.50)}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.75 (alpha=0.50~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "flesh-artisan" "128,0,0" 0.75 (alpha=0.75~1)}
    [/extra_anim]
[/unit_type]
