#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Sword Dancer
    name= _ "Sword Dancer"
    race=vampire
    gender=male,female
    image="units/vampires/sword-dancer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/blank.png"
    small_profile="portraits/blank.png~SCALE(205,205)"
    hitpoints=68
    movement_type=vampfoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=44
    usage=fighter
    description= _ "Vampires live a long time, and have time to develop many social graces, including dance. Duelists who have spent extended amounts of time fighting, and dancing see similarities between the two, and combine them into a devastating and accurate form of fighting that cuts through defenses."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_COUNTER}+{SPECIAL_NOTES_MARKSMAN}
    {DEFENSE_ANIM "units/vampires/sword-dancer.png" "units/vampires/sword-dancer.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description="sword"
        type=blade
        range=melee
        damage=8
        number=5
        icon=attacks/sword-steel.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description="fangs"
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/vampires/sword-dancer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/vampires/sword-dancer.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/vampires/sword-dancer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vampires/sword-dancer.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/vampires/sword-dancer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/vampires/sword-dancer.png"
                sound=bite-small.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/vampires/sword-dancer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vampires/sword-dancer.png"
        [/frame]
    [/attack_anim]
    [extra_anim]
        flag=transform
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.05 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.1 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.15 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.2 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.25 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.3 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.35 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.4 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.45 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.5 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.55 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.6 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.65 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.7 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.75 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.8 ()}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.8 (alpha=1~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.5 (alpha=0.75~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.3 (alpha=0.25~0)}
    [/extra_anim]
    [extra_anim]
        flag=trans_finish
        start_time=0
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.25 (alpha=0~0.25)}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.5 (alpha=0.25~0.50)}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.75 (alpha=0.50~0.75)}
        {VAMPIRE_TRANSFORM_FRAME "sword-dancer" "128,0,0" 0.75 (alpha=0.75~1)}
    [/extra_anim]

    [female]
        name= _ "female^Sword Dancer"
        gender=female
        profile="portraits/vampire-sword-dancer+female.png"
        small_profile="portraits/vampire-sword-dancer+female.png~SCALE(205,205)"
        image="units/vampires/sword-dancer+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/vampires/sword-dancer+female.png" "units/vampires/sword-dancer+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            [frame]
                duration=50
                image="units/vampires/sword-dancer+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    duration=200
                    image="units/vampires/sword-dancer+female.png"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    duration=200
                    image="units/vampires/sword-dancer+female.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                duration=50
                image="units/vampires/sword-dancer+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=fangs
            [/filter_attack]
            start_time=-200
            [frame]
                duration=50
                image="units/vampires/sword-dancer+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    duration=200
                    image="units/vampires/sword-dancer+female.png"
                    sound=bite-small.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    duration=200
                    image="units/vampires/sword-dancer+female.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                duration=50
                image="units/vampires/sword-dancer+female.png"
            [/frame]
        [/attack_anim]
        [extra_anim]
            flag=transform
            start_time=0
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.05 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.1 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.15 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.2 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.25 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.3 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.35 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.4 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.45 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.5 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.55 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.6 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.65 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.7 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.75 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.8 ()}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.8 (alpha=1~0.75)}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.5 (alpha=0.75~0.25)}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.3 (alpha=0.25~0)}
        [/extra_anim]
        [extra_anim]
            flag=trans_finish
            start_time=0
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.25 (alpha=0~0.25)}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.5 (alpha=0.25~0.50)}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.75 (alpha=0.50~0.75)}
            {VAMPIRE_TRANSFORM_FRAME "sword-dancer+female" "128,0,0" 0.75 (alpha=0.75~1)}
        [/extra_anim]
    [/female]
[/unit_type]
