#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Cataract
    name= _ "Steel Cataract"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_cataract.png"
    hitpoints=41
    movement_type=steelhive_oculus
    movement=6
    experience=140
    level=2
    alignment=neutral
    advances_to=Steel Astigmatic
    cost=20
    usage=archer
    description= _ "The Metallizing Virus perverted the Retinari biology quite indifferently, creating elite versions of them by simply fusing three together into one, boosting their combat potential at the cost of what little individuality they had remaining."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [attack]
        name=spin
        description=_"spin"
        icon=attacks/rayblade.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=shock
        description=_"shock"
        icon=attacks/lightning.png
        type=electric
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spin
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_cataract.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_cataract.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -100}
        missile_start_time=-100
        [missile_frame]
            image="projectiles/darkmissile-n.png:200"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
