#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Vorpal
    name= _ "Steel Vorpal"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_vorpal.png"
    hitpoints=78
    movement_type=steelhive_melee
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=43
    usage=fighter
    description= _ "Experimentation with the Kalkunids resulted in several new model strains; as usual, the Steelhive engaged in its practice of conjoining multiple instances of the same species to create elite forms. These designs were rightly regarded as abominations by the Kalkunids, and while they brought great firepower to the field they also served to galvanized the Kalkunids to unite against the Steelhive at last. This would not save them, in the end."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [abilities]
        {ABILITY_STEADFAST}
		{ABILITY_MECHANIZING_VIRUS}
    [/abilities]
    [attack]
        name=blade
        description=_"blade"
        icon=attacks/rayblade.png
        type=blade
        range=melee
        damage=10
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        number=4
    [/attack]
    [attack]
        name=crush
        description=_"crush"
        icon=attacks/collide.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blade
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_vorpal.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_vorpal.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_vorpal.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_vorpal.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
