#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Dominant
    name= _ "Steel Dominant"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_dominant.png"
    hitpoints=91
    movement_type=steelhive_melee
    movement=5
    experience=200
    level=4
    alignment=neutral
    attacks=0
    advances_to=null
    {AMLA_DEFAULT}
    cost=72
    usage=fighter
    description= _ "Leading such a proteiformus army as the steelhive is a task that cannot be achieved by a single organism. The Steelhive therefore takes its best elements and fuse them into a single model profitient in multi-tasking. This mastery allows it to command the Steelhive as well as making it a formidable enemy able to attack multiple targets at once. However, injuring the Dominant makes it loose part of its multi-tasking ability, making it less deadly while still dangerous."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [abilities]
        {ABILITY_SUPERIOR_LIFE_FORM}
        {ABILITY_REPROGRAM}
        {ABILITY_MECHANIZING_VIRUS}
    [/abilities]
    [attack]
        name=crush
        description=_"crush"
        icon=attacks/collide.png
        type=impact
        range=melee
        damage=15
        number=0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_dominant.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_dominant.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=quill
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/steelhive/steel_dominant.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -100}
        missile_start_time=-100
        [missile_frame]
            image="projectiles/darkmissile-n.png:200"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
    [/attack_anim]

    [variation]
        variation_id=lightly_injured
        inherit=yes
        attacks=2
        [attack]
            name=crush
            description=_"crush"
            icon=attacks/collide.png
            type=impact
            range=melee
            damage=15
            number=2
        [/attack]
        [attack]
            name=quill
            description=_"quill"
            icon=attacks/rayblade.png
            type=pierce
            [specials]
                {WEAPON_SPECIAL_FIRSTSTRIKE}
            [/specials]
            range=ranged
            damage=9
            number=5
        [/attack]
    [/variation]
    [variation]
        variation_id=injured
        inherit=yes
        attacks=1
        [attack]
            name=crush
            description=_"crush"
            icon=attacks/collide.png
            type=impact
            range=melee
            damage=15
            number=2
        [/attack]
    [/variation]
    [variation]
        variation_id=full_health
        inherit=yes
        attacks=3
        [attack]
            name=crush
            description=_"crush"
            icon=attacks/collide.png
            type=impact
            range=melee
            damage=15
            number=2
        [/attack]
        [attack]
            name=quill
            description=_"quill"
            icon=attacks/rayblade.png
            type=pierce
            [specials]
                {WEAPON_SPECIAL_FIRSTSTRIKE}
            [/specials]
            range=ranged
            damage=9
            number=5
        [/attack]
        [attack]
            name=shock
            description=_"shock"
            icon=attacks/lightning.png
            type=electric
            [specials]
                {WEAPON_SPECIAL_MARKSMAN}
            [/specials]
            range=ranged
            damage=14
            number=3
        [/attack]
    [/variation]

    [event]
        name=side turn
        id=dominant_injuries
        first_time_only=no
        [store_unit]
            [filter]
                type=Steel Dominant
            [/filter]
            variable=dominants
        [/store_unit]
        [foreach]
            array=dominants
            [do]
                [set_variable]
                    name=health
                    formula="(floor(4*$this_item.hitpoints/$this_item.max_hitpoints))"
                [/set_variable]
                [switch]
                    variable=health
                    [case]
                        value=4
                        [modify_unit]
                            [filter]
                                id=$this_item.id
                            [/filter]
                            [effect]
                                apply_to=variation
                                name=full_health
                            [/effect]
                        [/modify_unit]
                    [/case]
                    [case]
                        value=3
                        [modify_unit]
                            [filter]
                                id=$this_item.id
                            [/filter]
                            [effect]
                                apply_to=variation
                                name=full_health
                            [/effect]
                        [/modify_unit]
                    [/case]
                    [case]
                        value=2
                        [modify_unit]
                            [filter]
                                id=$this_item.id
                            [/filter]
                            [effect]
                                apply_to=variation
                                name=lightly_injured
                            [/effect]
                        [/modify_unit]
                    [/case]
                    [case]
                        value=1
                        [modify_unit]
                            [filter]
                                id=$this_item.id
                            [/filter]
                            [effect]
                                apply_to=variation
                                name=injured
                            [/effect]
                        [/modify_unit]
                    [/case]
                    [case]
                        value=0
                        [modify_unit]
                            [filter]
                                id=$this_item.id
                            [/filter]
                            [effect]
                                apply_to=variation
                                name=""
                            [/effect]
                        [/modify_unit]
                    [/case]
                [/switch]
            [/do]
        [/foreach]
        {CLEAR_VARIABLE dominants}
    [/event]

    [event]
        name=defender hits, unit placed
        id=dominant_injuries_2
        first_time_only=no
        [filter]
            type=Steel Dominant
        [/filter]
        [set_variable]
            name=health
            formula="(floor(4*$unit.hitpoints/$unit.max_hitpoints))"
        [/set_variable]
        [switch]
            variable=health
            [case]
                value=4
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=full_health
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=3
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=full_health
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=2
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=lightly_injured
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=1
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=injured
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=0
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=""
                    [/effect]
                [/modify_unit]
            [/case]
        [/switch]
    [/event]

    [event]
        name=attacker hits
        id=dominant_injuries_3
        first_time_only=no
        [filter_second]
            type=Steel Dominant
        [/filter_second]
        [set_variable]
            name=health
            formula="(floor(4*$second_unit.hitpoints/$second_unit.max_hitpoints))"
        [/set_variable]
        [switch]
            variable=health
            [case]
                value=4
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=full_health
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=3
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=full_health
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=2
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=lightly_injured
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=1
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=injured
                    [/effect]
                [/modify_unit]
            [/case]
            [case]
                value=0
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]
                    [effect]
                        apply_to=variation
                        name=""
                    [/effect]
                [/modify_unit]
            [/case]
        [/switch]
    [/event]
[/unit_type]
