#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Astigmatic
    name= _ "Steel Astigmatic"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_astigmatic.png"
    hitpoints=58
    movement_type=steelhive_oculus
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    cost=20
    usage=archer
    description= _ "Having commonly used electric shocks as self-defense, the Retinari were easily upgraded from drifting scavengers to relentless attackers, whose lightning bolts were the bane of many a now-extinct species. The first Retinari to be converted have now been upgraded beyond recognition, in pursuit of even further electrical output."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [attack]
        name=spin
        description=_"spin"
        icon=attacks/rayblade.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=collide
        description=_"collide"
        icon=attacks/collide.png
        type=impact
        range=melee
        damage=22
        number=1
    [/attack]
    [attack]
        name=shock
        description=_"shock"
        icon=attacks/lightning.png
        type=electric
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=14
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spin
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_astigmatic.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_astigmatic.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=collide
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:COLLISION}
                begin=-250
                end=0
                image="units/steelhive/steel_astigmatic.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_astigmatic.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -100}
        missile_start_time=-100
        [missile_frame]
            image="projectiles/darkmissile-n.png:200"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
