#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Splicer
    name= _ "Steel Splicer"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_splicer.png"
    hitpoints=52
    movement_type=steelhive_melee
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=26
    usage=fighter
    description= _ "The Kalkunids were unique of all species absorbed by the Steelhive in that they seemed to have some degree of natural resistance to the Metallizing Virus due to their genetic potential. Among certain individuals of the race, the Virus would simply not hold long enough. Among other individuals of the race, the Virus's metallizing properties would be driven wild, creating an imperfect evolution with little self-control, knowing only an unabating hunger."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [attack]
        name=shred
        description=_"shred"
        icon=attacks/rayblade.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shred
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_splicer.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_splicer.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
