#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Skewer
    name= _ "Steel Skewer"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_skewer.png"
    hitpoints=49
    movement_type=steelhive_ranged
    movement=5
    experience=78
    level=2
    alignment=neutral
    advances_to=Steel Dreadnought
    cost=25
    usage=archer
    description= _ "The Seliss engaged in self-modification quite casually, fielding armies of augmented troops with built-in weapons. However, their technology only made them more susceptible to the Metallizing Virus, allowing the Steelhive to turn their own armies against them."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
	[abilities]
		{ABILITY_MECHANIZING_VIRUS}
    [/abilities]
    [attack]
        name=quill
        description=_"quill"
        icon=attacks/rayblade.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        range=ranged
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=quill
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/steelhive/steel_skewer.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
[/unit_type]
