#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Serpent
    name= _ "Steel Serpent"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_serpent.png"
    hitpoints=37
    movement_type=steelhive_aquatic
    movement=8
    experience=52
    level=2
    alignment=neutral
    advances_to=Steel Leviathan
    cost=26
    usage=scout
    description= _ "The Alzebisk were a subtle, clever race, and in their war against the Steelhive they used stealth and ambush quite effectively. The Steelhive has adapted these techniques and improved upon them further to yield the Steel Serpent, optimized for the most underhanded tactics."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_SUBMERGE}
		{ABILITY_MECHANIZING_VIRUS}
    [/abilities]
    [attack]
        name=ram
        description=_"ram"
        icon=attacks/collide.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=ion beam
        description=_"ion beam"
        icon=attacks/dark-missile.png
        type=cold
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:COLLISION}
                begin=-250
                end=0
                image="units/steelhive/steel_serpent.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_serpent.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -100}
        missile_start_time=-100
        [missile_frame]
            image="projectiles/darkmissile-n.png:200"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
