#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Wyrm
    name= _ "Steel Wyrm"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_wyrm.png"
    hitpoints=21
    movement_type=steelhive_aquatic
    movement=7
    experience=32
    level=1
    alignment=lawful
    advances_to=Steel Serpent
    cost=14
    usage=scout
    description= _ "When the Steel Oculi were fully metallized, the obvious next target for infestation was the Alzebisk species. Though the Alzebisk were able to put up more of a resistance than the placid Retinari, they were ultimately assimilated and metallized as well."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=ram
        description=_"ram"
        icon=attacks/collide.png
        type=impact
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=ion beam
        description=_"ion beam"
        icon=attacks/dark-missile.png
        type=cold
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        range=ranged
        damage=5
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:COLLISION}
                begin=-250
                end=0
                image="units/steelhive/steel_wyrm.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_wyrm.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -100}
        missile_start_time=-100
        [missile_frame]
            image="projectiles/darkmissile-n.png:200"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
