#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Steel Vector
    name= _ "Steel Vector"
    race=steelhive
    gender="female"
    image="units/steelhive/steel_vector.png"
    hitpoints=50
    movement_type=steelhive_melee
    movement=5
    experience=88
    level=2
    alignment=neutral
    advances_to=Steel Vorpal,Steel Fideliant
    cost=17
    usage=fighter
    description= _ "When the Metallizing Virus arrived at Wert-Thak, it found its job quite simple. The Kalkunid race lived in isolated tribes, and were in a state of continuous warfare against other tribes. As a result, they failed to unite against a common foe in this war for survival until it was nearly too late."

    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}
    [attack]
        name=blade
        description=_"blade"
        icon=attacks/rayblade.png
        type=blade
        range=melee
        damage=11
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blade
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_vector.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_vector.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
