#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Minotaur Overlord
    name= _ "Overlord"
    race=minotaur
    image="units/minotaurs/overlord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=minotaurfoot
    movement=4
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=60
    usage=fighter
    {AMLA_DEFAULT}
    die_sound=drake-die.ogg
    description= _ "A minotaur that has been recognized for their skill, leadership ability and intelligence is bestowed the title of 'overlord'. Basically the overlord rank is the minotaur equivalent to the human rank of general. Overlords plan all the battle strategies and whatnot, and unlike human generals, overlords sometimes willingly participate directly in battle in order to further inspire their comrades to perform their best."+{SPECIAL_NOTES}+{SPECIAL_NOTES_RECOVERY}+{SPECIAL_NOTES_LEADERSHIP}
    {DEFENSE_ANIM "units/minotaurs/overlord.png" "units/minotaurs/overlord.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
        {ABILITY_RECOVERY}
    [/abilities]
    [resistance]
        blade=90
        impact=80
        pierce=80
    [/resistance]
    [attack]
        name=battle axe
        description=_"battle axe"
        type=blade
        range=melee
        damage=12
        number=4
        icon=attacks/battleaxe.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/overlord.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/overlord.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/overlord.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/overlord.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/overlord.png"
        [/frame]
    [/attack_anim]
[/unit_type]
