#textdomain wesnoth-Nightmares_of_Meloen
#define WRATH_COMMON_DEFINITION
    race=elemental
    undead_variation=null
    hitpoints="54"
    cost="30"
    movement="9"
    experience="150"
    level="2"

    alignment="neutral"
    advances_to="null"
    usage="scout"

    die_sound="slowed.wav"
    image="units/unstable_tornado_form.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}

    [abilities]
        {ABILITY_TERRAIN_LINK}
    [/abilities]
#enddef

#define WRATH_TORNADO_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Tornado Form of Nature Wrath"
    movement_type="nom_elemental_tornado"

    description={WRATH_COMMON_DESCRIPTION}+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERRAIN_LINK}

    die_sound="slowed.wav"
    image="units/unstable_tornado_form.png"
    {DEFENSE_ANIM "units/unstable_tornado_form.png" "units/unstable_tornado_form.png" dagger-swish.wav }
    {NOM_ATTACK_ANIM gust "units/unstable_tornado_form.png" elemental-attack.ogg elemental-attack-miss.ogg }

    [attack]
        name=gust
        description=_"gust"
        type=blade
        range=melee
        damage=5
        number=4
        icon=attacks/ue_melee_tornado.png
    [/attack]
    [attack]
        name=air_blast
        description=_"air blast"
        type=blade
        range=ranged
        damage=8
        number=2
        icon=attacks/ue_melee_tornado.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=air_blast
        [/filter_attack]
        [missile_frame]
            begin=-500
            end=175
            image="projectiles/wailprojectile-n-6.png"
            image_diagonal="projectiles/wailprojectile-ne-6.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/unstable_tornado_form.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/unstable_tornado_form.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

#define WRATH_BRAMBLE_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Bramble Form of Nature Wrath"
    movement_type="nom_elemental_bramble"

    die_sound="wose-die.ogg"
    image="units/unstable_bramble_form.png"
    {DEFENSE_ANIM "units/unstable_bramble_form.png" "units/unstable_bramble_form.png" wose-hit.ogg }
    {NOM_ATTACK_ANIM crush "units/unstable_bramble_form.png" wose-attack.ogg wose-miss.ogg }

    [attack]
        name=crush
        description=_"crush"
        type=impact
        range=melee
        damage=16
        number=2
        icon=attacks/crush-wose.png
    [/attack]
#enddef

#define WRATH_QUAKE_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Quake Form of Nature Wrath"
    movement_type="nom_elemental_quake"

    die_sound="ugg.wav"
    image="units/nature_wrath_quake_form.png"
    {DEFENSE_ANIM "units/nature_wrath_quake_form.png" "units/nature_wrath_quake_form.png" ugg.wav }
    {NOM_ATTACK_ANIM shatter "units/nature_wrath_quake_form.png" fist.ogg {SOUND_LIST:MISS} }

    [attack]
        name=shatter
        description=_"shatter"
        type=impact
        range=melee
        damage=9
        number=3
        icon=attacks/fist-troll.png
    [/attack]
    [attack]
        name=boulder
        description=_"boulder"
        type=impact
        range=ranged
        damage=14
        number=1
        icon=attacks/rock_thrown.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=boulder
        [/filter_attack]
        start_time=-800
        [missile_frame]
            begin=-800
            end=0
            halo="projectiles/stone-large.png"
            halo_x=24~0
            halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
            offset=0.0~1.0
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-800
                end=-50
                image="units/nature_wrath_quake_form.png"
            [/frame]
            [frame]
                duration=100
                image="units/nature_wrath_quake_form.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-800
                end=-50
                image="units/nature_wrath_quake_form.png"
            [/frame]
            [frame]
                duration=100
                image="units/nature_wrath_quake_form.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

#define WRATH_WHIRLPOOL_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Whirlpool Form of Nature Wrath"
    movement_type="nom_elemental_whirlpool"

    die_sound="mermen-die.ogg"
    image="units/unstable_whirlpool_form.png"
    [standing_anim]
        start_time=-50
        [frame]
            image="units/unstable_whirlpool_form.png"
            duration=50
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=-50
        terrain_type=Khs,Chs,Ss,Ss^Vhs,Ss^Vm
        [frame]
            image="units/unstable_whirlpool_form-swamp.png"
            duration=50
        [/frame]
    [/standing_anim]

    {DEFENSE_ANIM "units/unstable_whirlpool_form.png" "units/unstable_whirlpool_form.png" mermen-hit.wav }
    {NOM_ATTACK_ANIM billow "units/unstable_whirlpool_form.png" elemental-attack.ogg elemental-attack-miss.ogg }

    [defend]
        terrain_type=Khs,Chs,Ss,Ss^Vhs,Ss^Vm
        start_time=-126
        [frame]
            duration=100
            image="units/unstable_whirlpool_form-swamp.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="units/unstable_whirlpool_form-swamp.png"
                sound=mermen-hit.wav
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="units/unstable_whirlpool_form-swamp.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="units/unstable_whirlpool_form-swamp.png"
        [/frame]
    [/defend]
    [attack]
        name=billow
        description=_"billow"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/ue_melee_whirlpool.png
    [/attack]
    [attack]
        name=water_blast
        description=_"water blast"
        type=impact
        range=ranged
        damage=14
        number=1
        icon=attacks/waterspray.png
    [/attack]

    [attack_anim]
        terrain_type=Khs,Chs,Ss,Ss^Vhs,Ss^Vm
        [filter_attack]
            name=billow
        [/filter_attack]
        start_time=-225
        [frame]
            duration=200
            image="units/unstable_whirlpool_form-swamp.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image="units/unstable_whirlpool_form-swamp.png"
                sound=elemental-attack.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image="units/unstable_whirlpool_form-swamp.png"
                sound=elemental-attack-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        start_time=-420
        [missile_frame]
            begin=-165
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        [frame]
            duration=300
            image="units/unstable_whirlpool_form.png"
        [/frame]
        [frame]
            duration=50
            image="units/unstable_whirlpool_form.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            duration=80
            image="units/unstable_whirlpool_form.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        terrain_type=Khs,Chs,Ss,Ss^Vhs,Ss^Vm
        [filter_attack]
            range=ranged
        [/filter_attack]
        start_time=-420
        [missile_frame]
            begin=-165
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        [frame]
            duration=300
            image="units/unstable_whirlpool_form-swamp.png"
        [/frame]
        [frame]
            duration=50
            image="units/unstable_whirlpool_form-swamp.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            duration=80
            image="units/unstable_whirlpool_form-swamp.png"
        [/frame]
    [/attack_anim]
#enddef

#define WRATH_SANDSTORM_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Sandstorm Form of Nature Wrath"
    movement_type="nom_elemental_sandstorm"

    die_sound="slowed.wav"
    image="units/unstable_sandstorm_form.png"
    {DEFENSE_ANIM "units/unstable_sandstorm_form.png" "units/unstable_sandstorm_form.png" dagger-swish.wav }
    {NOM_ATTACK_ANIM devil_dust "units/unstable_sandstorm_form.png" elemental-attack.ogg elemental-attack-miss.ogg }

    [attack]
        name=devil_dust
        description=_"devil dust"
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/ue_melee_sandstorm.png
    [/attack]
    [attack]
        name=sand_blast
        description=_"sand blast"
        type=blade
        range=ranged
        damage=9
        number=2
        icon=attacks/ue_melee_sandstorm.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sand_blast
        [/filter_attack]
        [missile_frame]
            begin=-500
            end=175
            image="projectiles/wailprojectile-n-6.png"
            image_diagonal="projectiles/wailprojectile-ne-6.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/unstable_sandstorm_form.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/unstable_sandstorm_form.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

#define WRATH_FROST_COMMON_DEFINITION
    {WRATH_COMMON_DEFINITION}
    name= _ "Frost Form of Nature Wrath"
    movement_type="nom_elemental_frost"

    die_sound="ugg.wav"
    image="units/unstable_frost_form.png"
    {DEFENSE_ANIM "units/unstable_frost_form.png" "units/unstable_frost_form.png" ugg.wav }
    {NOM_ATTACK_ANIM ice_deathblow "units/unstable_frost_form.png" spear.ogg miss-1.ogg }

    [attack]
        name=ice_deathblow
        description=_"deathblow"
        type=pierce
        range=melee
        damage=14
        number=2
        icon=attacks/icicle.png
    [/attack]
    [attack]
        name=ice_breath
        description=_"ice breath"
        type=cold
        range=ranged
        damage=5
        number=3
        icon=attacks/iceball.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=ice_breath
        [/filter_attack]
        [missile_frame]
            begin=-500
            end=175
            image="projectiles/icemissile-n-6.png"
            image_diagonal="projectiles/icemissile-ne-6.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/unstable_frost_form.png"
                sound=magic-faeriefire.ogg
            [/frame]
            [frame]
                begin=-50
                end=50
                image="units/unstable_frost_form.png"
                sound=slowed.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/unstable_frost_form.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

[unit_type]
    id="Nature Wrath"
    {WRATH_TORNADO_COMMON_DEFINITION}
    name= _ "Nature Wrath"

    [variation]
        variation_name=unstable_tornado_form
        id="Nature Wrath"
        {WRATH_TORNADO_COMMON_DEFINITION}
    [/variation]

    [variation]
        variation_name=unstable_bramble_form
        id="Nature Wrath"
        {WRATH_BRAMBLE_COMMON_DEFINITION}
    [/variation]

    [variation]
        variation_name=unstable_quake_form
        id="Nature Wrath"
        {WRATH_QUAKE_COMMON_DEFINITION}
    [/variation]

    [variation]
        variation_name=unstable_whirlpool_form
        id="Nature Wrath"
        {WRATH_WHIRLPOOL_COMMON_DEFINITION}
    [/variation]

    [variation]
        variation_name=unstable_whirlpool_form-swamp
        id="Nature Wrath"
        {WRATH_WHIRLPOOL_COMMON_DEFINITION}
        image="units/unstable_whirlpool_form-swamp.png"
    [/variation]

    [variation]
        variation_name=unstable_sandstorm_form
        id="Nature Wrath"
        {WRATH_SANDSTORM_COMMON_DEFINITION}
    [/variation]

    [variation]
        variation_name=unstable_frost_form
        id="Nature Wrath"
        {WRATH_FROST_COMMON_DEFINITION}
    [/variation]
[/unit_type]

[unit_type]
    id=wrath_tornado
    {WRATH_TORNADO_COMMON_DEFINITION}
[/unit_type]

[unit_type]
    id=wrath_bramble
    {WRATH_BRAMBLE_COMMON_DEFINITION}
[/unit_type]

[unit_type]
    id=wrath_quake
    {WRATH_QUAKE_COMMON_DEFINITION}
[/unit_type]

[unit_type]
    id=wrath_whirlpool
    {WRATH_WHIRLPOOL_COMMON_DEFINITION}
[/unit_type]

[unit_type]
    id=wrath_sandstorm
    {WRATH_SANDSTORM_COMMON_DEFINITION}
[/unit_type]

[unit_type]
    id=wrath_frost
    {WRATH_FROST_COMMON_DEFINITION}
[/unit_type]
