#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Deep_Elves_WOL
    name= _ "Deep Elves"
    image="units/elves-deep/matriarch.png"

    type=random
    leader=Matriarch, Phade, Vengeance, Tyrhai Cavalry, Night Stalker
    random_leader=Matriarch, Phade, Vengeance, Tyrhai Cavalry, Night Stalker
    recruit=Blood Maiden,Lightborn,Priestess of the Vault, Night Maiden, Forgotten Minotaur, Tyrhai Rider, Lesser Wisp
    terrain_liked=Ff, Fa, Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,scout
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]
