#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Harpies_WOL
    name= _"Harpies"
    image="units/harpies/captivator/harpy-captivator.png"

    type="Harpy Enchantress"
    leader="Harpy Captivator, Harpy Stalkerwing, Harpy Galesinger, Harpy Pirate, Harpy Flagbearer, Harpy Raptortongue, Harpy Bomber"
    recruit="Harpy Fighter, Harpy Rockthrower, Harpy Traveller, Harpy Minstrel, Night Harpy, Harpy Falconeer"
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
