#textdomain wesnoth-War_of_Legends
[multiplayer_side]
    id=Quenoth_Elves_WOL
    name= _"Quenoth Elves"
    image="units/quenoth/warrior.png"
    type=random
    leader=Quenoth Warrior, Quenoth Flanker, Quenoth Sun Singer, Quenoth Shaman, Tauroch Vanguard, Tauroch Stalwart
    random_leader=Quenoth Warrior, Quenoth Flanker, Quenoth Sun Singer, Quenoth Shaman, Tauroch Vanguard, Tauroch Stalwart
    recruit=Quenoth Fighter, Quenoth Mystic, Quenoth Scout, Tauroch Rider, Mermaid Initiate, Dust Devil

    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,fighter,archer,healer,mixed fighter,scout,archer
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,fighter,archer,healer,mixed fighter,scout,archer
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,fighter,archer,healer,mixed fighter,scout,archer
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]
