#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=steelhive_WOL
    name= _ "Steelhive"
    image=units/steelhive/steel_vector.png

    type=random
    leader=Steel Vector,Steel Cataract,Steel Skewer,Steel Choron
    recruit=Steel Slasher,Steel Oculus,Steel Impaler,Steel Wyrm,Steel Hedron,Steel Larva
    terrain_liked=Hh, Ha, Ds, Ss
    [ai]
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]
