#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Baroness of the Night
    name= _ "Baroness of the Night"
    race=deep_elf
    gender=female
    image="units/elves-deep/baroness.png"

    hitpoints=55
    movement_type=deepelffoot
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=52
    usage=fighter
    {AMLA_DEFAULT}
    description= _ "The Baroness of the Night is equipped with an enchanted crossbow whose bolts are guided by the darkness and rarely miss their targets. She additionally wields a pair of dual-swords with which she can easily cut through both flesh and bone, rending them with the sheer power of the shadows. The Baroness is also granted the ability to step through the shadow realm, allowing her to move quickly in combat and avoid attacks while striking her enemies where they least expect her."
    {DEFENSE_ANIM "units/elves-deep/baroness.png" "units/elves-deep/baroness.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    [abilities]
        {ABILITY_SPURT}
        {ABILITY_NOCTURNAL_REGENERATION}
    [/abilities]

    [attack]
        name=twin blades
        description=_"twin blades"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=13
        number=3
    [/attack]

    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=20
        number=1
        [specials]
            [chance_to_hit]
                id=eagle eye
                name= _"eagle eye"
                value=80
                description=_"has always a 80% chance to hit"
            [/chance_to_hit]
        [/specials]
    [/attack]

    [attack]
        name=rip
        description=_"rip"
        icon=attacks/rip.png
        type=blade
        range=melee
        damage=20
        number=1
        [specials]
            [damage]
                id=relentless_assault
                name= _ "relentless assault"
                description= _ "When used offensively, this attack deals 1.5x damage to the target. It also causes this unit to take 1.5x damage from the target's counterattack."
                multiply=1.5
                apply_to=both
                active_on=offense
            [/damage]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=twin blades
        [/filter_attack]
        offset=0.0~-0.2,-0.2~-0.2,0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-530
        [frame]
            image="units/elves-deep/baroness.png:[120*6]"
        [/frame]

        [if]
            hits=yes
            [missile_frame]
                halo=strikegfx/rip-[1~5].png:[60*5]
                offset=1.0
                halo_x=-10~0
                auto_vflip=false
            [/missile_frame]

            [missile_frame]
                halo=strikegfx/rip-[1~5].png~FL(horiz):[60*5]
                offset=1.0
                halo_x=10~0
                auto_vflip=false
            [/missile_frame]
        [/if]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        start_time=-1100
        [frame]
            image="units/elves-deep/baroness.png:[100*5,200,300]"
        [/frame]
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -300}

        missile_start_time=-250
        [missile_frame]
            duration=400
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
            halo=halo/elven/ice-halo[1~5,1,2,6~9].png~BLEND(234,4,180,1)~O(50%):[100*4,50*7]
            offset=0~1.3
        [/missile_frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=rip
        [/filter_attack]
        offset=2.0~2.2:400,2.2~2.2:200,2.2~1.5:150,1.5~1.3:100,1.3~1.2:120,1.2~1.1:110,1.1~1.2:100,1.2~1.4:100,1.4~2.0:120,0:100
        start_time=-1530
        alpha=1~0.8,0.8~0.0,0.0~1:[700*3]
        blend_color=20,20,20
        blend_ratio=0~1,1~1,1~1,1~0:[500*4]

        [frame]
            image="units/elves-deep/baroness.png~FL(horiz):[220*6]"
        [/frame]

        [if]
            hits=yes
            [missile_frame]
                halo=strikegfx/rip-[1~5].png:[60*5]
                offset=1.0
                halo_x=-10~0
                auto_vflip=false
            [/missile_frame]
        [/if]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]

    [event]
        name=attack_end
        first_time_only=no

        [filter]
            type=Baroness of the Night
        [/filter]

        [store_time_of_day]
            x,y=$x1,$y1
        [/store_time_of_day]

        [if]
            [variable]
                name=time_of_day.lawful_bonus
                less_than=0
            [/variable]
            [then]
                [unstore_unit]
                    variable=unit
                    {COLOR_HARM}
                    text= _ "Spurt!"
                    find_vacant=no
                [/unstore_unit]

                [heal_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    amount=0
                    moves=3
                    animate=no
                    restore_attacks=no
                [/heal_unit]

                [animate_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    flag=blessing_of_the_night
                [/animate_unit]

                [select_unit]
                    x,y=$x1,$y1
                [/select_unit]
            [/then]
        [/if]
    [/event]

    [death]
        start_time=-1200
        [frame]
            alpha=1~0:1600
            image="units/elves-deep/baroness.png:1600"
            halo="projectiles/fireball-impact-[16~1].png~BLEND(20,20,20,0.9)~SCALE(300,300):[100*16]"
            sound=embrace-of-shassagoth.ogg
        [/frame]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
    [/death]

    [animation]
        apply_to=recruited
        start_time=-1200
        [frame]
            alpha=0~1:1600
            image="units/elves-deep/baroness.png:1600"
            halo="projectiles/fireball-impact-[1~16].png~BLEND(20,20,20,0.9)~SCALE(300,300):[100*16]"
            sound=embrace-of-shassagoth.ogg
        [/frame]
    [/animation]

    [animation]
        apply_to=blessing_of_the_night
        start_time=-1600
        [frame]
            alpha=1~0.8,0.8~1,1~0.8,0.8~1
            blend_color=20,20,20
            blend_ratio=0~1,1~1,1~1,1~0
            image="units/elves-deep/baroness.png:1600"
            halo="halo/elven/nature-halo[8~1].png~BLEND(20,20,20,0.8):[200*8]"
        [/frame]
    [/animation]
[/unit_type]
