#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Priestess of the Vault
    name= _ "Priestess of the Vault"
    race=deep_elf
    gender=female
    image="units/elves-deep/priestessvault.png"

    hitpoints=26
    movement_type=deepelffoot
    movement=5
    experience=39
    level=1
    alignment=neutral
    advances_to=Matriarch
    cost=16
    usage=mage
    description= _ "The Priestess of the Vault has dedicated her life to serving Shassagoth. In her former life she once was a shaman, a healer and a caretaker of the forests. Now, she has become a guardian of the depths and a despoiler of nature. Despite this, the Priestess has preserved some of her former magical capabilities and can summon electrical discharges to wear down her enemies. She sometimes infiltrates elvish territory, trying to convince more of her former sisters to join the ranks of Shassagoth."
    {DEFENSE_ANIM "units/elves-deep/priestessvault.png" "units/elves-deep/priestessvault.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=nether touch
        description=_"nether touch"
        icon=attacks/touch-faerie.png
        type=arcane
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=discharge
        description=_"discharge"
        icon=attacks/discharge.png
        type=electric
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=nether touch
        [/filter_attack]
        start_time=-800
        offset=0.0~0.8:400,0.8~0.0:400
        alpha=1.0~0.8:400,0.8~1.0:400
        blend_color=180,170,216
        blend_ratio=0~0.8,0.8~0

        [frame]
            image="units/elves-deep/priestessvault.png:[800]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=discharge
        [/filter_attack]

        start_time=-2000
        missile_start_time=-2000
        offset=0

        [frame]
            image="units/elves-deep/priestessvault.png"
            offset=0
        [/frame]

        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}

        flame_burst_1_start_time=-1600
        flame_burst_2_start_time=-1200
        flame_burst_3_start_time=-800

        [flame_burst_1_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=0~-80
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2
            auto_vflip=false
        [/flame_burst_1_frame]
        [flame_burst_1_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=-80~-80
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~0.2
            auto_vflip=false
        [/flame_burst_1_frame]
        [flame_burst_1_frame]
            halo=strikegfx/crystalball-[1~6].png:70
            halo_y=-80~0
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~1
            auto_vflip=false
        [/flame_burst_1_frame]
        [flame_burst_1_frame]
            halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=1
            auto_vflip=false
        [/flame_burst_1_frame]

        [flame_burst_2_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=0~-70
            halo_x=-10~-30
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2
            auto_vflip=false
        [/flame_burst_2_frame]
        [flame_burst_2_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=-70~-70
            halo_x=-30
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~0.2
            auto_vflip=false
        [/flame_burst_2_frame]
        [flame_burst_2_frame]
            halo=strikegfx/crystalball-[1~6].png:70
            halo_y=-70~0
            halo_x=-30~-15
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~1
            auto_vflip=false
        [/flame_burst_2_frame]
        [flame_burst_2_frame]
            halo="projectiles/fireball-impact-[1~16].png~BLEND(185,165,206,0.8):70"
            offset=1
            halo_x=-15
            auto_vflip=false
        [/flame_burst_2_frame]

        [flame_burst_3_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=0~-90
            halo_x=10~+30
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2
            auto_vflip=false
        [/flame_burst_3_frame]
        [flame_burst_3_frame]
            halo=strikegfx/crystalball-[1~6].png:100
            halo_y=-90~-90
            halo_x=+30
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~0.2
            auto_vflip=false
        [/flame_burst_3_frame]
        [flame_burst_3_frame]
            halo=strikegfx/crystalball-[1~6].png:70
            halo_y=-90~0
            halo_x=+30~+15
            ##halo="projectiles/fireball-impact-[1~16].png~BLEND(180,170,216,0.8):70"
            offset=0.2~1
            auto_vflip=false
        [/flame_burst_3_frame]
        [flame_burst_3_frame]
            halo="projectiles/fireball-impact-[1~16].png~BLEND(170,160,221,0.8):70"
            halo_x=+15
            offset=1
            auto_vflip=false
        [/flame_burst_3_frame]

        [frame]
            image="units/elves-deep/priestessvault.png:65"
        [/frame]
    [/attack_anim]

    [death]
        start_time=-1200
        [frame]
            alpha=1~0:1600
            image="units/elves-deep/priestessvault.png:1600"
            halo="projectiles/fireball-impact-[16~1].png~BLEND(148,0,50,0.8)~SCALE(100,100):[100*16]"
            sound=embrace-of-shassagoth.ogg
        [/frame]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
    [/death]

    [animation]
        apply_to=recruited
        start_time=-1200
        [frame]
            alpha=0~1:1600
            image="units/elves-deep/priestessvault.png:1600"
            halo="projectiles/fireball-impact-[1~16].png~BLEND(148,0,50,0.8)~SCALE(100,100):[100*16]"
            sound=embrace-of-shassagoth.ogg
        [/frame]
    [/animation]
[/unit_type]
