#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Rogue Hunter
    name= _ "Rogue Hunter"
    race=human
    image="units/human-outlaws/archer.png"

    profile=portraits/humans/trapper.webp
    hitpoints=33
    movement_type=smallfoot
    movement=5
    experience=29
    level=1
    alignment=neutral
    advances_to=Rogue Cutthroat
    cost=16
    usage=archer
    description= _ "Though not trained as warriors, the skills possessed by a hunter (especially those of archery) are useful in battle. Any group of soldiers or bandits traveling through the wild will need a few archers in their employ, not merely for hunting but for lending a hand in any serious fight. Because of their experience, these hunters are unusually capable at night, and in forests and swamps."
    

    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/human-outlaws/archer-melee-defend-2.png" "units/human-outlaws/archer-melee-defend-1.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-outlaws/archer-bow-defend.png" "units/human-outlaws/archer-bow.png" {SOUND_LIST:HUMAN_HIT} ranged}

    [movement_costs]
        swamp_water=2
    [/movement_costs]
    [defense]
        forest=40
        swamp_water=50
    [/defense]

    [attack]
        name=short sword
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        icon="attacks/bow-short-reinforced.png"
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            image="units/human-outlaws/archer-bow.png:65"
        [/frame]
        [frame]
            image="units/human-outlaws/archer-bow-attack-[1~4].png:[75*2,100,195]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        start_time=-275

        [frame]
            image="units/human-outlaws/archer-melee-defend-1.png:50"
        [/frame]
        [frame]
            image="units/human-outlaws/archer-melee-attack-[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -125}
        [frame]
            image="units/human-outlaws/archer-melee-defend-1.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
