#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Rogue Cutthroat
    name= _ "Rogue Cutthroat"
    race=human
    image="units/human-outlaws/cutthroat.png"

    profile=portraits/humans/trapper.webp
    hitpoints=49
    movement_type=smallfoot
    movement=5
    level=2
    alignment=neutral
    experience=72
    advances_to=Rogue Slayer
    cost=23
    usage=archer
    description= _ "Master woodsmen are useful allies to any army, and indispensable for any sizeable group of people living in the wilderness. They can track both man and beast, notice things most others would overlook, and are often the only ones who can find food for the table, be it animal or vegetable. Their skill at hunting is very useful in combat, and also leaves them unusually competent at night, and in forests and swamps."

    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/human-outlaws/cutthroat-melee-defend-2.png" "units/human-outlaws/cutthroat-melee-defend-1.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-outlaws/cutthroat-bow-defend.png" "units/human-outlaws/cutthroat-bow.png" {SOUND_LIST:HUMAN_HIT} ranged}

    [movement_costs]
        swamp_water=2
    [/movement_costs]
    [defense]
        forest=40
        swamp_water=50
    [/defense]
    [death]
        start_time=0
        [frame]
            image="units/human-outlaws/cutthroat-die-[1~8].png:100"
        [/frame]
    [/death]

    [attack]
        name=short sword
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        icon="attacks/bow-short-reinforced.png"
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            image="units/human-outlaws/cutthroat-bow.png:65"
        [/frame]
        [frame]
            image="units/human-outlaws/cutthroat-bow-attack-[1~4].png:[75*2,100,195]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        start_time=-275

        [frame]
            image="units/human-outlaws/cutthroat-melee-defend-1.png:50"
        [/frame]
        [frame]
            image="units/human-outlaws/cutthroat-melee-attack-[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -125}
        [frame]
            image="units/human-outlaws/cutthroat-melee-defend-1.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
