#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Shadow Lord
    name= _ "Shadow Lord"
    race=human
    gender=male,female
    image="units/human-outlaws/shadow-lord.png"

    hitpoints=49
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=liminal
    advances_to=null
    cost=56
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "Few humans fathom the secrets of light and dark magic and retain their sanity. Those that can master that balance become Shadow Lords, fully existing neither in the world of light nor the world of darkness. No longer needing physical weapons, they are fearsome to both their enemies and those they lord over."

    [abilities]
        {ABILITY_NIGHTSTALK}
    [/abilities]

    die_sound={SOUND_LIST:HUMAN_DIE}
    [standing_anim]
        start_time=0
        [frame]
            image="units/human-outlaws/shadow-lord.png:70,units/human-outlaws/shadow-lord-[1~7].png:70"
        [/frame]
    [/standing_anim]

    {DEFENSE_ANIM "units/human-outlaws/shadow-lord-defend2.png" "units/human-outlaws/shadow-lord-defend1.png" {SOUND_LIST:HUMAN_OLD_HIT} }

    [attack]
        name=astral blade
        icon="attacks/astral-blade.png"
        description= _ "astral blade"
        type=energy
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=3
    [/attack]

    [attack]
        name=noctum
        description=_"noctum"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=16
        number=2
        icon=attacks/dark-missile.png
    [/attack]

    {GENERIC_SWORD_ANIM (astral blade) "units/human-outlaws/shadow-lord.png"}

    [attack_anim]
        [filter_attack]
            name=noctum
        [/filter_attack]

        {MISSILE_FRAME_DARKNESS_BEAM}

        start_time=-700
        [frame]
            image="units/human-outlaws/shadow-lord.png:25"
        [/frame]
        [frame]
            image="units/human-outlaws/shadow-lord.png:[35,75,15]"
        [/frame]
        [frame]
            image="units/human-outlaws/shadow-lord.png"
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12~12
        [/frame]
        [frame]
            image="units/human-outlaws/shadow-lord.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
        [frame]
            image="units/human-outlaws/shadow-lord.png:50"
        [/frame]
        [frame]
            duration=50
            image="units/human-outlaws/shadow-lord.png"
        [/frame]
    [/attack_anim]

    [female]
        name= _ "female^Shadow Lady"
        gender=female
        image="units/human-outlaws/shadow-lord+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

        [standing_anim]
            start_time=0
            [frame]
                image="units/human-outlaws/shadow-lord+female.png:70,units/human-outlaws/shadow-lord+female-[1~7].png:70"
            [/frame]
        [/standing_anim]

        {DEFENSE_ANIM "units/human-outlaws/shadow-lord+female-defend1.png" "units/human-outlaws/shadow-lord+female-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

        [attack_anim]
            [filter_attack]
                name=astral blade
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/human-outlaws/shadow-lord+female-defend1.png:125,units/human-outlaws/shadow-lord+female-sword[2~4].png:125"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
            [frame]
                image="units/human-outlaws/shadow-lord+female.png:200"
            [/frame]
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=noctum
            [/filter_attack]

            {MISSILE_FRAME_DARKNESS_BEAM}

            start_time=-700
            [frame]
                image="units/human-outlaws/shadow-lord+female-spell.png:25"
            [/frame]
            [frame]
                image="units/human-outlaws/shadow-lord+female-spell.png:[35,75,15]"
            [/frame]
            [frame]
                image="units/human-outlaws/shadow-lord+female-spell.png"
                halo=halo/undead/dark-magic-[1~6].png:50
                halo_x,halo_y=0,-12~12
            [/frame]
            [frame]
                image="units/human-outlaws/shadow-lord+female-spell.png:350"
            [/frame]
            {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
            [frame]
                image="units/human-outlaws/shadow-lord+female-spell.png:50"
            [/frame]
            [frame]
                duration=50
                image="units/human-outlaws/shadow-lord+female-spell.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
