#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Shaman
    name= _ "Shaman"
    race=human
    gender=male
    image="units/human-outlaws/shaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=26
    movement_type=smallfoot
    movement=5
    experience=54
    level=1
    alignment=chaotic
    advances_to=Wizard
    cost=19
    description= _ "The study of magic followed by the these mages is based on both healing and fire. The shamans are skilled in both close and long ranged combat but proficient in neither."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_HEALS}
    usage=archer
    die_sound={SOUND_LIST:HUMAN_DIE}

    [death]
        [frame]
            begin=0
            end=150
            image="units/human-outlaws/shaman-die-1.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/human-outlaws/shaman-die-2.png"
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/human-outlaws/shaman-die-3.png"
        [/frame]
        [frame]
            begin=350
            end=450
            image="units/human-outlaws/shaman-die-4.png"
        [/frame]
        [frame]
            begin=450
            end=550
            image="units/human-outlaws/shaman-die-5.png"
        [/frame]
        [frame]
            begin=550
            end=650
            image="units/human-outlaws/shaman-die-6.png"
        [/frame]
    [/death]

    {DEFENSE_ANIM "units/human-outlaws/shaman-defend.png" "units/human-outlaws/shaman.png" {SOUND_LIST:HUMAN_OLD_HIT} }

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [healing_anim]
        [frame]
            begin=-525
            end=-450
            image="units/human-outlaws/shaman-ranged-1.png"
        [/frame]
        [frame]
            begin=-450
            end=-375
            image="units/human-outlaws/shaman-ranged-2.png"
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo4.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo5.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-outlaws/shaman-ranged-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-outlaws/shaman-ranged-4.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/human-outlaws/shaman-ranged-1.png"
        [/frame]
    [/healing_anim]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=4
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
            halo_x,halo_y=11,-21
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/human-outlaws/shaman-ranged-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/human-outlaws/shaman-ranged-2.png"
            halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            halo_x,halo_y=11,-21
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/human-outlaws/shaman-ranged-3.png"
                halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                halo_x,halo_y=11,-21
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/human-outlaws/shaman-ranged-3.png"
                halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                halo_x,halo_y=11,-21
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/human-outlaws/shaman-ranged-4.png"
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/human-outlaws/shaman-ranged-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-outlaws/shaman-attack-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/shaman-attack-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/shaman-attack-3.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/shaman-attack-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-outlaws/shaman-attack-4.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/human-outlaws/shaman-attack-5.png"
        [/frame]
    [/attack_anim]
[/unit_type]
