#textdomain wesnoth-War_of_Legends

#  [modification]
#      id = knyght_wol_fast_pvp_match
#      name = _ "WoL: Fast PvP Match"
#      description = _ "What this modification does is it overrides the turn limit of the scenario so the turns over advantage feature is executed faster. This modification has been made with the busy adult life player in mind."

#      require_modification = yes
#      # allow_era = war_of_legends, empowered_legends, era_nightmares
#      type = mp

#      [event]
#          name=start

#          [modify_turns]
#              value=12
#          [/modify_turns]
#      [/event]
#  [/modification]