#textdomain wesnoth-War_of_Legends

[modification]
    id = knyght_wol_heroic_leaders
    name = _ "Enable Heroic Leaders"
    description = _ "Allows side leader units to gain the heroic trait."

    require_modification = yes
    # allow_era = war_of_legends, empowered_legends, era_nightmares
    type = mp

    min_addon_version="1.2.7.80"

    [load_resource]
        id=knyght_wol_heroic_leaders_event
    [/load_resource]
[/modification]