#textdomain wesnoth-War_of_Legends

#  [modification]
#      id = knyght_wol_amla_system
#      name = _ "Enable War of Legends AMLA System"
#      description = _ "Extends AMLA for War of Legends Era and Default Era units."

#      require_modification = yes
#      type = mp

#      # the preview UI resource
#      [load_resource]
#          id=WOL_resource_AMLA_preview_only
#      [/load_resource]

#      {AMLA_SET_ELVISH_CHAMPION}
#  [/modification]
