#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Courier
    name= _ "female^Courier"
    race=windsong
    gender=female
    image="units/windsong/courier.png"
    profile="portraits/windsong/courier.webp"
    {DEFENSE_ANIM "units/windsong/courier.png" "units/windsong/courier.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=38
    movement_type=windsongcourier
    movement=8
    experience=44
    level=1
    alignment=neutral
    advances_to=Reaver,Emissary
    cost=18
    usage=scout
    description= _ "Unlike other humans and many other races, the Windsong possess neither domesticated beasts of burden, nor mechanical transports — the former due to the icy conditions of their homeland, and the latter due to their distaste for machines. Instead, some girls devote themselves to learning the levitation ciphers. There are many benefits to this. Rough terrain possesses little impediment, as do ice and water, and delicate loads can be carried quickly. However, their devotion to levitation denies them access to the more offensive ciphers. Instead, they tend to carry sharpned rocks and hit their opponents with them if they come too close. Their skill at manipulating gravity makes their long distance attacks uncannily accurate."

    # standing animations
    [standing_anim]
        start_time=0
        [frame]
            image="units/windsong/courier-stand[1~13].png:150"
        [/frame]
    [/standing_anim]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=crush
        description={STR_CRUSH}
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=sharprocks
        description={STR_SHRAPNEL}
        icon=attacks/shrapnel.png
        type=pierce
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/windsong/courier.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/windsong/courier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
    [/attack_anim]
    {ATTACK_ANIMATION_SHARP_ROCKS "units/windsong/courier.png"}
[/unit_type]
