#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Courier
    name= _ "female^Courier"
    race=windsong
    gender=female
    image="units/windsong/courier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/windsong/courier.png" "units/windsong/courier.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=34
    movement_type=windsongcourier
    movement=8
    experience=44
    level=1
    alignment=neutral
    advances_to=Reaver,Emissary
    cost=17
    usage=scout
    description= _ "Unlike most other peoples, the Windsong possess neither domesticated beasts of burden or mechanical transports. The former due to the icy conditions of their homeland, and the latter due to their distaste for machines. Instead, some girls devote themselves to learning the levitation ciphers. There are many benefits to this, rough terrain poses little impediment, as does ice and water, and delicate loads can be carried quickly. Their devotion to levitation denies them access to the more directly dangerous ciphers, so they carry a bow and hit their opponents with small rocks if they come too close. Their skill at manipulating gravity makes their arrows uncannily accurate."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=crush
        description={STR_CRUSH}
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [if]
            hits=yes
            [frame]
               begin=-100
               end=100
               image="units/windsong/courier.png"
               sound=fist.ogg
            [/frame]
        [/if]
        [if]
            hits=no
            [frame]
               begin=-100
               end=100
               image="units/windsong/courier.png"
               sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
    [/attack_anim]
    {HALF-ANIMATED_BOW_ANIMATION "units/windsong/courier.png"}
[/unit_type]
