#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Rune Forger
    name= _ "female^Rune Forger"
    race=windsong
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    gender=female
    image="units/windsong/runeforger.png"

    {DEFENSE_ANIM "units/windsong/runeforger.png" "units/windsong/runeforger.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=49
    movement_type=windsongsmallfoot
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=60
        cold=60
        arcane=80
    [/resistance]
    [defense]
        flat=50
    [/defense]
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=archer
    description= _ "In the intricacies of cipher magic, few stand as adept as the Rune Forgers of the Windsong. Where most use ciphers as mere tools, the Rune Forgers perceive them as an art form, weaving intricate patterns that bind the fabric of reality. Their deep understanding allows them to harness ciphers in ways unimaginable to others, often manipulating the very essence of battles. To face a Rune Forger is to challenge the primal forces channeled through the wisdom of the Windsong."

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=sorrow
        description= _"sorrow"
        icon=attacks/cipher-sorrow.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=3
    [/attack]
    {WINDSONG_POISON_RUNES runeforger sorrow sorrow 35}
    [attack]
        name=memory
        description= _"memory"
        icon=attacks/cipher-memory.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=4
    [/attack]
    {WINDSONG_DRAINING_RUNES runeforger memory memory 35}
    [attack]
        name=death
        description= _"death"
        icon=attacks/cipher-death.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=22
        number=2
    [/attack]
    {WINDSONG_RUNES runeforger death death 35}
[/unit_type]
