#textdomain wesnoth-War_of_Legends

[modification]
    id = knyght_wol_recruit_experienced_units
    name = _ "WoL: Recruit Experienced Units"
    description = _ "Allow all sides to recruit experienced units."

    require_modification = yes
    # allow_era = war_of_legends, empowered_legends, era_nightmares
    type = hybird

    [options]
        [slider]
            id=knyght_xp_min_val
            default=30
            min=20
            max=50
            step=10
            name=_"Min XP Amount"
            description= _ "The minimum XP percentage relative to a unit's maximum XP value."
        [/slider]
        [slider]
            id=knyght_xp_max_val
            default=70
            min=50
            max=80
            step=10
            name=_"Max XP Amount"
            description= _ "The maximum XP percentage relative to a unit's maximum XP value."
        [/slider]
    [/options]

    [event]
        name=prestart

        # convert the percentages to ratios
        {VARIABLE knyght_xp_min_val "$(floor(knyght_xp_min_val/10))"}
        {VARIABLE knyght_xp_max_val "$(floor(knyght_xp_max_val/10))"}
    [/event]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            side=1,2,3,4,5,6,7,8,9,10,11,12
        [/filter]

        {VARIABLE min_experience "$(floor($unit.max_experience * $knyght_xp_min_val))"}
        {VARIABLE max_experience "$(floor($unit.max_experience * $knyght_xp_max_val))"}
        {RANDOM "$min_experience..$max_experience"}
        {VARIABLE unit.experience $random}
        [unstore_unit]
            variable=unit
        [/unstore_unit]
        {CLEAR_VARIABLE min_experience,max_experience,random}
    [/event]
[/modification]