#textdomain wesnoth-War_of_Legends

# --------------------------------
# Common AMLA defines here
# --------------------------------


#define WOL_AMLA_EFFECTS_HEAL
    [effect]
        apply_to=hitpoints
        heal_full=yes
    [/effect]
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
#enddef

#define WOL_AMLA_HP_BOOST
    [advancement]
        id=wol_amla_hitpoints
        description= _ "Endurance: +8 HP (Hitpoints)"

        strict_amla=yes
        major_amla=yes
        max_times=100
        image="icons/amla-hp.png"

        [effect]
            apply_to=hitpoints
            increase_total=8
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE1 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage1_{_ATTACK_NAME_STR}
        description= _ "Melee: +1 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE2 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage2_{_ATTACK_NAME_STR}
        description= _ "Melee: +2 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=2
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE4 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage4_{_ATTACK_NAME_STR}
        description= _ "Melee: +4 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=4
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE1 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage1_{_ATTACK_NAME_STR}
        description= _ "Ranged: +1 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE2 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage2_{_ATTACK_NAME_STR}
        description= _ "Ranged: +2 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=2
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE4 _ATTACK_NAME_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage4_{_ATTACK_NAME_STR}
        description= _ "Ranged: +4 "+{_ATTACK_NAME_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=4
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MOVEMENT_BOOST
    [advancement]
        id=wol_amla_movement
        description= _ "Movement: +1 MP (Movement Points)."

        strict_amla=yes
        major_amla=yes
        max_times=100
        # image=

        # TODO: verify if this works
        # wiki was down when I coded this
        [effect]
            apply_to=movement
            increase_total=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

# --------------------------------
# Faction Specific AMLA
# --------------------------------
# Note: the mainline core Stronger AMLAs is not that efficient for some cases
# like the Dwarvish Lord or generally, units with multiple attacks on the same range
# with attack numbers in the order 2 and 3.

# War of Legends
# --------------------------------

# Aragwaithi
# ------------
# Deep Elves
# ------------
# Drakes
# ------------
# Harpies
# ------------
# Loyalists
# ------------
# Dark Legion
# ------------
# Minotaurs
# ------------
# Nightmares
# ------------
# Northerners
# ------------
# Outlaws
# ------------
# Quenoth Elves
# ------------
# Steelhive
# ------------
# Sylvans
# ------------

# Elvish Fighter
#define AMLA_SET_ELVISH_CHAMPION
    [modify_unit_type]
        type="Elvish Champion"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/greatsword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_VANQUISHER
    [modify_unit_type]
        type="Elvish Vanquisher"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven.png")}
        # TODO: add seperate AMLA for the signature vanquishing slash attack
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_MARSHAL
    [modify_unit_type]
        type="Elvish Marshal"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

# Elvish Archer
#define AMLA_SET_ELVISH_AVENGER
    [modify_unit_type]
        type="Elvish Avenger"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_SHARPSHOOTER
    [modify_unit_type]
        type="Elvish Sharpshooter"

        {WOL_AMLA_HP_BOOST}
        # Note: why still +1 damage?
        # Elvish Sharpshooter is ranged damage class
        # so melee damage is not that important
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven-magic.png")}
    [/modify_unit_type]
#enddef

# Elvish Shaman
#define AMLA_SET_ELVISH_SHYDE
    [modify_unit_type]
        type="Elvish Shyde"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_SYLPH
    [modify_unit_type]
        type="Elvish Sylph"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef


# Elvish Scout
#define AMLA_SET_ELVISH_OUTRIDER
    [modify_unit_type]
        type="Elvish Outrider"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (_"bow") ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

# Elvish Hunter
#define AMLA_SET_ELVISH_PROWLER
    [modify_unit_type]
        type="Elvish Prowler"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Elvish Acolyte
#define AMLA_SET_ELVISH_AVATAR
    [modify_unit_type]
        type="Elvish Avatar"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Faerie

# Wose

[resource]
    id=knyght_wol_resource_amla_system_sylvans

    {AMLA_SET_ELVISH_CHAMPION}
    {AMLA_SET_ELVISH_MARSHAL}
    {AMLA_SET_ELVISH_VANQUISHER}

    {AMLA_SET_ELVISH_AVENGER}
    {AMLA_SET_ELVISH_SHARPSHOOTER}

    {AMLA_SET_ELVISH_OUTRIDER}

    {AMLA_SET_ELVISH_SHYDE}
    {AMLA_SET_ELVISH_SYLPH}

    {AMLA_SET_ELVISH_PROWLER}

    {AMLA_SET_ELVISH_AVATAR}
[/resource]

# Undead
# ------------
# Vampires
# ------------
# Windsong
# ------------
# Knalgan Alliance
# ------------
# Dunefolk
# ------------

# Dune Burner
#define AMLA_SET_DUNE_FIRETROOPER
    [modify_unit_type]
        type="Dune Firetrooper"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_RANGED_DAMAGE1 (_"flamethrower") (attacks/dagger-curved.png)}
        {WOL_AMLA_MELEE_DAMAGE1 (_"dagger") (fire-blast.png)}
    [/modify_unit_type]
#enddef
# Dune Rover
# Dune Soldier
# Dune Herbalist
# Dune Rider
# Dune Skirmisher
# Elder Falcon
# Naga Dirkfang

[resource]
    id=knyght_wol_resource_amla_system_dunefolk


[/resource]

# Default Era
# --------------------------------

#  #define WOL_AMLA_
#  #enddef