#textdomain wesnoth-War_of_Legends

# --------------------------------
# Common AMLA defines here
# --------------------------------


#define WOL_AMLA_EFFECTS_HEAL
    [effect]
        apply_to=hitpoints
        heal_full=yes
    [/effect]
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
#enddef

#define WOL_AMLA_HP_BOOST
    [advancement]
        id=wol_amla_hitpoints
        description= _ "Endurance: +8 HP (Hitpoints)"

        strict_amla=yes
        major_amla=yes
        max_times=100
        image="icons/amla-hp.png"

        [effect]
            apply_to=hitpoints
            increase_total=8
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE1 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage1_{_ATTACK_NAME_STR}
        description= _ "Melee: +1 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE2 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage2_{_ATTACK_NAME_STR}
        description= _ "Melee: +2 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=2
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MELEE_DAMAGE4 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_melee_damage4_{_ATTACK_NAME_STR}
        description= _ "Melee: +4 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=melee
            increase_damage=4
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE1 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage1_{_ATTACK_NAME_STR}
        description= _ "Ranged: +1 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE2 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage2_{_ATTACK_NAME_STR}
        description= _ "Ranged: +2 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=2
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_RANGED_DAMAGE4 _ATTACK_NAME_STR _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage4_{_ATTACK_NAME_STR}
        description= _ "Ranged: +4 "+{_ATTACK_NAME_DESC_STR}+" damage."

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            name={_ATTACK_NAME_STR}
            range=ranged
            increase_damage=4
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_MOVEMENT_BOOST
    [advancement]
        id=wol_amla_movement
        description= _ "Movement: +1 MP (Movement Points)."

        strict_amla=yes
        major_amla=yes
        max_times=1
        image="icons/boots_elven.png"

        [effect]
            apply_to=movement
            increase_total=1
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

#define WOL_AMLA_GENERIC_DAMAGE _ATTACK_FILTER _ATTACK_NAME_STR _DAMAGE_NUM _ATTACK_NAME_DESC_STR _ICON_IMG_STR
    [advancement]
        id=wol_amla_ranged_damage{_DAMAGE_NUM}_{_ATTACK_NAME_STR}
        description={_ATTACK_NAME_DESC_STR}

        strict_amla=yes
        major_amla=yes
        max_times=100
        image={_ICON_IMG_STR}

        [effect]
            apply_to=attack
            {_ATTACK_FILTER}
            increase_damage={_DAMAGE_NUM}
        [/effect]

        {WOL_AMLA_EFFECTS_HEAL}
    [/advancement]
#enddef

# --------------------------------
# Faction Specific AMLA
# --------------------------------
# Note: the mainline core Stronger AMLAs is not that efficient for some cases
# like the Dwarvish Lord or generally, units with multiple attacks on the same range
# with attack numbers in the order 2 and 3.

# War of Legends
# --------------------------------

# Aragwaithi
# ------------

# Aragwaith Spearman

#define AMLA_SET_ARAGWAITH_ANCIENT_BANNER
    [modify_unit_type]
        type="Aragwaith Ancient Banner"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (scythe) (_"scythe") ("attacks/sword-human.png")}
        {WOL_AMLA_MELEE_DAMAGE2 (spear)  (_"spear")  ("attacks/spear.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ARAGWAITH_GUARDIAN
    [modify_unit_type]
        type="Aragwaith Guardian"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE2 (spear)  (_"spear")  ("attacks/spear.png")}
    [/modify_unit_type]
#enddef

# Aragwaith Swordsman

#define AMLA_SET_ARAGWAITH_SWORDSMASTER
    [modify_unit_type]
        type="Aragwaith Swordsmaster"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (long-sword) (_"long sword") ("attacks/longsword.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ARAGWAITH_SHIELD_GUARD
    [modify_unit_type]
        type="Aragwaith Shield Guard"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (sword) (_"sword") ("attacks/greatsword-human.png")}
    [/modify_unit_type]
#enddef

# Aragwaith Archer

#define AMLA_SET_ARAGWAITH_GREATBOW
    [modify_unit_type]
        type="Aragwaith Greatbow"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword)  (_"sword")  ("attacks/sword-human.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)    (_"bow")    ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ARAGWAITH_SLAYER
    [modify_unit_type]
        type="Aragwaith Slayer"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (glaive) (_"glaive") ("attacks/glaive.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)    (_"bow")    ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

# Aragwaith Scout

#define AMLA_SET_ARAGWAITH_SILVER_SHIELD
    [modify_unit_type]
        type="Aragwaith Silver Shield"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (spear)  (_"spear")  ("attacks/spear.png")}
    [/modify_unit_type]
#enddef

# Aragwaith Eagle Rider

#define AMLA_SET_ARAGWAITH_EAGLE_MASTER
    [modify_unit_type]
        type="Aragwaith Eagle Master"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (claws)      (_"claws")      ("attacks/claws-animal.png")}
        {WOL_AMLA_MELEE_DAMAGE2 (prey crush) (_"prey crush") ("attacks/blank-attack.png")}
    [/modify_unit_type]
#enddef

# Aragwaith Adept

#define AMLA_SET_ARAGWAITH_SORCERESS
    [modify_unit_type]
        type="Aragwaith Sorceress"

        {WOL_AMLA_HP_BOOST}
        # Note: this is a mage class unit so getting +2 melee seems odd
        {WOL_AMLA_MELEE_DAMAGE1  (staff)    (_"staff")    ("attacks/staff-magic.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (fireball) (_"fireball") ("attacks/fireball.png")}
    [/modify_unit_type]
#enddef

[resource]
    id=knyght_wol_resource_amla_system_aragwaithi

    {AMLA_SET_ARAGWAITH_ANCIENT_BANNER}
    {AMLA_SET_ARAGWAITH_GUARDIAN}

    {AMLA_SET_ARAGWAITH_SHIELD_GUARD}
    {AMLA_SET_ARAGWAITH_SWORDSMASTER}

    {AMLA_SET_ARAGWAITH_GREATBOW}
    {AMLA_SET_ARAGWAITH_SLAYER}

    {AMLA_SET_ARAGWAITH_SILVER_SHIELD}
    {AMLA_SET_ARAGWAITH_EAGLE_MASTER}

    {AMLA_SET_ARAGWAITH_SORCERESS}
[/resource]

# Deep Elves
# ------------
# Drakes
# ------------
# Harpies
# ------------
# Loyalists
# ------------
# Dark Legion
# ------------
# Minotaurs
# ------------
# Nightmares
# ------------
# Northerners
# ------------
# Outlaws
# ------------
# Quenoth Elves
# ------------
# Steelhive
# ------------
# Sylvans
# ------------

# Elvish Fighter
#define AMLA_SET_ELVISH_CHAMPION
    [modify_unit_type]
        type="Elvish Champion"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/greatsword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_VANQUISHER
    [modify_unit_type]
        type="Elvish Vanquisher"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven.png")}

        {WOL_AMLA_GENERIC_DAMAGE (
            name=sword
            range=melee
            number=1
        ) (vanquishing_slash) 4 (_"Melee: +4 vanquishing slash damage.") ("attacks/sword-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_MARSHAL
    [modify_unit_type]
        type="Elvish Marshal"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

# Elvish Archer
#define AMLA_SET_ELVISH_AVENGER
    [modify_unit_type]
        type="Elvish Avenger"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_SHARPSHOOTER
    [modify_unit_type]
        type="Elvish Sharpshooter"

        {WOL_AMLA_HP_BOOST}
        # Note: why still +1 damage?
        # Elvish Sharpshooter is ranged damage class
        # so melee damage is not that important
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven-magic.png")}
    [/modify_unit_type]
#enddef

# Elvish Shaman
#define AMLA_SET_ELVISH_SHYDE
    [modify_unit_type]
        type="Elvish Shyde"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_ELVISH_SYLPH
    [modify_unit_type]
        type="Elvish Sylph"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef


# Elvish Scout
#define AMLA_SET_ELVISH_OUTRIDER
    [modify_unit_type]
        type="Elvish Outrider"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (sword) (_"sword") ("attacks/sword-elven.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (bow)   (_"bow")   ("attacks/bow-elven.png")}
    [/modify_unit_type]
#enddef

# Elvish Hunter
#define AMLA_SET_ELVISH_PROWLER
    [modify_unit_type]
        type="Elvish Prowler"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Elvish Acolyte
#define AMLA_SET_ELVISH_AVATAR
    [modify_unit_type]
        type="Elvish Avatar"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Faerie
#define AMLA_SET_FAERIE_DRYAD
    [modify_unit_type]
        type="Faerie Dryad"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_FAERIE_SPIRIT
    [modify_unit_type]
        type="Faerie Spirit"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Wose
#define AMLA_SET_ANCIENT_WOSE
    [modify_unit_type]
        type="Ancient Wose"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE2 (crush) (_"crush") ("attacks/crush-wose.png")}
    [/modify_unit_type]
#enddef

[resource]
    id=knyght_wol_resource_amla_system_sylvans

    {AMLA_SET_ELVISH_CHAMPION}
    {AMLA_SET_ELVISH_MARSHAL}
    {AMLA_SET_ELVISH_VANQUISHER}

    {AMLA_SET_ELVISH_AVENGER}
    {AMLA_SET_ELVISH_SHARPSHOOTER}

    {AMLA_SET_ELVISH_OUTRIDER}

    {AMLA_SET_ELVISH_SHYDE}
    {AMLA_SET_ELVISH_SYLPH}

    {AMLA_SET_ELVISH_PROWLER}

    {AMLA_SET_ELVISH_AVATAR}

    {AMLA_SET_ANCIENT_WOSE}

    {AMLA_SET_FAERIE_DRYAD}
    {AMLA_SET_FAERIE_SPIRIT}
[/resource]

# Undead
# ------------
# Vampires
# ------------
# Windsong
# ------------
# Knalgan Alliance
# ------------
# Dunefolk
# ------------

# Dune Burner
#define AMLA_SET_DUNE_FIRETROOPER
    [modify_unit_type]
        type="Dune Firetrooper"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_RANGED_DAMAGE1 (flamethrower) (_"flamethrower") ("attacks/fire-blast.png")}
        {WOL_AMLA_MELEE_DAMAGE1  (dagger)       (_"dagger")       ("attacks/dagger-curved.png")}
    [/modify_unit_type]
#enddef

# Dune Rover
#define AMLA_SET_DUNE_WAYFARER
    [modify_unit_type]
        type="Dune Wayfarer"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Dune Soldier
#define AMLA_SET_DUNE_WARMASTER
    [modify_unit_type]
        type="Dune Warmaster"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (scimitar) (_"scimitar") ("attacks/scimitar.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_BLADEMASTER
    [modify_unit_type]
        type="Dune Blademaster"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_PARAGON
    [modify_unit_type]
        type="Dune PARAGON"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_SPEARMASTER
    [modify_unit_type]
        type="Dune Spearmaster"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE2 (spear)       (_"spear")       ("attacks/spear.png")}
        {WOL_AMLA_MELEE_DAMAGE1 (shield bash) (_"shield bash") ("attacks/heater-shield.png")}
    [/modify_unit_type]
#enddef

# Dune Herbalist
#define AMLA_SET_DUNE_ALCHEMIST
    [modify_unit_type]
        type="Dune Alchemist"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (mace)    (_"mace")    ("attacks/quarterstaff.png")}
        {WOL_AMLA_RANGED_DAMAGE2 (blowgun) (_"blowgun") ("attacks/blowgun.png")}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_LUMINARY
    [modify_unit_type]
        type="Dune Luminary"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1 (mace) (_"mace") ("attacks/mace.png")}
    [/modify_unit_type]
#enddef

# Dune Rider
#define AMLA_SET_DUNE_CATAPHRACT
    [modify_unit_type]
        type="Dune Cataphract"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_WINDBOLT
    [modify_unit_type]
        type="Dune Windbolt"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_MARAUDER
    [modify_unit_type]
        type="Dune Marauder"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Dune Skirmisher
#define AMLA_SET_DUNE_HARRIER
    [modify_unit_type]
        type="Dune Harrier"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_DUNE_SKY_HUNTER
    [modify_unit_type]
        type="Dune Sky Hunter"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Elder Falcon
#define AMLA_SET_ELDER_FALCON
    [modify_unit_type]
        type="Elder Falcon"

        {WOL_AMLA_HP_BOOST}
        # Note: beak has "charge"
        # so adding 4 makes it up by 8
        # and that is crazy
        {WOL_AMLA_MELEE_DAMAGE2 (beak)  (_"beak")  ("attacks/beak.png")}
        {WOL_AMLA_MELEE_DAMAGE1 (claws) (_"claws") ("attacks/claws.png")}
    [/modify_unit_type]
#enddef

# Naga Dirkfang
#define AMLA_SET_NAGA_SICARIUS
    [modify_unit_type]
        type="Naga Sicarius"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

#define AMLA_SET_NAGA_ZEPHYR
    [modify_unit_type]
        type="Naga Zephyr"

        {WOL_AMLA_HP_BOOST}
    [/modify_unit_type]
#enddef

# Wyvern Rider
#define AMLA_SET_WYVERN_RIDER
    [modify_unit_type]
        type="Wyvern Rider"

        {WOL_AMLA_HP_BOOST}
        {WOL_AMLA_MELEE_DAMAGE1  (bite)    (_"bite")    ("attacks/fangs-animal.png")}
        {WOL_AMLA_RANGED_DAMAGE1 (javelin) (_"javelin") ("attacks/javelin-human.png")}
    [/modify_unit_type]
#enddef

[resource]
    id=knyght_wol_resource_amla_system_dunefolk

    {AMLA_SET_DUNE_ALCHEMIST}
    {AMLA_SET_DUNE_LUMINARY}

    {AMLA_SET_DUNE_FIRETROOPER}

    {AMLA_SET_DUNE_HARRIER}
    {AMLA_SET_DUNE_SKY_HUNTER}

    {AMLA_SET_DUNE_WAYFARER}

    {AMLA_SET_DUNE_BLADEMASTER}
    {AMLA_SET_DUNE_SPEARMASTER}
    {AMLA_SET_DUNE_WARMASTER}

    {AMLA_SET_DUNE_PARAGON}

    {AMLA_SET_DUNE_WINDBOLT}
    {AMLA_SET_DUNE_CATAPHRACT}
    {AMLA_SET_DUNE_MARAUDER}

    {AMLA_SET_NAGA_ZEPHYR}
    {AMLA_SET_NAGA_SICARIUS}

    {AMLA_SET_WYVERN_RIDER}

    {AMLA_SET_ELDER_FALCON}
[/resource]

# Default Era
# --------------------------------
