#textdomain wesnoth-War_of_Legends

# This is a list of magical attack animations for certain mage units,
# compatible with mainline too.

# This ravage attack is impact based,
# so I'm still looking for better sound..

#define RAVAGE_ATTACK_ANIMATION BASE_IMAGE
    [attack_anim]
        [filter_attack]
            name=ravage
        [/filter_attack]

        {MISSILE_FRAME_RAVAGE}

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/{BASE_IMAGE}-attack-magic1.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-magi/{BASE_IMAGE}-attack-magic1.png"
        [/frame]

    [/attack_anim]
#enddef

#define MAGE_LIGHTNING BASE_IMAGE DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/{BASE_IMAGE}-attack-magic1.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-magi/{BASE_IMAGE}-attack-magic2.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-magi/{BASE_IMAGE}-attack-magic1.png"
        [/frame]
    [/attack_anim]
#enddef

# Windsong animation

#define WINDSONG_LIGHTNING DIRECTION_NUMBER IMAGE
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/windsong/{IMAGE}.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/windsong/{IMAGE}.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

# a clone of divine lightning for human units

#define HUMAN_LIGHTNING DIRECTION_NUMBER IMAGE
    [attack_anim]
        [filter_attack]
            name=divine lightning
        [/filter_attack]

        {DIVINE_LIGHTNING {DIRECTION_NUMBER} }

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/human-loyalists/{IMAGE}.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/human-loyalists/{IMAGE}.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef

#define ATTACK_MELEE_ANIMATION FILTER_ATTACK_NAME BASE_IMAGE HIT_SOUND MISS_SOUND

    [attack_anim]
        [filter_attack]
            name={FILTER_ATTACK_NAME}
        [/filter_attack]
        start_time=-225
        [frame]
            duration=200
            image={BASE_IMAGE}
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image={BASE_IMAGE}
                sound={HIT_SOUND}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image={BASE_IMAGE}
                sound={MISS_SOUND}
            [/frame]
        [/else]
    [/attack_anim]

#enddef

#define ATTACK_RANGED_ANIMATION FILTER_ATTACK_NAME PROJECTILE BASE_IMAGE HIT_SOUND MISS_SOUND

    [attack_anim]
        [filter_attack]
            name={FILTER_ATTACK_NAME}
        [/filter_attack]

        {PROJECTILE}

        start_time=-225
        [frame]
            duration=200
            image={BASE_IMAGE}
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image={BASE_IMAGE}
                sound={HIT_SOUND}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image={BASE_IMAGE}
                sound={MISS_SOUND}
            [/frame]
        [/else]
    [/attack_anim]

#enddef