#textdomain wesnoth-War_of_Legends

#define AQUA_BLAST OFFSET_X OFFSET_Y
    magic_missile_start_time=-750

    magic_missile_trail_1_start_time=-350
    magic_missile_trail_2_start_time=-350
    magic_missile_trail_3_start_time=-350

    [magic_missile_frame]
        duration=400
        halo=halo/mage-halo[1~5].png~BLEND(0,0,255,0.4)
        halo_x={OFFSET_X}~0
        halo_y={OFFSET_Y}~-54
        offset=0.001~-0.083,-0.083~-0.25,-0.25~-0.5
    [/magic_missile_frame]
    [magic_missile_frame]
        duration=350
        halo=halo/mage-halo[1~5].png~BLEND(0,0,255,0.4)
        halo_y=-54~-45,-45~-27,-27~0
        offset=-0.5~-0.25,-0.25~0.25,0.25~1.0
    [/magic_missile_frame]

    [magic_missile_trail_1_frame]
        duration=350
        halo=misc/blank-hex.png~BLEND(0,0,255,0.4):40,halo/mage-preparation-halo[1~7].png~BLEND(0,0,255,0.4)
        halo_y=-54:40,-54~-45,-45~-27,-27~0
        offset=0.001:40,-0.5~-0.25,-0.25~0.25,0.25~1.0
    [/magic_missile_trail_1_frame]
    [magic_missile_trail_2_frame]
        duration=350
        halo=misc/blank-hex.png~BLEND(0,0,255,0.4):80,halo/mage-preparation-halo[1~7].png~BLEND(0,0,255,0.4)
        halo_y=-54:80,-54~-45,-45~-27,-27~0
        offset=0.001:80,-0.5~-0.25,-0.25~0.25,0.25~1.0
    [/magic_missile_trail_2_frame]
    [magic_missile_trail_3_frame]
        duration=350
        halo=misc/blank-hex.png~BLEND(0,0,255,0.4):120,halo/mage-preparation-halo[1~7].png~BLEND(0,0,255,0.4)
        halo_y=-54:120,-54~-45,-45~-27,-27~0
        offset=0.001:120,-0.5~-0.25,-0.25~0.25,0.25~1.0
    [/magic_missile_trail_3_frame]
#enddef
