#textdomain wesnoth-lib

#ifndef WOL_STR_YES

#define WOL_STR_YES
_"Yes" #enddef
#define WOL_STR_NO
_"No" #enddef

#define WOL_STR_SHROUD
_"Shroud" #enddef
#define WOL_STR_FOG
_"Fog" #enddef
#define WOL_STR_CHASM
_"Chasm" #enddef
#define WOL_STR_ROAD
_"Road" #enddef
#define WOL_STR_CASTLE
_"Castle" #enddef
#define WOL_STR_KEEP
_"Keep" #enddef

#define WOL_STR_CANCEL
_"Cancel" #enddef
#define WOL_STR_ORB
_"orb" #enddef

################################### TEXTDOMAIN "wesnoth" ###################################
#textdomain wesnoth

#define WOL_STR_UNDERGROUND
_"Underground" #enddef

#define WOL_STR_HOLY_WATER
_"Holy Water" #enddef
#define WOL_STR_HOLY_WATER_MATCHING_DESCRIPTION
_"This water will make melee weapons have the 'arcane' damage type until the end of the current scenario." #enddef
#define WOL_STR_HOLY_WATER_NONMATCHING_DESCRIPTION
_"I am not suited to the use of this item! Let another take it." #enddef

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define WOL_STR_SKELETON
_"Skeleton" #enddef

#define WOL_STR_AXE
_"axe" #enddef
#define WOL_STR_BANEBLADE
_"baneblade" #enddef
#define WOL_STR_BATTLE_AXE
_"battle axe" #enddef
#define WOL_STR_BEAK
_"beak" #enddef
#define WOL_STR_BERSERK_ATTACK_NAME
_"berserker frenzy" #enddef
#define WOL_STR_BITE
_"bite" #enddef
#define WOL_STR_BLADE_ATTACK_NAME
_"blade" #enddef
#define WOL_STR_BLOWGUN
_"blowgun" #enddef
#define WOL_STR_BOLAS
_"bolas" #enddef
#define WOL_STR_BOW
_"bow" #enddef
#define WOL_STR_CHAKRAM
_"chakram" #enddef
#define WOL_STR_CHILL_TEMPEST
_"chill tempest" #enddef
#define WOL_STR_CHILL_WAVE
_"chill wave" #enddef
#define WOL_STR_CLAWS
_"claws" #enddef
#define WOL_STR_CLEAVER
_"cleaver" #enddef
#define WOL_STR_CLUB
_"club" #enddef
#define WOL_STR_COMPOSITE_BOW
_"composite bow" #enddef
#define WOL_STR_CROSSBOW
_"crossbow" #enddef
#define WOL_STR_CRUSH
_"crush" #enddef
#define WOL_STR_CURSE
_"club" #enddef
#define WOL_STR_CURVED_BLADE
_"curved blade" #enddef
#define WOL_STR_DAGGER
_"dagger" #enddef
#define WOL_STR_EAGLE
_"eagle" #enddef
#define WOL_STR_ENSNARE_ATTACK_NAME
_"ensnare" #enddef
#define WOL_STR_ENTANGLE_ATTACK_NAME
_"entangle" #enddef
#define WOL_STR_FAERIE_FIRE_ATTACK_NAME
_"faerie fire" #enddef
#define WOL_STR_FAERIE_TOUCH
_"faerie touch" #enddef
#define WOL_STR_FALCON
_"falcon" #enddef
#define WOL_STR_FANGS
_"fangs" #enddef
#define WOL_STR_FIRE_BREATH
_"fire breath" #enddef
#define WOL_STR_FIRE_CLAWS
_"fire claws" #enddef
#define WOL_STR_FIREBALL
_"fireball" #enddef
#define WOL_STR_FIST
_"fist" #enddef
#define WOL_STR_FLAIL
_"flail" #enddef
#define WOL_STR_FLAME_BLAST
_"flame blast" #enddef
#define WOL_STR_FLAMETHROWER
_"flamethrower" #enddef
#define WOL_STR_GOSSAMER
_"ethereal web" #enddef
#define WOL_STR_GREATSWORD
_"greatsword" #enddef
#define WOL_STR_HALBERD
_"halberd" #enddef
#define WOL_STR_HAMMER
_"hammer" #enddef
#define WOL_STR_HATCHET
_"hatchet" #enddef
#define WOL_STR_JAVELIN
_"javelin" #enddef
#define WOL_STR_KICK
_"kick" #enddef
#define WOL_STR_KNIFE
_"knife" #enddef
#define WOL_STR_LANCE
_"lance" #enddef
#define WOL_STR_LIGHTBEAM
_"lightbeam" #enddef
#define WOL_STR_LIGHTNING
_"lightning" #enddef
#define WOL_STR_LONGSWORD
_"longsword" #enddef
#define WOL_STR_MACE
_"mace" #enddef
#define WOL_STR_MISSILE
_"missile" #enddef
#define WOL_STR_MORNING_STAR
_"morning star" #enddef
#define WOL_STR_MUD_GLOB
_"mud glob" #enddef
#define WOL_STR_NET
_"net" #enddef
#define WOL_STR_PIKE
_"pike" #enddef
#define WOL_STR_PINCERS
_"pincers" #enddef
#define WOL_STR_PLAGUE_STAFF
_"plague staff" #enddef
#define WOL_STR_POMMEL_STRIKE
_"pommel strike" #enddef
#define WOL_STR_RAM
_"ram" #enddef
#define WOL_STR_ROPE_DART
_"rope_dart" #enddef
#define WOL_STR_RUNIC_HAMMER
_"runic hammer" #enddef
#define WOL_STR_SABER
_"saber" #enddef
#define WOL_STR_SCIMITAR
_"scimitar" #enddef
#define WOL_STR_SHADOW_WAVE
_"shadow wave" #enddef
#define WOL_STR_SHIELD
_"shield" #enddef
#define WOL_STR_SHIELD_BASH
_"shield bash" #enddef
#define WOL_STR_SHORT_SWORD
_"short sword" #enddef
#define WOL_STR_SHRAPNEL
_"sharp rocks" #enddef
#define WOL_STR_SLAM
_"slam" #enddef
#define WOL_STR_SLING
_"sling" #enddef
#define WOL_STR_SPEAR
_"spear" #enddef
#define WOL_STR_STAFF_ATTACK_NAME
_"staff" #enddef
# HACK: to remove with a message in the changelog?
#define WOL_STR_STAFF
_"staff" #enddef
#define WOL_STR_STING
_"sting" #enddef
#define WOL_STR_SWORD
_"sword" #enddef
#define WOL_STR_TAIL
_"tail" #enddef
#define WOL_STR_TENTACLE
_"tentacle" #enddef
#define WOL_STR_THORNS_ATTACK_NAME
_"thorns" #enddef
#define WOL_STR_THROWING_KNIVES
_"throwing knives" #enddef
#define WOL_STR_THUNDERSTICK
_"thunderstick" #enddef
#define WOL_STR_TORCH
_"torch" #enddef
#define WOL_STR_TOUCH
_"touch" #enddef
#define WOL_STR_TRAMPLE
_"trample" #enddef
#define WOL_STR_TRIDENT
_"trident" #enddef
#define WOL_STR_TRISHULA
_"trishula" #enddef
#define WOL_STR_WAIL
_"wail" #enddef
#define WOL_STR_WATER_SPRAY
_"water spray" #enddef
#define WOL_STR_WEB
_"web" #enddef

################################ TEXTDOMAIN "wesnoth-multiplayer" ################################

#textdomain wesnoth-multiplayer
#define WOL_STR_LOYALISTS
_"Loyalists" #enddef
#define WOL_STR_REBELS
_"Rebels" #enddef
#define WOL_STR_NORTHERNERS
_"Northerners" #enddef
#define WOL_STR_UNDEAD
_"Undead" #enddef
#define WOL_STR_KA
_"Knalgan Alliance" #enddef
#define WOL_STR_DRAKES
_"Drakes" #enddef
#define WOL_STR_DUNEFOLK
_"Dunefolk" #enddef

#endif