#textdomain wesnoth-War_of_Legends

#define FROZEN_EVENTS

## frozen status icon and description
[event]
	name=preload
	first_time_only=no
	[lua]
		code=<<
			local old_unit_status = wesnoth.interface.game_display.unit_status
			function wesnoth.interface.game_display.unit_status()
				local u = wesnoth.interface.get_displayed_unit()
				if not u then return {} end
				local s = old_unit_status()
				if u.status.frozen then
					table.insert(s, { "element", {
						image = "icons/profiles/cold.png",
						tooltip = "<b>frozen</b>: This unit is frozen. Its movement points are reduced by 3, and it loses 4 hp each turn unless healed in a village."
					} })
				end
				return s
			end
		>>
	[/lua]
[/event]

## freeze unit when hit with the special
[event]
	name = attacker hits
	first_time_only = no
	
	[filter_attack]
		special_id = "freezes"
	[/filter_attack]

	# Freeze only if unit not already frozen
	[if]
		[variable]
			name = second_unit.status.frozen
			boolean_equals = no
		[/variable]
		[then]
			[modify_unit]
				[filter]
					id=$second_unit.id
				[/filter]
				max_moves=$($second_unit.max_moves - 3)
				moves=$($second_unit.moves - 3)
				[status]
					frozen=yes
				[/status]
				[object]
					id = "freeze_overlay"
					[effect]
						apply_to="overlay"
						add="misc/cold-overlay.png"
					[/effect]
				[/object]
			[/modify_unit]
			[floating_text]
				[filter]
					id=$second_unit.id
				[/filter]
				text="<span color='#0000ff'>" + _ "frozen" + "</span>"
			[/floating_text]
		[/then]
	[/if]
[/event]

## frost damage at turn start
[event]
	name=new turn
	first_time_only = no
	[store_unit]
		[filter]
			status=frozen
		[/filter]
		variable="frozen_units"
		kill=no
	[/store_unit]
	
	[foreach]
		array=frozen_units
		[do]
			[if]
				[have_unit]
					id=$this_item.id
					[filter_location]
						terrain = "*^V*" # Unit on village, remove frozen
					[/filter_location]
				[/have_unit]
				# Unfreeze
				[then]
					[modify_unit]
						[filter]
							id=$this_item.id
						[/filter]
						max_moves=$($this_item.max_moves + 3)
						[status]
							frozen=no
						[/status]
					[/modify_unit]
					[remove_object]
						id = $this_item.id
						object_id = "freeze_overlay"
					[/remove_object]
					[floating_text]
						[filter]
							id=$this_item.id
						[/filter]
						text="<span color='#0000ff'>" + _ "unfrozen" + "</span>"
					[/floating_text]
				[/then]
				[else]
					[harm_unit]
						[filter]
							id=$this_item.id
							[and]
								[not]
									[filter_location]
										terrain = "*^V*" # Unit on village, remove frozen
									[/filter_location]
								[/not]
							[/and]
						[/filter]
						amount=4
						kill=no
					[/harm_unit]
				[/else]
			[/if]
		[/do]
	[/foreach]
[/event]

#enddef

#define WEAPON_SPECIAL_FREEZES
[freezes]
	id="freezes"
	name= _ "freezes"
	description= _ "Freezes the opponent. This reduces their movement point by 3 and the unit loses 4 hp each turn due to being frozen unless healed in a village."
	special_note= _ "This unit can freeze the opponent, reducing their movement point by 3. The unit loses 4 hp each turn unless healed in a village."
[/freezes]
#enddef
