#textdomain wesnoth-War_of_Legends

#define TRAIT_SPIRIT
    # Units with trait Spirit cannot be poisoned or plagued.
    # Works like the Undead trait, but is named for races that are not
    # undead strictly speaking.
    [trait]
        id=spirit
        availability="musthave"
        male_name= _ "spirit"
        female_name= _ "female^spirit"
        description= _ "Immune to drain, poison and plague"
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef

#define TRAIT_INCORPOREAL
    [trait]
        id=incorporeal
        availability=musthave
        male_name= _ "incorporeal"
        female_name= _ "female^incorporeal"
        description= _ "Immune to drain, poison and plague"
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]

#enddef

#define TRAIT_HARDY
    # Hardy units have extra resistances to weapons:
    [trait]
        id=hardy
        male_name=_"hardy"
        female_name=_"female^hardy"
        description=_"More resistant to weapon damage."
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                pierce=-10
                blade=-10
                impact=-10
            [/resistance]
        [/effect]
    [/trait]
#enddef

#define TRAIT_RESISTANT
    # Resistant units have extra resistances to magic and the elements:
    [trait]
        id=resistant
        male_name=_"resistant"
        female_name=_"female^resistant"
        description=_"Especially resistant to magic and the elements."
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                arcane=-10
                cold=-10
                fire=-10
            [/resistance]
        [/effect]
    [/trait]
#enddef

#define TRAITS_SET_FEARLESS
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_FEARLESS}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
#enddef

#define TRAIT_VAMPIRE
    # Units with trait Vampire cannot be plagued.
    [trait]
        id=vampire
        availability="musthave"
        # male_name= _ "vampire"
        # female_name= _ "female^vampiress"
        # description= _ "Immune to plague and drain, but not poison."
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef

#define TRAIT_OBEDIENT
    [trait]
        id=obedient
        name= _ "obedient"
        female_name= _ "female^obedient"
        description= _ "Zero upkeep"
        [effect]
            apply_to=loyal
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-5%
        [/effect]
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
    [/trait]
#enddef

# Macros for overriding the trait sets in specific units ([units] children)
#define TRAITS_SET_DEXTROUS
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_DEXTROUS}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
#enddef

#define TRAITS_SET_NO_STRONG
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
#enddef

# For units which are already too fast
# Warrior/Captain/Warmaster

#define TRAITS_SET_NO_QUICK
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
#enddef

#define TRAIT_NIGHTMARE
    [trait]
        id="nightmare"
        availability="musthave"
        name=_ "nightmare"
        description=_ "Immune to drain, poison and plague"
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef

# Trait for Hero/Loyal units

#define TRAIT_HEROIC
    [trait]
        id=heroic
        name= _ "heroic"
        female_name= _ "female^heroic"
        description= _ "40% less XP to advance and 10% more HP"
        [effect]
            apply_to=hitpoints
            increase_total=10%
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-40%
        [/effect]
    [/trait]
#enddef

#define TRAIT_ELITE
    [trait]
        id=trait_elite
        availability="musthave"
        male_name= _ "elite"
        female_name= _ "female^elite"
        description= _ "+50% HP, +20% damage, +1 level"
        help_text= _ "This unit is stronger than its regular counterparts."
        [effect]
            apply_to=hitpoints
            increase=50%
            increase_total=50%
            heal_full=yes
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=20%
        [/effect]
        [effect]
            apply_to=level
            increase=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_SUPREME
    [trait]
        id=trait_supreme
        availability="musthave"
        male_name= _ "supreme"
        female_name= _ "female^supreme"
        description= _ "+80% HP, +30% damage, +2 level"
        help_text= _ "This unit is superior to its regular counterparts."
        [effect]
            apply_to=hitpoints
            increase=80%
            increase_total=80%
            heal_full=yes
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=30%
        [/effect]
        [effect]
            apply_to=level
            increase=2
        [/effect]
    [/trait]
#enddef

#define TRAIT_FORTIFIED
    [trait]
        id=trait_fortified
        availability=musthave
        male_name= _ "fortified"
        female_name= _ "female^fortified"
        name= _ "fortified"
        description= _ "+10% to all resistances, can only move on castles/keeps."
        [effect]
            apply_to=movement_costs
            [movement_costs]
                deep_water={UNREACHABLE}
                shallow_water={UNREACHABLE}
                reef={UNREACHABLE}
                swamp_water={UNREACHABLE}
                flat={UNREACHABLE}
                sand={UNREACHABLE}
                forest={UNREACHABLE}
                hills={UNREACHABLE}
                mountains={UNREACHABLE}
                village={UNREACHABLE}
                castle=1
                cave={UNREACHABLE}
                unwalkable={UNREACHABLE}
                impassable={UNREACHABLE}
                frozen={UNREACHABLE}
                fungus={UNREACHABLE}
            [/movement_costs]
        [/effect]
        [effect]
            apply_to=vision_costs
            [vision_costs]
                deep_water=5
                shallow_water=3
                reef=2
                swamp_water=3
                flat=1
                sand=2
                forest=2
                hills=2
                mountains=3
                village=1
                castle=1
                cave=2
                unwalkable=5
                impassable=99
                frozen=3
                fungus=2
            [/vision_costs]
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                arcane=-10
                fire=-10
                cold=-10

                electric=-10
                energy=-10
                arcane_focus=-10

                blade=-10
                impact=-10
                pierce=-10
            [/resistance]
        [/effect]
    [/trait]
#enddef

#define TRUE_GUARDIAN
    [+unit]
        ai_special=guardian
        [modifications]
            {TRAIT_FORTIFIED}
        [/modifications]
    [/unit]
#enddef

#define TRAIT_VIGILANT
    # +2 vision and +2 jamming
    [trait]
        id=vigilant
        male_name= _ "vigilant"
        female_name= _ "female^vigilant"
        help_text= _ "Vigilant units have +2 vision and +2 jamming point."
        [effect]
            apply_to=vision
            increase=2
        [/effect]
        [effect]
            apply_to=jamming
            increase=2
        [/effect]
    [/trait]
#enddef

#define TRAITS_SET_WOL
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_HARDY}
    {TRAIT_RESISTANT}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_VIGILANT}
#enddef
