#textdomain wesnoth-War_of_Legends

# Information
# Galdrak - fire ranged damage
# Rimthak - cold ranged damage
# Runath - arcane ranged damage
# Azgrath - electric ranged damage

#define TRAIT_RUNE_GALDRAK
    [trait]
        id=trait_rune_galdrak
        name= _ "galdrak"
        description= _ "fire ranged damage"
        exclude_traits=trait_rune_rimthak,trait_rune_runath,trait_rune_azgrath
        [effect]
            apply_to=attack
            range=ranged
            set_type=fire
        [/effect]
    [/trait]
#enddef

#define TRAIT_RUNE_RIMTHAK
    [trait]
        id=trait_rune_rimthak
        name= _ "rimthak"
        description= _ "cold ranged damage"
        exclude_traits=trait_rune_galdrak,trait_rune_runath,trait_rune_azgrath
        [effect]
            apply_to=attack
            range=ranged
            set_type=cold
        [/effect]
    [/trait]
#enddef

#define TRAIT_RUNE_RUNATH
    [trait]
        id=trait_rune_runath
        name= _ "runath"
        description= _ "arcane ranged damage"
        exclude_traits=trait_rune_galdrak,trait_rune_rimthak,trait_rune_azgrath
        [effect]
            apply_to=attack
            range=ranged
            set_type=arcane
        [/effect]
    [/trait]
#enddef

#define TRAIT_RUNE_AZGRATH
    [trait]
        id=trait_rune_azgrath
        name= _ "azgrath"
        description= _ "electric ranged damage"
        exclude_traits=trait_rune_galdrak,trait_rune_rimthak,trait_rune_runath
        [effect]
            apply_to=attack
            range=ranged
            set_type=electric
        [/effect]
    [/trait]
#enddef
