#textdomain wesnoth-War_of_Legends

#define ENABLE_TITANIUM_DECIMATOR
    [modify_unit_type]
        type = "Iron Mauler"
        add_advancement = "Titanium Decimator"
        set_experience = 215
    [/modify_unit_type]
#enddef

#define ENABLE_TROLL_BOULDERLOBBER
    [modify_unit_type]
        type = "Troll Rocklobber"
        add_advancement = "Troll Boulderlobber"
        set_experience = 74
    [/modify_unit_type]
#enddef

#define ENABLE_TROLL_WARMONGER
    [modify_unit_type]
        type = "Troll Warrior"
        add_advancement = "Troll Warmonger"
        set_experience = 210
    [/modify_unit_type]
#enddef

#define ENABLE_TROLL_WARBANNER
    [modify_unit_type]
        type = "Troll Shaman"
        add_advancement = "Troll Warbanner"
        set_experience = 95
    [/modify_unit_type]
#enddef

#define ENABLE_GREAT_OGRE
    [modify_unit_type]
        type = "Ogre"
        add_advancement = "Great Ogre"
        set_experience = 90
    [/modify_unit_type]
#enddef

#define ENABLE_DEATH_BARON
    [modify_unit_type]
        type = "Skeleton"
        add_advancement = "Death Baron"
    [/modify_unit_type]
#enddef

#define ENABLE_MOUNTED_BOWMAN
    [modify_unit_type]
        type = "Cavalryman"
        add_advancement = "Mounted Bowman"
    [/modify_unit_type]
#enddef

#define ENABLE_LAVA_BEHEMOTH
    [modify_unit_type]
        type = "Lava Giant"
        add_advancement = "Lava Behemoth"
        set_experience = 210
    [/modify_unit_type]
#enddef

#define ENABLE_ORC_MARAUDER
    [modify_unit_type]
        type = "Orcish Grunt"
        add_advancement = "Orcish Marauder"
    [/modify_unit_type]
#enddef

#define ENABLE_ORC_HIGH_WARLORD
    [modify_unit_type]
        type = "Orcish Warlord"
        add_advancement = "Orcish High Warlord"
        set_experience = 110
    [/modify_unit_type]
#enddef

#define ENABLE_SHADOWBACK
    [modify_unit_type]
        type = "Wraith"
        add_advancement = "Shadowback"
    [/modify_unit_type]
#enddef

#define ENABLE_GOBLIN_CUTTHROAT
    [modify_unit_type]
        type = "Goblin Pillager"
        add_advancement = "Goblin Cutthroat"
        set_experience = 70
    [/modify_unit_type]
#enddef

#define ENABLE_GOBLIN_SPEARMASTER
    [modify_unit_type]
        type = "Goblin Impaler"
        add_advancement = "Goblin Spearmaster"
        set_experience = 40
    [/modify_unit_type]
#enddef

#define ENABLE_GOBLIN_TRUMPETER
    [modify_unit_type]
        type = "Goblin Rouser"
        add_advancement = "Goblin Trumpeter"
        set_experience = 40
    [/modify_unit_type]
#enddef

#define ENABLE_GRYPHON_THUNDERLORD
    [modify_unit_type]
        type="Gryphon Master"
        set_experience=88
        add_advancement="Gryphon Thunderlord"
    [/modify_unit_type]
#enddef

#define ENABLE_JAVELIN_MASTER
    [modify_unit_type]
        type="Javelineer"
        set_experience=60
        add_advancement="Javelin Master"
    [/modify_unit_type]
#enddef

#ifdef HERO_OF_IRDYA_TWO
#define ENABLE_WINDSONG_HARBINGER
    [modify_unit_type]
        type="Warmonger"
        set_experience=220
        add_advancement="Harbinger"
    [/modify_unit_type]
#enddef
#endif

#define ENABLE_DRAKE_ADVENTURER
    [modify_unit_type]
        type="Drake Glider"
        add_advancement="Drake Adventurer"
    [/modify_unit_type]
#enddef

#define ENABLE_ELDER_GRYPHON
    [modify_unit_type]
        type="Gryphon"
        add_advancement="Elder Gryphon"
    [/modify_unit_type]
#enddef

#define ENABLE_LOYALIST_CROSSBOWMAN
    [modify_unit_type]
        type="Bowman"
        add_advancement="Crossbowman"
    [/modify_unit_type]
#enddef
