#textdomain wesnoth-War_of_Legends

# kind of like the same enchant effect
# in TESV:Skyrim
# special for Tallin in NR

#define WEAPON_SPECIAL_CHAOS
    [chaos]
        id=weapon_special_chaos
        name= _ "chaos"
        name_inactive= _ "chaos"
        description= = _ "When used offensively, has a 33% chance to deal 10 fire damage, 11 cold damage or 12 electric damage."
        description_inactive= _ "When used offensively, has a 33% chance to deal fire, cold or electric damage."
        active_on=offense
    [/chaos]
#enddef

#define INJURE_OPPONENT AMT DMG_TYPE
    [harm_unit]
        [filter]
            id=$second_unit.id
        [/filter]
        amount={AMT}
        damage_type={DMG_TYPE}
        kill=yes
        fire_event=yes
        animate=yes
        delay=25
    [/harm_unit]
#enddef

#define WEAPON_SPECIAL_CHAOS_EVENT
    [event]
        name="attacker_hits"
        id=weapon_special_chaos_handler_event
        first_time_only=no

        [filter]
            [filter_attack]
                special_id=weapon_special_chaos
            [/filter_attack]
        [/filter]

        # roll a dice
        {RANDOM 1..9}

        # fire damage
        # switch case here
        [switch]
            variable=random

            [case]
                value=1
                {INJURE_OPPONENT 10 fire}
            [/case]
            [case]
                value=2
                {INJURE_OPPONENT 10 fire}
            [/case]
            [case]
                value=3
                {INJURE_OPPONENT 10 fire}
            [/case]

            [case]
                value=4
                {INJURE_OPPONENT 11 cold}
            [/case]
            [case]
                value=5
                {INJURE_OPPONENT 11 cold}
            [/case]
            [case]
                value=6
                {INJURE_OPPONENT 11 cold}
            [/case]

            [case]
                value=7
                {INJURE_OPPONENT 12 electric}
            [/case]
            [case]
                value=8q
                {INJURE_OPPONENT 12 electric}
            [/case]
            [case]
                value=9
                {INJURE_OPPONENT 12 electric}
            [/case]
        [/switch]
    [/event]
#enddef