#textdomain wesnoth-War_of_Legends

#define WEAPON_SPECIAL_CRITICAL_HIT CHANCE
    [dummy]
        id="critical_hit"
        name=_"critical hit {CHANCE}%"
        name_inactive=_"critical hit {CHANCE}%"
        description=_"This attack has a {CHANCE}% chance per hit of dealing double damage."
        description_inactive=_"This attack has a {CHANCE}% chance per hit of dealing double damage."
    [/dummy]
    [/specials]
    [/attack]

    {CRITICAL_HIT_EVENT {CHANCE}}

    [+attack]
    [+specials]
#enddef

#define XP_ADD_FOR_CRIT
    [if]
        [have_unit]
            x,y=$second_unit.x,$second_unit.y
        [/have_unit]
        [else]
            {VARIABLE exp $second_unit.level}
            {VARIABLE_OP exp multiply 8}
            {VARIABLE_OP unit.experience add "$(max(4, ($exp-$second_unit.level)))"}
            {CLEAR_VARIABLE exp}
            [unstore_unit]
                variable=unit
                find_vacant=no
            [/unstore_unit]
        [/else]
    [/if]
#enddef

#define CRITICAL_HIT_EVENT CHANCE
    [event]
        name="attacker_hits"
        first_time_only=false
        [filter_attack]
            special_id="critical_hit"
        [/filter_attack]
        [set_variable]
            name="_critrand_"
            rand="1..100"
        [/set_variable]
        [if]
            [variable]
                name="_critrand_"
                less_than_equal_to={CHANCE}
            [/variable]
            [then]
                [floating_text]
                    [filter]
                        id="$second_unit.id"
                    [/filter]
                    text=_"<span color='#ff0000'>critical hit</span>"
                [/floating_text]
                [harm_unit]
                    [filter]
                        id="$second_unit.id"
                    [/filter]
                    amount=$damage_inflicted
                    kill=true
                    fire_event=true
                [/harm_unit]
                {XP_ADD_FOR_CRIT}
            [/then]
        [/if]
        [clear_variable]
            name="_critrand_"
        [/clear_variable]
    [/event]
    [event]
        name="defender_hits"
        first_time_only=false
        [filter_second_attack]
            special_id="critical_hit"
        [/filter_second_attack]
        [set_variable]
            name="_critrand_"
            rand="1..100"
        [/set_variable]
        [if]
            [variable]
                name="_critrand_"
                less_than_equal_to={CHANCE}
            [/variable]
            [then]
                [floating_text]
                    [filter]
                        id="$unit.id"
                    [/filter]
                    text=_"<span color='#ff0000'>critical hit</span>"
                [/floating_text]
                [harm_unit]
                    [filter]
                        id="$unit.id"
                    [/filter]
                    amount=$damage_inflicted
                    kill=true
                    fire_event=true
                [/harm_unit]
                {XP_ADD_FOR_CRIT}
            [/then]
        [/if]
        [clear_variable]
            name="_critrand_"
        [/clear_variable]
    [/event]
#enddef