#textdomain wesnoth-War_of_Legends

#define WEAPON_SPECIAL_DREAD
    [damage]
        id=dread
        name= _ "dread"
        name_inactive= _ "dread"
        description= _ "When this attack is used offensively, this unit takes one third less damage in retaliation."
        description_inactive= _ "When this attack is used offensively, this unit takes one third less damage in retaliation."
        active_on=offense
        apply_to=opponent
        multiply=0.66
    [/damage]
#enddef

#define WEAPON_SPECIAL_ATTACK_ONLY
    [disable]
        id=attack_only
        name= _ "attack only"
        description= _ "This weapon will never be used on defence."
        active_on=defense
    [/disable]
#enddef

#define WEAPON_SPECIAL_DEFEND_ONLY
    [disable]
        id=defend_only
        name= _ "defend only"
        active_on=offense
        description= _ "This weapon will only be available for defence."
    [/disable]
#enddef

#define WEAPON_SPECIAL_COUNTER
    [chance_to_hit]
        id=counter
        name= _ "counter"
        description= _ "When used defensively, this attack always has at least a 60% chance to hit."
        name_inactive= _ "counter"
        description_inactive= _ "When used defensively, this attack always has at least a 60% chance to hit."
        value=60
        cumulative=yes
        active_on=defense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_ENCHANTED
    [chance_to_hit]
        id=enchanted
        name= _ "enchanted"
        description= _ "This attack always has a 60% chance to hit regardless of the defensive ability of the unit being attacked."
        special_note= _ "This unit has enchanted attacks, which always have a high chance of hitting an opponent, regardless of the defensive capabilities of the opponent."
        value=60
        cumulative=no
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_PRECISION
    [chance_to_hit]
        id=precision
        name= _ "precision"
        description= _ "When used offensively, this attack always has at least a 70% chance to hit."
        special_note= _ "This unit's attack has a high chance (70%) of hitting targeted enemies, but only on the attack."
        value=70
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_SHOCK
    # Canned definition of the Shock ability to be included in a
    # [specials] clause.
    [attacks]
        id=shock
        name= _ "shock"
        name_inactive= _ "shock"
        description= _ "When this attack is used on offense, the opponent will retaliate with one less strike than normally, to a minimum of one strike."
        description_inactive= _ "When this attack is used on offense, the opponent will retaliate with one less strike than normally, to a minimum of one strike."
        special_note=_"This unit's melee attack can overwhelm the defenses of enemies, preventing them from retaliating as effectively."
        sub=1
        active_on=offense
        apply_to=opponent
        [filter_base_value]
            greater_than=1
        [/filter_base_value]
    [/attacks]
#enddef

#define UNPETRIFY_ON_TURN_REFRESH
    [event]
        name="side turn refresh"
        first_time_only=no

        [store_unit]
            [filter]
                status=petrified
            [/filter]
            variable=petrified_units
        [/store_unit]

        [foreach]
            array=petrified_units
            variable=petrified_unit
            [do]
                {CLEAR_VARIABLE petrified_unit.status.petrified}

                [unstore_unit]
                    variable=petrified_unit
                    find_vacant=no
                    male_text= _ "unpetrified"
                    female_text= _ "female^unpetrified"
                    {COLOR_HEAL}
                [/unstore_unit]
            [/do]
        [/foreach]

        {CLEAR_VARIABLE petrified_units}
    [/event]
#enddef

#define WEAPON_SPECIAL_DEPLETE AMT
    [heals_on_hit]
        id=deplete
        value=-{AMT}
        name= _ "deplete"
        apply_to=self
        name_inactive= _ "deplete"
        active_on=offense
        # dear wmllint, i hate you
        description= _ "Consumes some HP upon a successful hit during attacking."
        description_inactive= _ "Consumes some HP upon a successful hit during attacking."
    [/heals_on_hit]
#enddef

#define WEAPON_SPECIAL_CHILL
    [damage_type]
        id=cold_damage
        name= _ "chill"
        description= _ "This attack can deal either blade or cold damage, depending on which would be more effective."
        special_note=_ "This unit’s melee attack can deal either blade or cold damage, depending on which would be more effective."
        alternative_type=cold
    [/damage_type]
#enddef

#define WEAPON_SPECIAL_HOLY
    [damage_type]
        id=holy_damage
        name= _ "holy"
        description= _ "This attack can deal either blade or arcane damage, depending on which would be more effective."
        special_note=_ "This unit’s melee attack can deal either blade or arcane damage, depending on which would be more effective."
        alternative_type=arcane
    [/damage_type]
#enddef
