#textdomain wesnoth-War_of_Legends

#define WOL_LEGENDS_CONQUEST_DATA COMMS HEROES DESERTS
    [+multiplayer_side]
        [world_conquest_data]
            commanders={COMMS}
            heroes={HEROES}
            deserters={DESERTS}
            deserters_names={DESERTS}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef

#define WOL_WC_ITEM_SHADOW_BALL_NAME
    _"Jevyan's Soul"
#enddef

#define WOL_WC_STR_ITEM_SHADOW_BALL_INFO
    _"This orb seems to have been made from the soul essence of a powerful Lich Lord. Consuming it, will grant the user a new ranged attack which is stronger if shot at an unaware enemy."
#enddef

#define WOL_WC_ITEM_BAG_ALCHEMY_NAME
    _"Alchemist Backpack"
#enddef

#define WOL_WC_ITEM_BAG_ALCHEMY_INFO
    _"This backpack contains ingredients, recipes, ingredients and equipment for concocting healing potions. Use it well."
#enddef

#define WOL_WC_ITEM_BOOK_NAME
    _"Keshar's Grimoire"
#enddef

#define WOL_WC_ITEM_BOOK_INFO
    _"An unholy grimoire written by the legendary Lich Mal Keshar. Its knowledge allows the user's melee attacks to revive slain enemies as Ghouls. However, this forbidden knowledge takes a toll on the user's health"
#enddef

#define WOL_WC_STR_ITEM_ARMOR_NAME
_ "Hejnewar's Chestplate" #enddef

#define WOL_WC_STR_ITEM_ARMOR_INFO
_ "The durable plate of this heavy armor increase the user’s physical resistances (to a maximum of 15%) as well as raising their HP by 10. However, the user is slowed a bit due to its immense weight." #enddef

#define WOL_WC_ARTIFACT_DEFINITIONS
    # shadow ball
    # 14 - 1 arcane ranged backstab
    [artifact]
        name= {WOL_WC_ITEM_SHADOW_BALL_NAME}
        icon=items/shard_charm.png
        description=_"14-1 ranged arcane backstab and -10% arcane resistance"
        info= {WOL_WC_STR_ITEM_SHADOW_BALL_INFO}
        sound=wail-long.wav
        [effect]
            apply_to=new_attack
            name="shadow ball"
            description= _ "shadow ball"
            icon=attacks/missile-chaos.png
            type=arcane
            range=ranged
            [specials]
                {WEAPON_SPECIAL_BACKSTAB}
            [/specials]
            damage=14
            number=1
        [/effect]
        [effect]
            apply_to=new_animation
            name=shadow ball
            [attack_anim]
                [filter_attack]
                    name=shadow ball
                [/filter_attack]
                {MISSILE_FRAME_SHADOW_WAVE}
                {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
                [if]
                    hits=yes
                    [frame]
                        begin=-75
                        end=0
                        #sound=magic-dark-big.ogg
                    [/frame]
                [/if]
                [else]
                    hits=no
                    [frame]
                        begin=-75
                        end=0
                        #sound=magic-dark-big-miss.ogg
                    [/frame]
                [/else]
            [/attack_anim]
        [/effect]
        [effect]
            apply_to=resistance
            replace=false
            [resistance]
                arcane=10
            [/resistance]
        [/effect]
    [/artifact]

    # alchemist pack
    # heals+4 & regen+4
    # credits: ghype
    [artifact]
        name= {WOL_WC_ITEM_BAG_ALCHEMY_NAME}
        icon=items/leather-pack.png
        description= _ "heals +4 and regenerates +4"
        info = {WOL_WC_ITEM_BAG_ALCHEMY_INFO}
        sound=heal.wav
        [effect]
            apply_to=remove_ability
            [abilities]
                [heals]
                    id=healing
                [/heals]
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_HEALS}
                {ABILITY_SELF_HEAL}
            [/abilities]
        [/effect]
    [/artifact]

    # keshar grimore
    # plague special but ghouls
    # -15% HP drop as compensation
    # credits: norcen the creepy ghoul guy
    [artifact]
        name= {WOL_WC_ITEM_BOOK_NAME}
        icon=items/book1.png
        description= _ "melee: greater plague (ghouls) and -15% HP, consumes 3 HP per hit during attack"
        info= {WOL_WC_ITEM_BOOK_INFO}
        # TODO: edit sound to be more evil
        sound=heal.wav
        [filter]
            formula = "size(filter(attacks, range = 'melee')) > 0"
        [/filter]
        [effect]
            apply_to=attack
            range=melee
            remove_specials=plague
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_PLAGUE_TYPE (Ghoul)}
                {WEAPON_SPECIAL_DEPLETE 3}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase=-15%
            increase_total=-15%
        [/effect]
    [/artifact]

    # hejnewar's heavy plate
    # +15% blade/pierce/cold resistance, -1 MP
    # credits: hejnewar
    [artifact]
        name= {WOL_WC_STR_ITEM_ARMOR_NAME}
        icon="items/armor-dragon.png"
        description= _ "blade/impact/pierce: +15%, +10 HP, -1 MP"
        info= {WOL_WC_STR_ITEM_ARMOR_INFO}
        sound=dagger-swish.wav
        [effect]
            apply_to = wc2_min_resistance
            [resistance]
                blade = 85
                pierce = 85
                impact = 85
            [/resistance]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase=10
            increase_total=10
        [/effect]
        [effect]
            apply_to=movement
            increase=-1
            apply_to_vision=yes
        [/effect]
    [/artifact]

    # shield
    # 0 - 1 ranged impact
    # credits: hejnewar
    [artifact]
        name= _ "Shield of Hejnewar"
        icon=items/shield-iron.png
        description= _ "0-1 shield ranged absorb special, +20% parry"
        info= "This shield is imbued with runic magic which shields the user from most ranged attacks."
        sound=dagger-swish.wav
        [effect]
            apply_to=new_attack
            name="shield"
            description= _"shield"
            icon=icons/shield_steel.png
            type=impact
            range=ranged
            # always on defense
            defense_weight=1.0
            parry=20
            [specials]
                {WEAPON_SPECIAL_ABSORB 0.6}
            [/specials]
            damage=0
            number=1
        [/effect]
    [/artifact]

    # waraxe
    # +blade melee
    # credits: jotender
    [artifact]
        name= _ "Valefolk Waraxe"
        icon=items/axe-silver.png
        description= _ "melee blade: +3 damage, adds mayhem special"
        info= "An waraxe which once belonged to Jotender of the Minotaurs. Equipping it, grants the user stronger melee blows and as well as the ferocity of its original wielder."
        sound=dagger-swish.wav
        [filter]
            formula = "size(filter(attacks, (range = 'melee') * (type = 'blade'))) > 0"
        [/filter]
        [effect]
            apply_to=attack
            range=melee
            type=blade
            # No
            # increase_attacks=1
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            remove_specials=magical,marksman
            [set_specials]
                mode=append
                [damage]
                    id=blade_dmg_mul_3x
                    # 100% is 1.00
                    # 150% is 1.50
                    multiply=1.50
                    name= _ "mayhem"
                    name_inactive= _ "mayhem"
                    active_on=offense
                    apply_to=self
                    description= _ "Attacking with this weapon increases damage by 50%, but reduces strikes by 1.This effect is only action on offense."
                    description_inactive= _ "Attacking with this weapon increases damage by 50%, but reduces strikes by 1.This effect is only action on offense."
                [/damage]
                [attacks]
                    id=blade_strikes_sub_1
                    sub=1
                    active_on=offense
                    apply_to=self
                [/attacks]
            [/set_specials]
        [/effect]
    [/artifact]

    # shardia's meteor
    # 12 - 2 ranged fire magical slows
    # credits: iris
    [artifact]
        name= _ "Shardia's Meteor"
        icon=items/sceptre-of-fire.png
        description= _ "12-2 fire ranged magical slows, consumes 4 HP per hit (attack only)"
        # this is complete nonscence I wrote as filler.
        # if you think you can provide better text
        # please do
        info= "An artifact salvaged from the now extinct tribe of red-haired humans who worshiped the Fire Goddess, Shardia. It grants the user a new and powerful ranged attack."
        sound=dagger-swish.wav
        [effect]
            apply_to=new_attack
            name="shardias meteor"
            description= _ "shardia's meteor"
            icon=attacks/fireball.png
            type=fire
            range=ranged
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
                {WEAPON_SPECIAL_SLOW}
                {WEAPON_SPECIAL_ATTACK_ONLY}
                {WEAPON_SPECIAL_DEPLETE 4}
            [/specials]
            damage=12
            number=2
        [/effect]
        [effect]
            apply_to=new_animation
            name="shardias meteor"
            [attack_anim]
                [filter_attack]
                    name="shardias meteor"
                [/filter_attack]
                {MISSILE_FRAME_FIREBALL_XY 11 -20}
                [if]
                    hits=yes
                    [frame]
                        begin=-75
                        end=0
                        sound=fire.wav
                    [/frame]
                [/if]
                [else]
                    hits=no
                    [frame]
                        begin=-75
                        end=0
                        sound=fire.wav
                    [/frame]
                [/else]
            [/attack_anim]
        [/effect]
    [/artifact]

    # esther's rage
    # ranged berserk
    # 3 rounds
    [artifact]
        name= _ "Esther's Rage"
        icon=items/talisman-ankh.png
        description= _ "ranged: berserk (3 rounds), 2 HP consumed per hit."
        info= "Wearing this Talisman drives the user to a frenzy and grants their ranged attacks an unrelenting frenzy."
        sound=dagger-swish.wav
        not_available=player
        [filter]
            formula = "size(filter(attacks, range = 'ranged')) > 0"
        [/filter]
        [effect]
            apply_to=attack
            range=ranged
            [set_specials]
                mode=append
                [berserk]
                    id=esthers_rage
                    name= _ "rage"
                    female_name= _ "rage"
                    description= _ "This unit attacks relentlessly until the opponent is dead, or three rounds of combat has occurred."
                    value=3
                [/berserk]
                {WEAPON_SPECIAL_DEPLETE 2}
            [/set_specials]
        [/effect]
    [/artifact]
#enddef

#ifdef LOAD_WC2
#define WOL_WC_TRAINING_DEFINITIONS
    [trainer]
        type=Blood Manipulator
        advanced_type=Sangel
        image=attacks/wail.png
        name= _ "Blood Magic"
        dialogue= "You have found me, mortals? Well...let me show your recruits some blood magic to enforce their combat prowess!"
        [grade]
        [/grade]
        [grade]
            {WCT_CHANCE_FEEDING 7}
            {WCT_CHANCE_SP 5 MELEE DRAIN}
            {WCT_CHANCE_SP 3 RANGED DRAIN}
            {WCT_CHANCE_DARK_DEFENSE CAVE 10}
            {WCT_CHANCE_DARK_DEFENSE MUSHROOM 12}
            {WCT_CHANCE_XP 84 -10%}
        [/grade]
        [grade]
            {WCT_CHANCE_FEEDING 12}
            {WCT_CHANCE_ABILITY 6 REGENERATES}
            {WCT_CHANCE_SP 8 MELEE DRAIN}
            {WCT_CHANCE_SP 5 RANGED DRAIN}
            {WCT_CHANCE_DARK_DEFENSE CAVE 14}
            {WCT_CHANCE_DARK_DEFENSE MUSHROOM 16}
            {WCT_CHANCE_XP 84 -15%}
        [/grade]
        [grade]
            {WCT_CHANCE_FEEDING 16}
            {WCT_CHANCE_ABILITY 12 REGENERATES}
            {WCT_CHANCE_SP 12 MELEE DRAIN}
            {WCT_CHANCE_SP 8 RANGED DRAIN}
            {WCT_CHANCE_DARK_DEFENSE CAVE 20}
            {WCT_CHANCE_DARK_DEFENSE MUSHROOM 24}
            {WCT_CHANCE_XP 84 -20%}
        [/grade]
        [grade]
            {WCT_CHANCE_FEEDING 22}
            {WCT_CHANCE_ABILITY 18 REGENERATES}
            {WCT_CHANCE_SP 18 MELEE DRAIN}
            {WCT_CHANCE_SP 14 RANGED DRAIN}
            {WCT_CHANCE_SP 6 MELEE SLOW}
            {WCT_CHANCE_SP 6 RANGED SLOW}
            {WCT_CHANCE_ARCANE_BOOST 6 MELEE}
            {WCT_CHANCE_ARCANE_BOOST 6 RANGED}
            {WCT_CHANCE_DARK_DEFENSE CAVE 35}
            {WCT_CHANCE_DARK_DEFENSE MUSHROOM 30}
            {WCT_CHANCE_XP 84 -30%}
        [/grade]
    [/trainer]

    [trainer]
        type=Oathkeeper
        advanced_type=Lorekeeper
        image=icons/circlet_winged.png
        name= _ "Windsong Tutelage"
        dialogue= "Ah, I have no wish to participate in your mundane affairs. However, I shall impart some of our shareable knowledge to your recruits."
        [grade]
        [/grade]
        [grade]
            {WCT_CHANCE_ALWAYS_REST 6}
            {WCT_CHANCE_HP_PER_LEVEL 96 1}
            {WCT_CHANCE_HP 35 2}
            {WCT_CHANCE_HP 25 10%}
            {WCT_CHANCE_ABILITY 12 REGENERATES}
        [/grade]
        [grade]
            {WCT_CHANCE_ALWAYS_REST 10}
            {WCT_CHANCE_HP_PER_LEVEL 96 2}
            {WCT_CHANCE_HP 35 4}
            {WCT_CHANCE_HP 30 10%}
            {WCT_CHANCE_ABILITY 18 REGENERATES}
        [/grade]
        [grade]
            {WCT_CHANCE_ALWAYS_REST 15}
            {WCT_CHANCE_HP_PER_LEVEL 96 3}
            {WCT_CHANCE_HP 35 6}
            {WCT_CHANCE_HP 45 10%}
            {WCT_CHANCE_ABILITY 24 REGENERATES}
        [/grade]
    [/trainer]
#enddef
#endif
