#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Orcish Marauder
    name= _ "Orcish Marauder"
    race=orc
    image="units/orcs/marauder.png"
    profile="portraits/orc-raider.png"
    small_profile="portraits/orc-raider.png~SCALE(205,205)"

    hitpoints=50
    movement_type=orcishfoot
    movement=5
    experience=63
    level=2
    alignment=chaotic
    advances_to=Orcish Subjugator
    cost=25
    usage=fighter
    description= _ "The marauders wear an ugly bronze mask to make themselves more fearsome to the easily frightened humans."
    {NOTE_DREAD}

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/marauder-defend2.png" "units/orcs/marauder-defend1.png" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=hammer
        description= _ "hammer"
        icon=attacks/hammer.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
        damage=15
        number=2
    [/attack]

    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-curved.png
        type=blade
        range=ranged
        damage=5
        number=2
    [/attack]

    {GENERIC_HAMMER_ANIM hammer "units/orcs/marauder.png"}

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/orcs/marauder.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
[/unit_type]
