#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Orcish Sorcerer
    name= _ "Orcish Sorcerer"
    race=orc
    image="units/orcs/sorcerer.png"
    profile="portraits/orc-sorcerer.png"
    small_profile="portraits/orc-sorcerer.png~SCALE(205,205)"
    gender=male,female

    hitpoints=52
    [resistance]
        fire=30
        cold=30
        arcane=40
    [/resistance]
    movement_type=orcishfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=mixed fighter
    description= _ "Orcish Sorcerers are the most respected leaders of the Orcish Council. They are known throughout the tribes as the masters of nature magic."

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/sorcerer-defend-2.png" "units/orcs/sorcerer-defend-1.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=staff
        description= _ "staff"
        icon=attacks/staff-green.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=nature flare
        description= _ "nature flare"
        icon="attacks/nature-flare.png"
        type=fire
        range=ranged
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/sorcerer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/orcs/sorcerer.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/orcs/sorcerer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/orcs/sorcerer.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=nature flare
        [/filter_attack]
        {MISSILE_FRAME_NATURE_FLARE}
        start_time=-575
        [frame]
            duration=50
            image="units/orcs/sorcerer.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/sorcerer-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/orcs/sorcerer-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/sorcerer-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/sorcerer.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Orcish Sorceress"
        image="units/orcs/sorceress.png"
        profile="portraits/orc-shaman+female.webp"
        small_profile="portraits/orc-shaman+female.webp~SCALE(205,205)"
        gender=female
        die_sound=orc-female-die-[1~3].ogg
        {DEFENSE_ANIM "units/orcs/sorceress-defend-2.png" "units/orcs/sorceress-defend-1.png" orc-female-hit-[1~4].ogg }
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                begin=-200
                end=-100
                image="units/orcs/sorceress.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-100
                    end=50
                    image="units/orcs/sorceress.png"
                    sound=staff.wav
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-100
                    end=50
                    image="units/orcs/sorceress.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                begin=50
                end=150
                image="units/orcs/sorceress.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=nature flare
            [/filter_attack]
            {MISSILE_FRAME_NATURE_FLARE}
            start_time=-575
            [frame]
                duration=50
                image="units/orcs/sorceress.png"
            [/frame]
            [frame]
                duration=100
                image="units/orcs/sorceress-magic-1.png"
                sound=fire.wav
            [/frame]
            [frame]
                duration=150
                image="units/orcs/sorceress-magic-2.png"
            [/frame]
            [frame]
                duration=75
                image="units/orcs/sorceress-magic-1.png"
            [/frame]
            [frame]
                duration=75
                image="units/orcs/sorceress.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
