#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Orcish Subjugator
    name= _ "Orcish Subjugator"
    race=orc
    image="units/orcs/subjugator.png"
    profile="portraits/orc-raider.png"
    small_profile="portraits/orc-raider.png~SCALE(205,205)"

    hitpoints=72
    movement_type=orcishfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "The subjugator has added horns to the mask and helmet, because they seem to scare the humans. The subjugator has also spent enough time in the cities and settlements to have become well aware of how to use the surroundings to his advantage. Tired of the ragging he's been getting from his warrior comrades for not using a blade like a real orc, he modifies his weapon, and wishes he thought to do this sooner."
    {NOTE_DREAD}

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/subjugator-defend2.png" "units/orcs/subjugator-defend1.png" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=chain
        description= _ "chain flail"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=18
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
        number=2
    [/attack]
    [attack]
        name=blade
        description= _ "blade"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        damage=10
        number=3
    [/attack]
    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-curved.png
        type=blade
        range=ranged
        damage=7
        number=2
    [/attack]

    {GENERIC_FLAIL_ANIM chain "units/orcs/subjugator.png"}

    {GENERIC_DAGGER_ANIM blade "units/orcs/subjugator.png"}

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/orcs/subjugator.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
[/unit_type]
