#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Orcish Warlock
    name= _ "Orcish Warlock"
    race=orc
    image="units/orcs/warlock.png"
    profile="portraits/orc-warlock.png"
    small_profile="portraits/orc-warlock.png~SCALE(205,205)"
    gender=male,female

    hitpoints=43
    [resistance]
        fire=40
        cold=40
        arcane=40
    [/resistance]
    movement_type=orcishfoot
    movement=5
    experience=91
    level=2
    alignment=chaotic
    advances_to=Orcish Sorcerer
    {AMLA_DEFAULT}
    cost=29
    usage=mixed fighter
    description= _ "The Orcish Warlocks are seen only when the orcs are on the verge of a bloody revolt. They are well respected among the tribes and their mastery of magic is not to be to underestimated."

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/warlock-defend-2.png" "units/orcs/warlock-defend-1.png" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=staff
        description= _ "staff"
        type=impact
        range=melee
        damage=8
        number=1
        icon=attacks/staff-green.png
    [/attack]
    [attack]
        name=nature flare
        description= _ "nature flare"
        type=fire
        range=ranged
        icon="attacks/nature-flare.png"
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/warlock.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/orcs/warlock.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/orcs/warlock.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/orcs/warlock.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=nature flare
        [/filter_attack]
        {MISSILE_FRAME_NATURE_FLARE}
        start_time=-575
        [frame]
            duration=50
            image="units/orcs/warlock.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/warlock-magic.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/orcs/warlock-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/warlock-magic.png"
        [/frame]
        [frame]
            duration=75
            image="units/orcs/warlock.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Orcish Witch"
        gender=female
        image="units/orcs/witch.png"
        profile="portraits/orc-shaman+female.webp"
        small_profile="portraits/orc-shaman+female.webp~SCALE(205,205)"
        die_sound=orc-female-die-[1~3].ogg
        {DEFENSE_ANIM "units/orcs/witch-defend-2.png" "units/orcs/witch-defend-1.png" orc-female-hit-[1~4].ogg }
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                begin=-200
                end=-100
                image="units/orcs/witch.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-100
                    end=50
                    image="units/orcs/witch.png"
                    sound=staff.wav
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-100
                    end=50
                    image="units/orcs/witch.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
            [frame]
                begin=50
                end=150
                image="units/orcs/witch.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=nature flare
            [/filter_attack]
            {MISSILE_FRAME_NATURE_FLARE}
            start_time=-575
            [frame]
                duration=50
                image="units/orcs/witch.png"
            [/frame]
            [frame]
                duration=100
                image="units/orcs/witch-magic.png"
                sound=fire.wav
            [/frame]
            [frame]
                duration=150
                image="units/orcs/witch-magic.png"
            [/frame]
            [frame]
                duration=75
                image="units/orcs/witch-magic.png"
            [/frame]
            [frame]
                duration=75
                image="units/orcs/witch.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
