#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Deep_Elves_RPG
    name= _ "Deep Elves"
    image="units/elves-deep/priestessvault.png"

    type=random
    leader=Blood Maiden,Lightborn,Priestess of the Vault, Night Maiden, Forgotten Minotaur, Tyrhai Rider, Greater Wisp
    random_leader=Blood Maiden,Lightborn,Priestess of the Vault, Night Maiden, Forgotten Minotaur, Tyrhai Rider, Greater Wisp
    recruit=
    terrain_liked=Ff, Fa, Ss
    [ai]
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]
