#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id = Drakes_RPG
    name = _"Drakes"
    image = "units/drakes/burner.png"

    type = random
    leader = Drake Burner,Drake Clasher,Drake Glider,Drake Apprentice,Drake Fighter,Saurian Skirmisher,Saurian Augur
    random_leader = "Drake Burner,Drake Clasher,Drake Fighter,Saurian Augur"
    terrain_liked = Hh, Ha, Ds, Ss
    [ai]
        grouping=offensive
        aggression=0.60
        caution=0.40
        recruitment_pattern=fighter,fighter,archer,healer,scout,scout
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]