#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Harpies_RPG
    name= _"Harpies"
    image="units/harpies/minstrel/harpy-minstrel.png"

    type="Harpy Minstrel"
    leader="Harpy Fighter, Harpy Rockthrower, Harpy Traveller, Harpy Minstrel, Night Harpy, Harpy Falconeer"
    recruit=
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]