#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Nightmares_RPG
    name= _ "Nightmares"
    image=units/nightmares/life-thief.png
    type=random
    leader="Black Cat,Unhatched,Scornful Watcher,Life Thief,Howling Darkness,Unstable Elemental"
    random_leader="Black Cat,Unhatched,Scornful Watcher,Life Thief,Howling Darkness,Unstable Elemental"
    recruit=
    terrain_liked=Gg

    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
[/multiplayer_side]