#textdomain wesnoth-War_of_Legends

[race]
    id="aberration"
    name=_ "race^Aberration"
    plural_name=_ "race+plural^Aberrations"
    num_traits="1"
    description=_ "So deformed physically that it's immediately obvious that they can't be natural and must have been either created or altered by magic, early in their development cycle."
[/race]

[movetype]
    name="aberration"
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water="3"
        reef="2"
        swamp_water="2"
        flat="1"
        sand="3"
        forest="2"
        hills="2"
        mountains="3"
        village="1"
        castle="1"
        cave="2"
        frozen="2"
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus="2"
    [/movement_costs]

    [defense]
        deep_water="90"
        shallow_water="80"
        reef="70"
        swamp_water="70"
        flat="60"
        sand="70"
        forest="50"
        hills="50"
        mountains="40"
        village="40"
        castle="40"
        cave="60"
        frozen="70"
        unwalkable="90"
        impassable="90"
        fungus="50"
    [/defense]

    [resistance]
        blade="100"
        pierce="100"
        impact="100"
        fire="100"
        cold="90"
        arcane="130"
    [/resistance]
[/movetype]

[movetype]
    name="eggfoot"
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water="3"
        reef="2"
        swamp_water="2"
        flat="1"
        sand="2"
        forest="2"
        hills="2"
        mountains="3"
        village="1"
        castle="1"
        cave="2"
        frozen="2"
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus="2"
    [/movement_costs]

    [defense]
        deep_water="90"
        shallow_water="80"
        reef="70"
        swamp_water="70"
        flat="60"
        sand="70"
        forest="60"
        hills="50"
        mountains="50"
        village="50"
        castle="50"
        cave="70"
        frozen="70"
        unwalkable="90"
        impassable="90"
        fungus="60"
    [/defense]

    [resistance]
        blade="70"
        pierce="70"
        impact="90"
        fire="100"
        cold="100"
        arcane="130"
    [/resistance]
[/movetype]

[movetype]
    name="catfoot"
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water="2"
        reef="2"
        swamp_water="2"
        flat="1"
        sand="2"
        forest="2"
        hills="2"
        mountains="3"
        village="1"
        castle="1"
        cave="2"
        frozen="2"
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus="2"
    [/movement_costs]

    [defense]
        deep_water="70"
        shallow_water="60"
        reef="30"
        swamp_water="60"
        flat="40"
        sand="60"
        forest="30"
        hills="30"
        mountains="30"
        village="30"
        castle="30"
        cave="50"
        frozen="60"
        unwalkable="80"
        impassable="50"
        fungus="30"
    [/defense]

    [resistance]
        blade="130"
        pierce="120"
        impact="120"
        fire="100"
        cold="100"
        arcane="130"
    [/resistance]
[/movetype]

#ifndef MULTIPLAYER
{~add-ons/War_of_Legends/units/aberrations}
#endif