#textdomain wesnoth-War_of_Legends

[race]
    id=carapace
    male_name= _ "race^Carapace"
    female_name= _ "race+female^Carapace"
    plural_name= _ "race^Carapaces"
    description= _ "Inhabiting the coastal and aquatic regions of Irdya, the Carapaces are a peaceful people. Though not warlike, these creatures are heavily resistant to all sorts of damage except esoteric magic or gelid-based weaponry. They possess moderate strength and only take up arms when threaten by an enemy. Carapaces have no difficulty moving through most terrain, but are hindered traversing mountainous or icy regions."
    num_traits=2
    {OGRE_NAMES}
    markov_chain_size=2
    {TRAIT_HEALTHY}
[/race]

[movetype]
   name=turtle

   [movement_costs]
      deep_water=1
      shallow_water=1
      reef=1
      swamp_water=1
      flat=1
      sand=1
      forest=2
      hills=2
      mountains=4
      village=1
      castle=1
      cave=2
      frozen=4
      fungus=2
   [/movement_costs]

        [defense]
            deep_water=50
            shallow_water=50
            reef=40
            swamp_water=40
            flat=60
            sand=50
            forest=50
            hills=50
            mountains=50
            village=40
            castle=40
            cave=50
            frozen=70
            fungus=60
        [/defense]

        [resistance]
            blade=70
            pierce=80
            impact=70
            fire=60
            cold=120
            arcane=120
        [/resistance]

[/movetype]

{~add-ons/War_of_Legends/units/carapaces}