#textdomain wesnoth-War_of_Legends

#define FEMALE_DWARVISH_NAMES
    names=_"Belrunlyn,Kathhildwen,Gerhildtra,Thoravalma,Dagdisna,Audrunwyn,Freygerddra,Brunthrudris,Ingvordis,Dorfridwen,Kristlauglyn,Sigthrudrin,Eldborglina,Hjorthrudna,Disrunrun,Belveigtha,Kathselwen,Hildrunwyn,Thorabrunma,Gretdisra"
    # po: Generator for female dwarf names; see <https://wiki.wesnoth.org/Context-free_grammar> for syntax
    name_generator= _ <<
main={long_name}
long_name={prefix}{centre}{suffix}|{prefix}{centre}{centre}{suffix}
short_name={prefix}{suffix}
prefix=Bel|Dis|Kath|Ger|Hild|Thora|Dag|Gret|Aud|Frey|Brun|Ast|Ing|Dor|Krist|Ran|Sig|Eld|Vor|Hjor
suffix=dis|lin|dís|run|wyn|wen|tra|dra|na|la|va|tha|ris|lis|ma|ra|da|sa|tha|na|wen|lyn|rin|wyn|yn|wen
centre=hild|run|thrud|val|ger|rún|borg|veig|vor|laug|frid|rid|dis|drun|gerd|sel|mel|brun|thora|heid
>>
#enddef


[race]
    id=dwarfess
    help_taxonomy=dwarf
    male_name= _ "race^Dwarf"
    female_name= _ "race+female^Dwarfess"
    plural_name= _ "race^Dwarves"

    description=_"Unlike males who dominate forges and battlefields, few Dwarf women specialize as runesmiths and potion smiths, mastering runic enchantments and alchemy using rare mountain minerals. Their scarcity makes them highly valued as advisors and lore guardians, seldom seen outside strongholds except on important missions. Though dwarven culture distrusts magic, their rune-based craft is honored as it aligns with traditional views of craftsmanship."

    {FEMALE_DWARVISH_NAMES}
    num_traits=2
    undead_variation=dwarf

    {TRAIT_HEALTHY}
    {TRAIT_RESISTANT}

    # runic novice traits
    {TRAIT_RUNE_GALDRAK}
    {TRAIT_RUNE_RIMTHAK}
    {TRAIT_RUNE_AZGRATH}
    {TRAIT_RUNE_RUNATH}
[/race]


# wmllint: directory spellings Thunderlords
#ifndef MULTIPLAYER
{~add-ons/War_of_Legends/units/dwarves}
#else
{~add-ons/War_of_Legends/units/dwarves/Gryphon_Thunderlord.cfg}
#endif
