#textdomain wesnoth-War_of_Legends

[race]
    id="dragon"
    name=_ "race^Dragon"
    help_taxonomy=monster
    plural_name=_ "race+plural^Dragons"
    num_traits="2"
    undead_variation="null"
    {DRAKE_NAMES}
    description=_ "A dragon is a cataclysm given form, an ancient power wrapped in scales, a legend spoken of in awe and dread and glimpsed only in the blackest hours of history. So rare are these titans that, absent the ruin they leave in their wake, they might be dismissed as mere myth born of old nightmares. Yet the shattered cities, the scorched battlefields, and the mountains cracked to their roots bear witness to a truth older than any kingdom: in the First Elemental War, when the world itself was rent asunder in cataclysm, it was the dragons who reigned as its apex, unrivaled and unchallenged, gods walking among lesser beings."
    {TRAIT_DEXTROUS}
    {TRAIT_HARDY}
    {TRAIT_RESISTANT}
[/race]

{~add-ons/War_of_Legends/units/monsters}
