#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Gallant Carapace
    name= _ "Gallant Carapace"
    race=carapace
    image="units/carapaces/guard.png"
    hitpoints=42
    movement_type=turtle
    movement=4
    experience=95
    level=2
    alignment=neutral
    advances_to=Warrior Carapace
    cost=32
    undead_variation=null
    usage=mixed fighter
    description= _ "Once a carapace reaches adulthood, it abandons its old shell and grows a new, harder, one. This harder shell, combined with the shields they wield in combat, gives them even more protection. Changing their clubs for maces, they are more dangerous, and thus most foes avoid these braves if they have the choice to do so."

    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/guard-defend.png" "units/carapaces/guard.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=11
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-75
                image="units/carapaces/guard-melee-1.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=-50
                image="units/carapaces/guard-melee-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-75
            end=50
            image="units/carapaces/guard-melee-2.png"
        [/frame]
        [frame]
            begin=50
            end=200
            image="units/carapaces/guard-melee-1.png"
        [/frame]
    [/attack_anim]
    
    {CARAPACE_WATER_BREATH_ATTACK_ANIM (guard)}
[/unit_type]
