#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Hunter Carapace
    name= _ "Hunter Carapace"
    race=carapace
    image="units/carapaces/hunter.png"
    hitpoints=34
    movement_type=turtle
    movement=4
    experience=43
    level=1
    alignment=neutral
    advances_to=Tracker Carapace
    cost=15
    undead_variation=null
    usage=fighter
    description= _ "Young and resilient, Hunter Carapaces are tasked with both providing food for their kin and defending their community. Their sturdy shells and skill with the trident make them reliable fighters, whether tracking prey or standing firm in battle."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/hunter-defend-2.png" "units/carapaces/hunter-defend-1.png" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=trident
        [/filter_attack]
        start_time=-300
        offset=0.0~0.3,0.3~0.6,0.6~0.3,0.3~0.0
        sound_start_time=-200
        [if]
            hits=yes
            [sound_frame]
                sound=spear.ogg
            [/sound_frame]
        [/if]
        [else]
            hits=no
            [sound_frame]
                sound=spear-miss.ogg
            [/sound_frame]
        [/else]
        [if]
            direction=se,sw,s
            [frame]
                image="units/carapaces/hunter-melee-[1~2,1].png:[100,200,100]"
            [/frame]
        [/if]
        [else]
            direction=ne,nw,n
            [frame]
                image="units/carapaces/hunter-ne-melee[1~2,1].png:[100,200,100]"
            [/frame]
        [/else]
    [/attack_anim]

    {CARAPACE_WATER_BREATH_ATTACK_ANIM (hunter)}
[/unit_type]