#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Warrior Carapace
    name= _ "Warrior Carapace"
    race=carapace
    image="units/carapaces/sentinel.png"
    hitpoints=54
    movement_type=turtle
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    undead_variation=null
    usage=mixed fighter
    description= _ "Carapaces have an extremely long lifespan. The eldest of them are of a massive size, an inch shorter to an adult troll, and are near indestructible fighters. Every foe thinks twice before attacking these giants."

    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/sentinel-defend.png" "units/carapaces/sentinel.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=14
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-75
                image="units/carapaces/sentinel-melee-1.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-75
                image="units/carapaces/sentinel-melee-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-75
            end=50
            image="units/carapaces/sentinel-melee-2.png"
        [/frame]
        [frame]
            begin=50
            end=200
            image="units/carapaces/sentinel-melee-1.png"
        [/frame]
    [/attack_anim]
    
    {CARAPACE_WATER_BREATH_ATTACK_ANIM (sentinel)}
[/unit_type]
