#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Drakes_EL
    name= _"Drakes"
    image="units/drakes/flameheart.png"
    type=random
    leader=Drake Flameheart,Inferno Drake,Drake Enforcer,Drake Warden,Drake Blademaster,Drake Sorceress,Saurian Prophet
    random_leader=Drake Flameheart,Inferno Drake,Drake Enforcer,Drake Warden,Drake Blademaster
    recruit=Drake Burner,Fire Drake,Drake Clasher,Drake Glider,Drake Fighter,Drake Apprentice,Saurian Skirmisher,Saurian Augur,Drake Warrior,Drake Smasher,Drake Flare,Drake Thrasher,Sky Drake,Drake Arbiter,Drake Caster,Saurian Ambusher,Saurian Soothsayer,Saurian Oracle
    terrain_liked=Hh, Ha, Ds, Ss
    [ai]
        grouping=offensive
        aggression=0.60
        caution=0.40
        recruitment_pattern=fighter,fighter,archer,healer,scout,scout
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]