#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Harpies_EL
    name= _"Harpies"
    image="units/harpies/enchantress/harpy-enchantress.png"

    type=Harpy Enchantress
    leader="Harpy Enchantress, Harpy Nightgaunt, Harpy Songstress of Storms, Harpy Raider, Harpy Shrieker, Harpy Featherlord, Harpy Flockmaster, Harpy Ashtail, Harpy Messenger"
    recruit="Harpy Fighter, Harpy Rockthrower, Harpy Traveller, Harpy Minstrel, Night Harpy, Harpy Falconeer, Harpy Captivator, Harpy Stalkerwing, Harpy Galesinger, Harpy Pirate, Harpy Flagbearer, Harpy Raptortongue, Harpy Bomber, Harpy Messenger"
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]