#textdomain wesnoth-War_of_Legends
[multiplayer_side]
    id=Loyalists_EL
    name= _ "The Loyalists"
    image=units/human-loyalists/royalguard.png
    type=random
    leader=Royal Guard,Halberdier,Javelin Master,Master Bowman,Crusader,Custodian,Prophetess of Light,Iron Mauler
    random_leader="Royal Guard,Master Bowman,Crusader,Custodian,Iron Mauler"
    recruit=Bowman,Longbowman,Spearman,Pikeman,Javelineer,Infantryman,Swordsman,Chevalier,Sentry,Adept of Light,Cleric,White Mage,Mage,Red Mage,Heavy Infantryman,Shock Trooper,Cavalryman,Dragoon,Mounted Bowman,Horseman,Lancer,Knight,Merman Fighter,Merman Warrior
    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
[/multiplayer_side]
