#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Minotaurs_EL
    name= _ "Minotaurs"
    image=units/minotaurs/overlord.png
    type=random
    leader=Minotaur Overlord,Minotaur Elder,Gnoll Deadeye,Minotaur Executioner
    recruit=Minotaur Shaman,Minotaur Mystic,Minotaur Warlock,Minotaur Gore,Minotaur Savage,Minotaur Rouser,Minotaur Behemoth,Minotaur Ancient Behemoth,Gnoll,Gnoll Marksman,Boar Rider,Boar Knight,Minotaur Cutthroat,Minotaur Slayer,Mermaid Initiate,Mermaid Enchantress,Centaur Warden,Centaur Sentinel
    terrain_liked=Gs^Fp, Gg, Hh, Mm, Md
    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
[/multiplayer_side]
