#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Nightmares_EL
    name= _ "Nightmares"
    image=units/nightmares/death-spectre.png
    type=random
    leader="Calamity,Raging One,Reckless One,Inquisitor,Death Spectre,Eternal Night"
    random_leader="Calamity,Raging One,Inquisitor,Death Spectre,Eternal Night"
    recruit="Black Cat, Jinx Beast, Unhatched, Angry One,Rash One, Scornful Watcher, Spiteful Watcher,Life Thief, Soul Snatcher, Howling Darkness, Cloud of Gloom, Unstable Elemental, Nature Wrath"
    terrain_liked=Gg

    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
[/multiplayer_side]