#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Outlaws_EL
    image = "units/human-outlaws/prowler.png"
    name= _ "Outlaws"
    type=random
    leader= Prowler, Highwayman, Axemaster, Fugitive, Huntsman, Ranger, Sorcerer, Shadow Lord
    random_leader= Prowler, Highwayman, Axemaster, Fugitive, Huntsman, Ranger, Shadow Lord
    recruit= Naga Hunter, Naga Marksman, Tracker, Huntress, Shaman, Wizard, Thug, Bandit, Poacher, Trapper, Footpad, Outlaw, Thief, Rogue, Shadow Initiate, Shadow Mage, Arcane Enforcer, Axethrower, Axeman, Ogre, Young Ogre
    terrain_liked=Gg
    [ai]
        time_of_day=dawn,morning,midday,afternoon,indoors
        grouping=defensive
        aggression=0.40
        caution=0.60
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
    [ai]
        time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
        grouping=offensive
        aggression=0.75
        caution=0.25
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
    [ai]
        grouping=offensive
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]
