#textdomain wesnoth-War_of_Legends

[multiplayer_side]
    id=Windsong_EL
    name= _"Windsong"
    image=units/windsong/ascendant.png
    type=random
    leader=Arbiter,Ascendant,Stormbringer,Warmonger,Oathkeeper,Dreadnought,Herald,Rune Forger
    random_leader=Ascendant,Arbiter,Stormbringer,Dreadnought,Herald,Rune Forger
    recruit=Scribe,Savant,Seeker,Pathfinder,Skyrunner,Weaver,Envoy,Prophetess,Gatekeeper,Lorekeeper,Heretic,Courier,Emissary,Reaver,Sky Shard,Sky Crystal
    terrain_liked=Aa, Ha, Ww
    [ai]
        grouping=defensive
        aggression=0.60
        caution=0.40
        recruitment_pattern=mixed fighter,archer,scout,fighter,mixed fighter,scout
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
        {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
        {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
        {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }
    [/ai]
[/multiplayer_side]
