#textdomain wesnoth-War_of_Legends

#define BASE
units/monsters/owl/owl#enddef

[unit_type]
    id=Owl
    name= _ "Owl"
    race=monster
    image="{BASE}-s0.png"
    hitpoints=22
    profile=portraits/monsters/owl.png
    movement_type=smallfly
    movement=8
    experience=33
    level=1
    alignment=neutral
    advances_to=Great Owl
    cost=18
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="{BASE}-s2.png"
        [/frame]
    [/movement_anim]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            image="{BASE}-s[0,1,2,3,4,5].png:[60,90,110,110,90,70]"
        [/frame]
    [/standing_anim]

    usage=scout
    undead_variation=falcon
    description= _ "Owls are winged predators of the northern tundra and forests.  They are usually solitary and hunt small animals such as rats, but when a wolf-pack is taking down larger prey, the owls take advantage of the situation and join in the kill."
    {DEFENSE_ANIM "{BASE}.png" "{BASE}.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}

    [resistance]
        cold=70
    [/resistance]
    [attack]
        name=talons
        description=talons
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=talons
        [/filter_attack]
        start_time=-200
        offset="0~0.6:150,0.6~0:150"
        [frame]
            duration=50
            image="{BASE}-s[1,2,3].png:[100,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [death]
        start_time=0
        dust_start_time=580
        feather_start_time=480
        feather_x="0~12:80,12:40,12~0:80,0~-12:80,-12:40,-12~0:80"
        feather_y="-28~12:600"
        [frame]
            image="{BASE}-die[1~8].png:[150,130,80*3,240,60*2]"
        [/frame]
        [frame]
            image="{BASE}-die8.png~O(0.5):120"
        [/frame]
        [feather_frame]
            image="misc/blank-hex.png:1,{BASE}-feather.png:598,misc/blank-hex.png:1"
        [/feather_frame]
        [dust_frame]
            image="misc/blank-hex.png:1,units/undead/soulless-die-[7~10].png:[90*4],misc/blank-hex.png:1"
            layer=39
            alpha=0.25
            image_mod=~SCALE(120,60)
            auto_vflip=no
            y=12
            #       duration=400
        [/dust_frame]
    [/death]
[/unit_type]

#undef BASE
