#textdomain wesnoth-War_of_Legends

#define BASE
units/monsters/owl/great-owl#enddef

[unit_type]
    id=Great Owl
    name= _ "Great Owl"
    race=monster
    image="{BASE}.png"
    hitpoints=34
    profile=portraits/monsters/owl.webp
    movement_type=smallfly
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="{BASE}-s3.png"
        [/frame]
    [/movement_anim]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            image="{BASE}-s[0,1,2,1,3,4].png:[90,90,90,100,120,100]"
        [/frame]
    [/standing_anim]
    usage=scout
    undead_variation=falcon
    description= _ "The Great Owls are larger and have shaggier plumage than the more common Owls. As a result, they are better insulated against the cold and even have some protection against being struck, though a well-placed piercing arrow will pass through their feathers. Like the common owls, they tend to follow wold-packs, picking off the wounded or panicked prey flushed out by the canine predators."
    {DEFENSE_ANIM "{BASE}.png" "{BASE}.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}

    [resistance]
        cold=30
        impact=60
        blade=80
    [/resistance]
    [attack]
        name=talons
        description= _ "talons"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-200
        offset="0~0.6:150,0.6~0:150"
        [frame]
            duration=50
            image="{BASE}.png:400"
            #            image="{BASE}-s[1,2,3].png:[100,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

#undef BASE
