#textdomain wesnoth-War_of_Legends

# Nightmares, floating darkness tree, lvl 2.
[unit_type]
    id="Cloud of Gloom"
    name= _ "Cloud of Gloom"
    race="nightmare"

    hitpoints="34"
    cost="36"
    movement="7"
    experience="56"
    level="2"

    alignment="chaotic"
    movement_type="darkness"
    advances_to="Eternal Night"
    usage="archer"

    description=_ "King Dowrein I, Memoirs of a mercenary:
'The moon was long set when we heard the wailing again, a terrible sound that seemed to come from everywhere, promising infinite pain. But this time we spied it racing towards us through the trees... there among the darkest shadows, something blacker yet, like a hole in the night.'"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TERROR}

    die_sound="wail-long.wav"
    image="units/nightmares/cloud-of-gloom.png"~O(70%)
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}

    {DEFENSE_ANIM "units/nightmares/cloud-of-gloom.png~O(70%)" "units/nightmares/cloud-of-gloom.png~O(70%)" wail-sml.wav }
    {ATTACK_MELEE_ANIMATION (cold aura) "units/nightmares/cloud-of-gloom.png~O(70%)" wail-sml.wav miss-3.ogg }

    [abilities]
        {ABILITY_TERROR_LEVEL_2}
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name="cold aura"
        description= _ "cold aura"
        icon="attacks/gelid-aura.png"
        type="cold"
        range="melee"
        damage="4"
        number="2"
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack]
        name="howl"
        description=_ "howl"
        icon="attacks/wail.png"
        type="cold"
        range="ranged"
        damage="12"
        number="2"
    [/attack]

    [attack_anim]
        [filter_attack]
            name=howl
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        [frame]
            begin=-250
            end=-150
            image="units/nightmares/cloud-of-gloom.png"~O(70%)
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/nightmares/cloud-of-gloom.png"~O(70%)
            sound=wail.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/nightmares/cloud-of-gloom.png"~O(70%)
                sound=wail.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/nightmares/cloud-of-gloom.png"~O(70%)
                sound=miss-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/nightmares/cloud-of-gloom.png"~O(70%)
        [/frame]
    [/attack_anim]

	[leading_anim]
		alpha=0.7~1:125,1:100:1~0.7:75
		[frame]
                   begin=-150
                   end=150
                   image="units/nightmares/cloud-of-gloom.png"
                [/frame]
	[/leading_anim]
[/unit_type]
