#textdomain wesnoth-War_of_Legends

# Nightmares. Howling darkness tree, lvl3.
[unit_type]
    id="Eternal Night"
    name= _ "Eternal Night"
    race="nightmare"

    hitpoints="45"
    movement="7"
    experience="150"
    level="3"
    cost="52"

    alignment="chaotic"
    movement_type="darkness"
    advances_to="null"
    usage="archer"
    {AMLA_DEFAULT}

    description= _ "King Dowrein I, Memoirs of a mercenary:
'Though dawn should have come, the darkness did not lift, nor would it ever for many of my companions. It had descended on us like the shroud of some dreadful reaver, drifting past our unsuspecting pickets and achieving total surprise. Over the baleful howling of our foe could be heard the hopeless screams of its victims. I dropped my useless sword and fled for the river and its doubtful safety.'"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TERROR}

    die_sound="wail-long.wav"
    image="units/nightmares/eternal-night.png"~O(70%)
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/nightmares/eternal-night.png~O(70%)" "units/nightmares/eternal-night.png~O(70%)" wail-sml.wav }
    {ATTACK_MELEE_ANIMATION (cold aura) "units/nightmares/eternal-night.png~O(70%)" wail-sml.wav miss-3.ogg }

    [abilities]
        {ABILITY_TERROR_LEVEL_3}
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name="cold aura"
        description= _ "cold aura"
        icon="attacks/gelid-aura.png"
        type="cold"
        range="melee"
        damage="7"
        number="2"
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack]
        name="howl"
        description=_ "howl"
        icon="attacks/wail.png"
        type="cold"
        range="ranged"
        damage="12"
        number="3"
    [/attack]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        [frame]
            begin=-250
            end=-150
            image="units/nightmares/eternal-night.png"~O(70%)
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/nightmares/eternal-night.png"~O(70%)
            sound=wail.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/nightmares/eternal-night.png"~O(70%)
                sound=wail.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/nightmares/eternal-night.png"~O(70%)
                sound=miss-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/nightmares/eternal-night.png"~O(70%)
        [/frame]
    [/attack_anim]

	[leading_anim]
		alpha=0.7~1:125,1:100:1~0.7:75
		[frame]
                    begin=-150
                    end=150
                    image="units/nightmares/eternal-night.png"
                [/frame]
	[/leading_anim]
[/unit_type]
