#textdomain wesnoth-War_of_Legends
[unit_type]
    id=Legion Spearman
    name= _ "Legion Spearman"
    race=human
    image="units/human-legion/spearman.png"

    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=42
    level=1
    alignment=chaotic
    advances_to=Legion Halberdier,Legion Gunner
    cost=14
    usage=mixed fighter
    description= _ "Swords are, for many, an expensive luxury, and one which peasants can ill afford. Spears are much easier to make and will do well even without a spearhead, though most can afford one. Clad in leather armor, and often armed with a shield and a few javelins, spearmen are the staple of most armies, often thrown into the front lines with only the most basic training."
    {NOTE_FIRSTSTRIKE}

    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=7
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=1
    [/attack]
    {DEFENSE_ANIM "units/human-legion/spearman.png" "units/human-legion/spearman.png" {SOUND_LIST:HUMAN_HIT} }
    {GENERIC_SPEAR_ANIM spear "units/human-legion/spearman.png"}
    {GENERIC_JAVELIN_ANIM javelin "units/human-legion/spearman.png"}
[/unit_type]
