#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Aragwaith Sorceress
    name= _ "female^Sorceress"
    race=aragwaith
    gender=female
    image="units/human-aragwaithi/sorceress.png"
    profile="portraits/aragwaithi/enchantress.png"

    hitpoints=47
    movement_type=aragwaithfoot
    movement=6
    experience=150
    [resistance]
        fire=80
    [/resistance]
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=62
    usage=healer
    description= _ "The mighty Aragwaith Sorceresses are agile like the wind. They can confound their opponents by standing in front of them seemingly defenseless; once the attacker hits, they realize their victim is actually behind them, ready to land her own killing blow. Because of their vast and intimate knowledge of both defensive and offensive magic, even the higher ranks of the Aragwaithi regard these women with great respect and caution."

    [abilities]
        {ABILITY_CURES}
        {ABILITY_TELEPORT}
    [/abilities]
    [healing_anim]
        start_time=-275
        [frame]
            image="units/human-aragwaithi/sorceress-heal.png:55"
        [/frame]
        [frame]
            image="units/human-aragwaithi/sorceress-heal.png"
            halo="halo/aragwaithi/heal-halo-[1~9].png:55"
        [/frame]
        [frame]
            image="units/human-aragwaithi/sorceress-heal.png:55"
        [/frame]
    [/healing_anim]
    {DEFENSE_ANIM_RANGE "units/human-aragwaithi/sorceress-attack.png" "units/human-aragwaithi/sorceress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/human-aragwaithi/sorceress.png" "units/human-aragwaithi/sorceress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} ranged }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {GENERIC_STAFF_ANIM staff "units/human-aragwaithi/sorceress-attack.png"}

    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 11 -20}

        start_time=-400
        sound_start_time=-150

        [frame]
            image="units/human-aragwaithi/sorceress-heal.png"
            sound=fire.wav
            halo="halo/elven/shyde-stationary-halo[1~6].png~CS(80,-10,-20):50"
        [/frame]
        [frame]
            image="units/human-aragwaithi/sorceress.png:50"
        [/frame]
    [/attack_anim]

    [variation]
        variation_id=alternate
        variation_name= _ "Alternate"
        inherit=yes
        hide_help=yes
        image="units/human-aragwaithi/sorceress-alt.png"
    [/variation]
[/unit_type]
