#textdomain wesnoth-War_of_Legends

[unit_type]
    id=Aragwaith Scout
    name= _ "Scout"
    race=aragwaith
    image="units/human-aragwaithi/scout.png"

    hitpoints=36
    movement_type=aragwaithmounted
    movement=8
    experience=40
    level=1
    alignment=neutral
    advances_to=Aragwaith Lancer
    undead_variation=mounted
    cost=18
    usage=scout
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/human-aragwaithi/scout-defend.png" "units/human-aragwaithi/scout.png" {SOUND_LIST:HORSE_HIT} }

    [movement_anim]
        start_time=0
        [frame]
            image="units/human-aragwaithi/scout-moving.png:150"
        [/frame]
    [/movement_anim]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=11
        number=2
    [/attack]

    {GENERIC_MOUNTED_SPEAR_ANIM spear "units/human-aragwaithi/scout-moving.png"}
[/unit_type]
