#textdomain wesnoth-War_of_Legends

# Great sprites, only a shame the standing animation doesn't fit.
# Changed name as warlock, sorcerer and wizard are masculine
[unit_type]
    id=Aragwaith Adept
    name= _ "female^Adept"
    race=aragwaith
    gender=female
    image="units/human-aragwaithi/adept.png"

    hitpoints=23
    movement_type=aragwaithfoot
    movement=5
    experience=50
    level=1
    alignment=neutral
    advances_to=Aragwaith Enchantress
    cost=22
    usage=healer
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [healing_anim]
        start_time=-275
        [frame]
            image="units/human-aragwaithi/adept-heal-1.png:55"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept-heal-2.png"
            halo="halo/aragwaithi/heal-halo-[1~9].png:55"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept-heal-3.png:55"
        [/frame]
    [/healing_anim]
    description= _ "The increasingly rare magically-gifted noblewomen of the Aragwaithi function as the lorekeepers of their unique civilization, possessing vast knowledge about the history of Irdya and the many trials faced by their ancestors. But the path to reach their status and earn the Grand Council's trust and respect is arduous, and much of their lives is spent training in the marches, far away from their kin. In those parts, the ability to create and control flames is highly versatile, as well as the mastery of the arts of healing."

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [defend]
        start_time=-150
        [frame]
            image="units/human-aragwaithi/adept.png:1"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept-defend-[1~3].png:[49,50,100]"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept.png:1"
        [/frame]

        {SOUND:HIT {SOUND_LIST:HUMAN_FEMALE_HIT} -50}
    [/defend]

    [idle_anim]
        start_time=0
        {STANDARD_IDLE_FILTER}
        [frame]
            image="units/human-aragwaithi/adept-idle-[1~5].png:500"
        [/frame]
    [/idle_anim]

    [attack]
        name=kick
        description={STR_KICK}
        icon=attacks/foot-shoe.png
        type=impact
        range=melee
        damage=7
        number=1
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]

        start_time=-250

        [frame]
            image="units/human-aragwaithi/adept-attack-[1~6].png:75"
        [/frame]

        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 11 -20}

        start_time=-475
        sound_start_time=-150

        [frame]
            image="units/human-aragwaithi/adept-ranged-1.png:75"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept-ranged-2.png"
            sound=fire.wav
            halo="halo/elven/shyde-stationary-halo[1~6].png~CS(80,-10,-20):50"
        [/frame]
        [frame]
            image="units/human-aragwaithi/adept.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
