name: lint

on: [push, pull_request]

env:
  WESNOTH_VERSION: 1.16.5

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Lint WML
      uses: czyzby/wesnoth-wml-linter@latest
      with:
        wesnoth-version: ${{ env.WESNOTH_VERSION }}
        spellcheck: false